Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

CR
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: Task Executor

Turn algorithm memory to java memory
  core/algorithm-builder/environments/java/runJava.sh
Labels: HKube: Algorithm Builder

Turn algorithm memory to java memory
  core/algorithm-builder/environments/java/runJava.sh
Labels: HKube: Algorithm Builder

add warning for algorithm-queue not created
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/test.js
Labels: HKube: Algorithm-Operator

Move memory manipulation to task executor
  core/algorithm-builder/environments/java/runJava.sh
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Algorithm Builder, HKube: Task Executor

add warning for algorithm-queue not created (#967)
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/test.js
Labels: HKube: Algorithm-Operator

add warning for algorithm-queue not created (#967) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

add warning for algorithm-queue not created (#967) .... bump version [skip ci]
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
Labels: HKube: Algorithm-Operator

fix: flowInputMetadata
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/lib/service/execution.js
Labels: HKube: API-Server

fix: flowInputMetadata
  core/api-server/lib/service/execution.js
  package-lock.json
  package.json
Labels: HKube: API-Server

CR2
  core/algorithm-builder/environments/java/runJava.sh
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Algorithm Builder, HKube: Task Executor

fix: add test for caching flowInputMetadata
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-raw.js
Labels: HKube: API-Server

missing file
  core/task-executor/lib/consts/envs.js
Labels: HKube: Task Executor

lint fixes
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: add rootJobId to enable exec/caching on any pipeline
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-raw.js
  core/caching-service/lib/runner.js
Labels: HKube: API-Server, HKube: Caching Service

Add test
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

install and use jzmq implementation
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/runJava.sh
Labels: HKube: Algorithm Builder

Merge pull request #963 from kube-HPC/Alg_Mem_As_Env
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Algorithm Builder, HKube: Task Executor

Merge pull request #963 from kube-HPC/Alg_Mem_As_Env
  package-lock.json
  package.json
Labels: none

bring debs for dockerfile install
  core/algorithm-builder/environments/java/debs/libnorm1_1.5r6+dfsg1-6_amd64.deb
  core/algorithm-builder/environments/java/debs/libpgm-5.2-0_5.2.122~dfsg-2_amd64.deb
  core/algorithm-builder/environments/java/debs/libsodium23_1.0.16-2_amd64.deb
  core/algorithm-builder/environments/java/debs/libzmq-java_3.1.0-10_amd64.deb
  core/algorithm-builder/environments/java/debs/libzmq-jni_3.1.0-10_amd64.deb
  core/algorithm-builder/environments/java/debs/libzmq5_4.2.5-1ubuntu0.2_amd64.deb
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.29
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

fix: caching flowInput (#971)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-raw.js
  core/caching-service/lib/runner.js
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Caching Service

fix: caching flowInput (#971)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Caching Service

fix: caching flowInput (#971)
  package-lock.json
  package.json
Labels: none

add ALGORITHM_DISCONNECTED_TIMEOUT_MS to template
  core/task-executor/lib/templates/worker.js
Labels: HKube: Task Executor

add ALGORITHM_DISCONNECTED_TIMEOUT_MS to template (#978)
  core/task-executor/lib/templates/worker.js
Labels: HKube: Task Executor

add ALGORITHM_DISCONNECTED_TIMEOUT_MS to template (#978) .... bump version [skip ci]
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Task Executor

add ALGORITHM_DISCONNECTED_TIMEOUT_MS to template (#978) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

getting zmq dependencies upon build
  core/algorithm-builder/.travis.yml
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/debs/libnorm1_1.5r6+dfsg1-6_amd64.deb
  core/algorithm-builder/environments/java/debs/libpgm-5.2-0_5.2.122~dfsg-2_amd64.deb
  core/algorithm-builder/environments/java/debs/libsodium23_1.0.16-2_amd64.deb
  core/algorithm-builder/environments/java/debs/libzmq-java_3.1.0-10_amd64.deb
  core/algorithm-builder/environments/java/debs/libzmq-jni_3.1.0-10_amd64.deb
  core/algorithm-builder/environments/java/debs/libzmq5_4.2.5-1ubuntu0.2_amd64.deb
Labels: HKube: Algorithm Builder

change default algorithms resources
  core/api-server/lib/examples/algorithms.json
Labels: HKube: API-Server

change default algorithms resources (#980)
  core/api-server/lib/examples/algorithms.json
Labels: HKube: API-Server

change default algorithms resources (#980) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

change default algorithms resources (#980) .... bump version [skip ci]
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

remove pending algorithms from task-executor
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/normalizeTests.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/templateStore.js
Labels: HKube: Task Executor

feat: add dataSource support
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/inner-validator.js
Labels: HKube: API-Server

change implementation
  core/task-executor/lib/helpers/etcd.js
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/normalizeTests.js
Labels: HKube: Task Executor

control resources of pipeline-driver
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorPdTests.js
Labels: HKube: Task Executor

cleanup
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: Task Executor

control pipeline-driver resources (#984)
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorPdTests.js
Labels: HKube: Task Executor

CR
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder
