Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

implemented dvc push
  core/api-server/bootstrap.js
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/utils/dvc.js
  core/api-server/lib/utils/normalize.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

updated bucket name
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

fix: db migration
  core/algorithm-queue/bootstrap.js
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/persistency/db.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/state/state-manager.js
  core/worker/config/main/config.base.js
Labels: HKube: Algorithm Queue, HKube: API-Server, HKube: Worker

Merge pull request #1047 from kube-HPC/update_python_wrapper_to_2_1_0_dev8
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

Merge pull request #1047 from kube-HPC/update_python_wrapper_to_2_1_0_dev8
  package-lock.json
  package.json
Labels: none

Merge pull request #1040 from kube-HPC/internal-artifactory
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

Merge pull request #1040 from kube-HPC/internal-artifactory
  package-lock.json
  package.json
Labels: none

user internal artifactory in java builder
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

added listVersions method, type cleanups
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

added datasource versions list
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/datasource.utils.js
Labels: HKube: API-Server

remove m2 creation
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

remove m2 dir creation in java builder
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

feat: db migration
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/internal.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/common.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/internal.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/setup.js
  core/api-server/tests/storage.js
Labels: HKube: API-Server

ignore .pyc files
  core/algorithm-builder/environments/common/docker-entrypoint.sh
Labels: HKube: Algorithm Builder

feat: db migration
  core/algorithm-operator/lib/helpers/db.js
  core/algorithm-operator/lib/helpers/kubernetes.js
  core/algorithm-operator/lib/helpers/tracing.js
  core/algorithm-operator/lib/operator.js
  core/api-server/lib/examples/pipelines-updater.js
  core/api-server/lib/state/state-manager.js
  core/api-server/tests/common.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/internal.js
  core/api-server/tests/pipelines-store.js
  core/caching-service/bootstrap.js
  core/caching-service/config/main/config.base.js
  core/pipeline-driver-queue/lib/persistency/persistence.js
  core/pipeline-driver-queue/tests/test.js
  core/resource-manager/lib/store/store-manager.js
  core/resource-manager/tests/mocks/adapters/store-manager.js
  core/task-executor/lib/executor.js
  core/task-executor/lib/helpers/etcd.js
  core/task-executor/lib/helpers/kubernetes.js
  core/task-executor/lib/helpers/tracing.js
  core/task-executor/tests/setup.js
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/trigger-service/tests/mocks/api-server.js
  core/trigger-service/tests/mocks/store-manager.js
  core/trigger-service/tests/test.js
Labels: HKube: Algorithm-Operator, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Trigger Service

fixed byPath mapping
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

read redirected logs from debug worker
  core/algorithm-operator/lib/consts/containers.js
  core/worker/lib/algorithm-communication/loopback.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/algorithm-communication/socket-io.js
  core/worker/lib/algorithm-communication/workerCommunication.js
  core/worker/lib/algorithm-logging/logging-proxy.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
  core/worker/lib/code-api/subpipeline/subpipeline.js
  core/worker/lib/worker.js
  core/worker/test/mocks/algorunner-mock.js
  core/worker/test/mocks/messages.js
  core/worker/test/workerCommunicationTest.js
  core/worker/test/workerSubPipelineTest.js
Labels: HKube: Algorithm-Operator, HKube: Worker

deepscan fix
  core/worker/lib/algorithm-logging/logging-proxy.js
Labels: HKube: Worker

ignore .pyc files (#1050)
  core/algorithm-builder/environments/common/docker-entrypoint.sh
Labels: HKube: Algorithm Builder

ignore .pyc files (#1050) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

ignore .pyc files (#1050) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

fixed dropping datasource version on fail
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

update stale.yml [skip ci]
  .github/stale.yml
Labels: none

added uploading .meta files
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/mocks/dataSources/logo.svg
  core/api-server/tests/mocks/dataSources/logo.svg.meta
Labels: HKube: API-Server

feat: improve scale down
  core/worker/lib/consts/worker-commands.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/worker.js
Labels: HKube: Worker

removed dataSource related files from the api-server
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger/definitions-internal/dataSourceName.yaml
  core/api-server/api/rest-api/swagger/definitions-internal/index.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSource.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceCreate.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceFileMeta.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceFiles.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceMeta.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceName.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceUploadFile.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_file.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_name.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/tags/index.yaml
  core/api-server/bootstrap.js
  core/api-server/lib/consts/regex.js
  core/api-server/lib/consts/validationMessages.js
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/validation/api-validator.js
  core/api-server/lib/validation/custom-formats.js
  core/api-server/lib/validation/dataSource.js
  core/api-server/lib/validation/index.js
  core/api-server/tests/dataSource.service.test.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/datasource.utils.js
  core/api-server/tests/mocks/dataSources/logo.svg
  core/api-server/tests/mocks/dataSources/logo.svg.meta
  core/api-server/tests/mocks/updatedVersions/README-1.md
Labels: HKube: API-Server

updated dockerfile
  core/datasources-service/dockerfile/Dockerfile
Labels: none

feat: update @hkube/db version
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/lib/reconcile/algorithm-debug.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/mocks/worker.js
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/lib/triggers/cron-trigger.js
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

added validator for binary files
  core/datasources-service/lib/consts/validationMessages.js
  core/datasources-service/lib/validation/custom-formats.js
Labels: none

re-organized the test files
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/datasource.utils.js
  core/datasources-service/tests/request.js
  core/datasources-service/tests/setup.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
Labels: none

feat: improve tests
  core/algorithm-operator/lib/helpers/db.js
  core/algorithm-operator/tests/test.js
Labels: HKube: Algorithm-Operator

add mongo env and docker
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/lib/templates/algorithm-builder.js
  core/algorithm-operator/lib/templates/algorithm-queue.js
  core/algorithm-operator/lib/templates/worker-debug.js
  core/algorithm-queue/config/main/config.base.js
  core/api-server/config/main/config.base.js
  core/caching-service/config/main/config.base.js
  core/pipeline-driver-queue/config/main/config.base.js
  core/pipeline-driver/config/main/config.base.js
  core/resource-manager/config/main/config.base.js
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/templates/pipeline-driver.js
  core/task-executor/lib/templates/worker.js
  core/trigger-service/config/main/config.base.js
  core/worker/config/main/config.base.js
  scripts/beforeInstall.sh
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

fix lint
  core/trigger-service/.eslintrc.js
Labels: HKube: Trigger Service

feat: improve data migration
  core/algorithm-builder/lib/state/state-manager.js
  core/api-server/.eslintignore
  core/api-server/lib/examples/pipelines-updater.js
  core/api-server/lib/state/state-manager.js
Labels: HKube: Algorithm Builder, HKube: API-Server

cleanups
  core/datasources-service/api/rest-api/app-server.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/tests/setup.js
Labels: none

feat: improve data migration
  core/api-server/config/logger/config.base.js
  core/api-server/lib/examples/pipelines-updater.js
Labels: HKube: API-Server

fixed creation of irrelevant dirs, improved preformance of _execute
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/update.test.js
Labels: none

feat: improve scale down
  core/worker/config/main/config.base.js
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/lib/worker.js
Labels: HKube: Worker

feat: improve scale down
  core/worker/lib/streaming/services/service-discovery.js
Labels: HKube: Worker

fixed uploading meta data to a subdir
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/tests/update.test.js
Labels: none

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
