Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

version 2.0
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

version 2.0 .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

version 2.0 .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

fix: _updateCapacity args
  core/task-executor/lib/reconcile/reconciler.js
Labels: HKube: Task Executor

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
Labels: HKube: Task Executor

added datasource put documentation
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_id.yaml
Labels: HKube: API-Server

added datasource tag
  core/api-server/api/rest-api/swagger/tags/index.yaml
Labels: HKube: API-Server

feat: add WINDOW_SIZE_FACTOR
  core/task-executor/lib/reconcile/reconciler.js
Labels: HKube: Task Executor

feat: update CHANGELOG.md
  CHANGELOG.md
Labels: none

updated docs
  core/api-server/api/rest-api/swagger/definitions/dataSource.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceFileMeta.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_id.yaml
Labels: HKube: API-Server

feat: improve createRequestsWindow function
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: improve createRequestsWindow function
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: improve createRequestsWindow function
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: improve createRequestsWindow function
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: improve createRequestsWindow function
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: make versions work with id
  core/api-server/api/rest-api/app-server.js
  core/api-server/api/rest-api/routes/v1/versions.js
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmVersionId.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmVersionTag.yaml
  core/api-server/api/rest-api/swagger/definitions/applyAlgorithmVersion.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/tag.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/versions/tag.yaml
  core/api-server/bootstrap.js
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/versions.js
Labels: HKube: API-Server

partially added dataSource routes and docs
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger/definitions-internal/dataSourceName.yaml
  core/api-server/api/rest-api/swagger/definitions-internal/index.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceCreate.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource.yaml
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/consts/regex.js
  core/api-server/lib/consts/validationMessages.js
  core/api-server/lib/db/index.js
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/validation/api-validator.js
  core/api-server/lib/validation/custom-formats.js
  core/api-server/lib/validation/dataSource.js
  core/api-server/lib/validation/index.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/scripts/startServices.sh
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

implemented get and delete methods
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/setup.js
Labels: HKube: API-Server

fix wrong validation of algorithmEnv
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

fix wrong validation of algorithmEnv (#994)
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

fix wrong validation of algorithmEnv (#994)
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

fix wrong validation of algorithmEnv (#994) .... bump version [skip ci]
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

fix wrong validation of algorithmEnv (#994) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

support install enclosed enve
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/setting.xml
Labels: HKube: Algorithm Builder

extracted stream related functions
  core/api-server/lib/stream/index.js
Labels: HKube: API-Server

implemented fetching files data
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

feat: add algorithms versioning
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-builder/package-lock.json
  core/api-server/api/rest-api/routes/v1/versions.js
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/versions/apply.yaml
  core/api-server/api/rest-api/swagger/paths/versions/version.yaml
  core/api-server/api/rest-api/swagger/paths/versions/version_id.yaml
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/versions.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/versions.js
Labels: HKube: Algorithm Builder, HKube: API-Server

implemented PUT, list dataSource and added typedefs
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

cleanups
  core/api-server/lib/validation/dataSource.js
Labels: HKube: API-Server

minimize setting.xml
  core/algorithm-builder/environments/java/dockerfile/setting.xml
Labels: HKube: Algorithm Builder

rename settings.xml
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

typo
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

copy settings xml one line
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/cpy-settings
Labels: HKube: Algorithm Builder

fix malformed settings.xml + deployment descriptor jar name
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

feat: add algorithms versioning
  core/api-server/api/rest-api/swagger/definitions/pipelineNode.yaml
  core/api-server/bootstrap.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-raw.js
  core/api-server/tests/pipelines-store.js
Labels: HKube: API-Server

added rollback on create datasource fail
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
