Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

java wrapper version 1.3.03
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

java wrapper version 1.3.03 .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm Builder, HKube: Worker

java wrapper version 1.3.03 .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

java wrapper version 1.3.04
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

feat: add stream flow
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/mocks/pipelines.json
  core/api-server/tests/pipelines-store.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/stream-service.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: add stream flow
  core/api-server/lib/service/pipeline-creator.js
Labels: HKube: API-Server

feat: fix worker test for stream flow
  core/api-server/package-lock.json
  core/api-server/package.json
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Worker

feat: fix PR issues
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/mocks/pipelines.json
  core/api-server/tests/pipelines-store.js
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/worker.js
Labels: HKube: API-Server, HKube: Worker

update nodejs wrapper to 2.0.25
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

add stream flow, improve scale up/down (#1023)
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/mocks/pipelines.json
  core/api-server/tests/pipelines-store.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/.travis.yml
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/producer/producer.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: delete all .travis.yml
  core/algorithm-builder/.travis.yml
  core/algorithm-operator/.travis.yml
  core/algorithm-queue/.travis.yml
  core/api-server/.travis.yml
  core/caching-service/.travis.yml
  core/pipeline-driver-queue/.travis.yml
  core/pipeline-driver/.travis.yml
  core/resource-manager/.travis.yml
  core/task-executor/.travis.yml
  core/trigger-service/.travis.yml
  core/worker/.travis.yml
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

add stream flow, improve scale up/down (#1023)
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

add stream flow, improve scale up/down (#1023)
  package-lock.json
  package.json
Labels: none

feat: delete all .travis.yml (#1027)
  core/algorithm-builder/.travis.yml
  core/algorithm-operator/.travis.yml
  core/algorithm-queue/.travis.yml
  core/api-server/.travis.yml
  core/caching-service/.travis.yml
  core/pipeline-driver-queue/.travis.yml
  core/pipeline-driver/.travis.yml
  core/resource-manager/.travis.yml
  core/task-executor/.travis.yml
  core/trigger-service/.travis.yml
  core/worker/.travis.yml
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: delete all .travis.yml (#1027) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: delete all .travis.yml (#1027) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.25 (#1026)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.25 (#1026)
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.25 (#1026)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

add code api to nodejs wrapper
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

add code api to nodejs wrapper .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

add code api to nodejs wrapper .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

fix: : Cannot set property 'error' of null, remove custom stream child
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/streaming/services/stream-service.js
Labels: HKube: Pipeline Driver, HKube: Worker

fix:: eslint
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/streaming/services/stream-service.js
Labels: HKube: Pipeline Driver, HKube: Worker

fix: tests
  core/worker/test/streaming.js
Labels: HKube: Worker

fix: : Cannot set property 'error' of null, remove custom stream child (#1028)
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

fix: : Cannot set property 'error' of null, remove custom stream child (#1028)
  package-lock.json
  package.json
Labels: none

fix: : Cannot set property 'error' of null, remove custom stream child (#1028)
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: Worker

feat: add buildId to version after successful build
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/versions.js
Labels: HKube: API-Server

feat: add buildId to version after successful build (#1029)
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/versions.js
Labels: HKube: API-Server

cleanups, re-generated swagger.json
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/tests/common.js
Labels: HKube: API-Server

ci - github action
  .github/workflows/pr.yaml
  no.travis.yml
Labels: none

Update README.md
  core/api-server/README.md
Labels: HKube: API-Server

ci
  .github/workflows/pr.yaml
Labels: none

ci
  .github/workflows/pr.yaml
Labels: none

ci
  .github/workflows/pr.yaml
  scripts/runTestAndBuild.sh
Labels: none

ci
  .github/workflows/automerge.yml
  .github/workflows/pr.yaml
Labels: none

ci
  .github/workflows/pr.yaml
Labels: none

ci
  .github/workflows/pr.yaml
Labels: none

ci
  .github/workflows/pr.yaml
Labels: none
