Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: streaming retry
  core/api-server/lib/service/pipeline-creator.js
Labels: HKube: API-Server

feat: streaming retry
  core/api-server/lib/service/pipeline-creator.js
Labels: HKube: API-Server

feat: streaming retry
  core/api-server/lib/service/pipeline-creator.js
Labels: HKube: API-Server

feat: streaming retry (#1107)
  core/api-server/lib/service/pipeline-creator.js
Labels: HKube: API-Server

feat: streaming retry (#1107)
  package-lock.json
  package.json
Labels: none

feat: streaming retry (#1107)
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

bugfixes, improved tests
  core/datasources-service/.prettierignore
  core/datasources-service/lib/service/downloads.js
  core/datasources-service/lib/utils/DvcClient.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/setup.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
Labels: none

add stop to isDiscovery
  core/worker/lib/streaming/services/service-discovery.js
Labels: HKube: Worker

add stop to isDiscovery (#1111)
  core/worker/lib/streaming/services/service-discovery.js
Labels: HKube: Worker

add stop to isDiscovery (#1111)
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

add stop to isDiscovery (#1111)
  package-lock.json
  package.json
Labels: none

restored default storage config, added dedicated storage-manager
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/config/main/config.test.js
Labels: none

cleanups
  core/api-server/config/main/config.test.js
  core/worker/run.sh
Labels: HKube: API-Server, HKube: Worker

fix datasource-in-use folder
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/dvcConfig.js
  core/datasources-service/lib/utils/pathUtils.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/resource-manager/package-lock.json
  core/worker/config/main/config.base.js
  core/worker/lib/helpers/pathUtils.js
  core/worker/lib/states/stateAdapter.js
Labels: HKube: Worker

revert changing api-server tests storage to s3
  core/api-server/config/main/config.test.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.1.0.dev15
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

add worker mounting
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Task Executor

fix deepscan
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: Task Executor

fix worker env
  core/task-executor/lib/templates/worker.js
Labels: HKube: Task Executor

fix deploy template
  scripts/values-dev1-template.yml
Labels: none

fix deploy
  scripts/values-dev1-template.yml
Labels: none

update python wrapper in builder to version 2.1.0.dev16
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

Datasource (#996)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

Datasource (#996)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.1.0.dev16 (#1113)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev16 (#1113) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev16 (#1113) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

implemented delete from git and storage
  core/datasources-service/bootstrap.js
  core/datasources-service/lib/DedicatedStorage.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/setup.js
Labels: none

bugfixes
  core/datasources-service/bootstrap.js
  core/datasources-service/lib/service/dataSource.js
Labels: none

fix component
  core/datasources-service/bootstrap.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/tests/setup.js
Labels: none

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
