Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

debug problem
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

feat: add algorithms versioning
  core/api-server/api/rest-api/routes/v1/versions.js
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmApplyOptions.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmVersionTag.yaml
  core/api-server/api/rest-api/swagger/definitions/applyAlgorithmVersion.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/versions/version_id.yaml
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/versions.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/utils.js
  core/api-server/tests/versions.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/worker/config/main/config.base.js
  core/worker/lib/states/stateAdapter.js
Labels: HKube: API-Server, HKube: Task Executor, HKube: Worker

feat: add algorithms versioning
  core/task-executor/tests/normalizeTests.js
Labels: HKube: Task Executor

improved coverage
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

feat: add algorithms versioning
  core/api-server/lib/service/versions.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/versions.js
Labels: HKube: API-Server

fixed empty slots on array initialization
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

feat: add algorithms versioning
  core/api-server/lib/service/algorithms.js
Labels: HKube: API-Server

updated package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

Install dependencies with the version we use
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

remove plugin
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

support java build in disconnected environment (#995)
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/cpy-settings
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

support java build in disconnected environment (#995)
  package-lock.json
  package.json
Labels: none

support java build in disconnected environment (#995)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

support java build in disconnected environment (#995)
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/cpy-settings
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

feat: PR issues
  core/api-server/.eslintrc.js
  core/api-server/api/rest-api/swagger/definitions/algorithmApplyOptions.yaml
  core/api-server/lib/service/versions.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: PR issues
  core/task-executor/lib/reconcile/normalize.js
Labels: HKube: Task Executor

dropped only notation
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

converted response status to http-status-codes constant
  core/api-server/api/rest-api/routes/v1/datasource.js
Labels: HKube: API-Server

feat: trigger deploy
  core/task-executor/README.md
  core/worker/README.md
Labels: HKube: Task Executor, HKube: Worker

modified response types and docs
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/dataSourceFile.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceFileExt.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceUploadFile.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_id.yaml
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/validation/custom-formats.js
  core/api-server/lib/validation/dataSource.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

updates for java algorithm
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server

updates for java algorithm
  package-lock.json
  package.json
Labels: none

fixed file upload and validation schemas
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger/definitions/dataSourceCreate.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceUploadFile.yaml
  core/api-server/lib/consts/regex.js
  core/api-server/lib/consts/validationMessages.js
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/validation/custom-formats.js
  core/api-server/lib/validation/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

moved validations back into the services
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

feat: create multiple versions in concurrent mode
  core/api-server/lib/service/versions.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/utils.js
  core/api-server/tests/versions.js
Labels: HKube: API-Server

feat: create multiple versions in concurrent mode
  core/api-server/lib/service/versions.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

fixed error handling on fetch file
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

improved db imports
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/bootstrap.js
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

feat: make versions work with id (#992)
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-builder/package-lock.json
  core/api-server/.eslintrc.js
  core/api-server/api/rest-api/app-server.js
  core/api-server/api/rest-api/routes/v1/versions.js
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmApplyOptions.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmVersionId.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmVersionTag.yaml
  core/api-server/api/rest-api/swagger/definitions/applyAlgorithmVersion.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/pipelineNode.yaml
  core/api-server/api/rest-api/swagger/definitions/tag.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/versions/tag.yaml
  core/api-server/api/rest-api/swagger/paths/versions/version.yaml
  core/api-server/api/rest-api/swagger/paths/versions/version_id.yaml
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/versions.js
  core/task-executor/README.md
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/normalizeTests.js
  core/worker/README.md
  core/worker/config/main/config.base.js
  core/worker/lib/states/stateAdapter.js
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Task Executor, HKube: Worker

move to travis.ci.com
  scripts/trigger.js
Labels: none

move to travis.ci.com .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

move to travis.ci.com .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Task Executor, HKube: Worker

fixed delete return value
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

updated response keys
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger/definitions/dataSource.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceFileMeta.yaml
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

dropped irrelevant comment
  core/api-server/api/rest-api/swagger/definitions/dataSourceFile.yaml
Labels: HKube: API-Server

updated file validation
  core/api-server/lib/consts/regex.js
  core/api-server/lib/validation/custom-formats.js
Labels: HKube: API-Server

updated package.json
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

added dataSource prefix
  core/api-server/lib/service/execution.js
Labels: HKube: API-Server

updated hkube/db version
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

converted local utilities to the common lib
  core/api-server/api/rest-api/routes/v1/storage.js
Labels: HKube: API-Server
