Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

Jaeger openshift (#883)
  package-lock.json
  package.json
Labels: none

Jaeger openshift (#883)
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Algorithm-Operator, HKube: Task Executor

fix error
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
Labels: HKube: Algorithm-Operator

fix error .... bump version [skip ci]
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
Labels: HKube: Algorithm-Operator

fix error .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: swagger updates
  core/api-server/api/rest-api/routes/v1/builds.js
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/api/rest-api/swagger/definitions/pipelineNode.yaml
  core/api-server/tests/pipelines-store.js
Labels: HKube: API-Server

feat: seperate api validator to files
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/cron.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/experiment.js
  core/api-server/lib/service/graph.js
  core/api-server/lib/service/internal.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/readme.js
  core/api-server/lib/service/storage.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/service/webhooks.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/api-validator.js
  core/api-server/lib/validation/boards.js
  core/api-server/lib/validation/builds.js
  core/api-server/lib/validation/cron.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/experiments.js
  core/api-server/lib/validation/formats.js
  core/api-server/lib/validation/graphs.js
  core/api-server/lib/validation/index.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/lib/validation/internal.js
  core/api-server/lib/validation/jobs.js
  core/api-server/lib/validation/lists.js
  core/api-server/lib/validation/pipelines.js
Labels: HKube: API-Server

feat: seperate api validator to files
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/custom-formats.js
  core/api-server/lib/validation/inner-validator.js
Labels: HKube: API-Server

feat: seperate api validator to files (#884)
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/cron.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/experiment.js
  core/api-server/lib/service/graph.js
  core/api-server/lib/service/internal.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/readme.js
  core/api-server/lib/service/storage.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/service/webhooks.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/api-validator.js
  core/api-server/lib/validation/boards.js
  core/api-server/lib/validation/builds.js
  core/api-server/lib/validation/cron.js
  core/api-server/lib/validation/custom-formats.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/experiments.js
  core/api-server/lib/validation/graphs.js
  core/api-server/lib/validation/index.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/lib/validation/internal.js
  core/api-server/lib/validation/jobs.js
  core/api-server/lib/validation/lists.js
  core/api-server/lib/validation/pipelines.js
Labels: HKube: API-Server

feat: seperate api validator to files (#884)
  package-lock.json
  package.json
Labels: none

feat: seperate api validator to files (#884)
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: find and run all entry nodes and stateful nodes
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/consumer.js
  core/pipeline-driver/tests/mocks/pipelines.json
  core/pipeline-driver/tests/producer.js
  core/pipeline-driver/tests/progress.js
  core/pipeline-driver/tests/setup.js
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
  core/pipeline-driver/tests/test.js
  core/pipeline-driver/tests/utils.js
Labels: HKube: Pipeline Driver

update nodejs wrapper to 2.0.14 (#882)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.14 (#882)
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.14 (#882)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

add automerge action [skip ci]
  .github/workflows/automerge.yml
Labels: none

feat: pd split test files
  core/pipeline-driver/tests/consumer.js
  core/pipeline-driver/tests/mocks/pipelines.json
  core/pipeline-driver/tests/producer.js
  core/pipeline-driver/tests/progress.js
  core/pipeline-driver/tests/setup.js
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
  core/pipeline-driver/tests/test.js
  core/pipeline-driver/tests/utils.js
Labels: HKube: Pipeline Driver

feat: pd split test files
  core/pipeline-driver/tests/producer.js
Labels: HKube: Pipeline Driver

feat: back-pressure
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/producer.js
  core/pipeline-driver/tests/task-runner.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/boards/boards.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/streaming/back-pressure.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/back-pressure.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: add auto-scaler
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/bootstrap.js
  core/worker/lib/auto-scale/auto-scaler.js
  core/worker/lib/auto-scale/discovery.js
  core/worker/lib/auto-scale/metrics.js
  core/worker/lib/auto-scale/setting.json
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
  core/worker/lib/code-api/algorithm-execution/schema.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/producer/producer.js
  core/worker/lib/producer/schema.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/back-pressure.js
  core/worker/lib/worker.js
  core/worker/test/auto-scaler.js
  core/worker/test/back-pressure.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: discovery
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/.eslintrc.js
  core/worker/lib/auto-scale/discovery.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/discovery.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/setting.json
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/auto-scaler.js
Labels: HKube: Pipeline Driver, HKube: Worker

add deployment actions [skip ci]
  .github/workflows/createDeployment.yml
  .github/workflows/deploy.yml
Labels: none

fix deployment required_contexts [skip ci]
  .github/workflows/createDeployment.yml
Labels: none

fix deployment required_contexts [skip ci]
  .github/workflows/createDeployment.yml
Labels: none

fix deployment required_contexts [skip ci]
  .github/workflows/createDeployment.yml
Labels: none

fix deployment required_contexts [skip ci]
  .github/workflows/deploy.yml
Labels: none

feat: discovery, metrics
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/config/main/config.base.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/pipeline-kind/batch.js
  core/worker/lib/pipeline-kind/kinds.js
  core/worker/lib/pipeline-kind/stream.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/discovery.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/setting.json
  core/worker/lib/worker.js
  core/worker/test/auto-scaler.js
Labels: HKube: Pipeline Driver, HKube: Worker

depoly - fix helm checkout [skip ci]
  .github/workflows/deploy.yml
Labels: none

feat: split test files in PD, for simpler V2 merging in the future (#888)
  core/pipeline-driver/tests/consumer.js
  core/pipeline-driver/tests/mocks/pipelines.json
  core/pipeline-driver/tests/producer.js
  core/pipeline-driver/tests/progress.js
  core/pipeline-driver/tests/setup.js
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
  core/pipeline-driver/tests/test.js
  core/pipeline-driver/tests/utils.js
Labels: HKube: Pipeline Driver

feat: split test files in PD, for simpler V2 merging in the future (#888) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: split test files in PD, for simpler V2 merging in the future (#888) .... bump version [skip ci]
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

feat: add data type v3
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/config/main/config.base.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution-v3.js
  core/worker/lib/code-api/subpipeline/subpipeline-v3.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/pipeline-kind/batch.js
  core/worker/lib/pipeline-kind/kinds.js
  core/worker/lib/pipeline-kind/stream.js
  core/worker/lib/storage/storage-v1.js
  core/worker/lib/storage/storage-v2.js
  core/worker/lib/storage/storage-v3.js
  core/worker/lib/storage/storage.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/discovery.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: Worker

update nodejs wrapper to 2.0.15
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.15 (#891)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.15 (#891)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.15 (#891)
  package-lock.json
  package.json
Labels: none

feat: improve metrics
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/setting.json
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: discovery, metrics
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/storage/storage-v3.js
  core/worker/lib/streaming/metrics.js
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Worker

update python wrapper in builder to version 2.0.8
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.8 (#895)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder
