Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

change job name guid to 5 chars (#933)
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Task Executor

change job name guid to 5 chars (#933)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.18
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.18 (#934)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.18 (#934) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.18 (#934) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.19
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: improve cache-pipeline (#929)
  core/caching-service/lib/create-graph.js
  core/caching-service/lib/input-parser.js
  core/caching-service/lib/runner.js
  core/caching-service/package.json
  core/pipeline-driver/lib/tasks/cache-pipeline.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Caching Service, HKube: Pipeline Driver

feat: improve cache-pipeline (#929)
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Caching Service, HKube: Pipeline Driver

feat: improve cache-pipeline (#929)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.19 (#935)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.19 (#935)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.19 (#935)
  package-lock.json
  package.json
Labels: none

Download pipeline and task results (#930)
  core/api-server/api/rest-api/routes/v1/storage.js
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/storage/download_pipeline.yaml
  core/api-server/lib/service/storage.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/storage.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: API-Server, HKube: Pipeline Driver

Download pipeline and task results (#930)
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver

Download pipeline and task results (#930)
  package-lock.json
  package.json
Labels: none

feat: algorithm apply (#931)
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

feat: algorithm apply (#931)
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: algorithm apply (#931)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.20
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.20 (#936)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.20 (#936)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.20 (#936)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

feat: improve apply function
  core/api-server/lib/service/algorithms.js
Labels: HKube: API-Server

add imagePullSecret for algorithm-queue, worker, pipeline-driver, and tensorboard
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/lib/deployments/tensorboard.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Algorithm-Operator, HKube: Task Executor

add tests
  core/algorithm-operator/lib/deployments/worker-debug.js
  core/algorithm-operator/lib/jobs/algorithm-builds.js
  core/algorithm-operator/lib/reconcile/algorithm-builds.js
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-operator/tests/jobsCreatorTests.js
  core/algorithm-operator/tests/worker-debug.js
Labels: HKube: Algorithm-Operator

add tests
  core/task-executor/tests/jobCreatorPdTests.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Task Executor

fix creds for private secured registry
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.21
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

fix condition to save algorithm in current(store)
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

add tests
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

add tests
  core/api-server/lib/service/algorithms.js
Labels: HKube: API-Server

feat: improve apply function (#937)
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

feat: improve apply function (#937)
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: improve apply function (#937)
  package-lock.json
  package.json
Labels: none

add imagePullSecret (#938)
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/lib/deployments/tensorboard.js
  core/algorithm-operator/lib/deployments/worker-debug.js
  core/algorithm-operator/lib/jobs/algorithm-builds.js
  core/algorithm-operator/lib/reconcile/algorithm-builds.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-operator/tests/jobsCreatorTests.js
  core/algorithm-operator/tests/worker-debug.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/jobCreatorPdTests.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Task Executor

add imagePullSecret (#938)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Task Executor

add imagePullSecret (#938)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.21 (#939)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.21 (#939)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder
