Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: progress
  core/worker/lib/algorithm-communication/workerCommunication.js
  core/worker/lib/consts/index.js
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/setting.json
  core/worker/lib/streaming/statistics.js
  core/worker/lib/worker.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: improve auto-scaler and statistics
  core/pipeline-driver/lib/state/state-manager.js
  core/worker/.eslintrc.js
  core/worker/config/main/config.base.js
  core/worker/config/main/config.test.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/fixed-window.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/progress.js
  core/worker/lib/streaming/setting.json
  core/worker/lib/streaming/statistics.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: add progress
  core/worker/bootstrap.js
  core/worker/lib/storage/storage-v3.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/pending-scale.js
  core/worker/lib/streaming/progress.js
  core/worker/lib/streaming/service-discovery.js
  core/worker/lib/streaming/statistics.js
  core/worker/lib/streaming/stream-handler.js
  core/worker/lib/worker.js
  core/worker/test/streaming.js
Labels: HKube: Worker

update python wrapper in builder to version 2.0.10
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

python wrapper version
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

python wrapper version .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

python wrapper version .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

forward python wrapper version
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.11
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

forward python wrapper version .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

forward python wrapper version .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: improve auto-scaler and statistics
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/fixed-window.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/pending-scale.js
  core/worker/test/streaming.js
Labels: HKube: Worker

handle large queue size when persisting to redis handle etcd unhandled rejections fix deployment selector for algorithm-queue
  .gitignore
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-queue/config/main/config.base.js
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/queue.js
  core/pipeline-driver/lib/progress/nodes-progress.js
Labels: HKube: Algorithm-Operator, HKube: Algorithm Queue, HKube: Pipeline Driver

prevent double encoding
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
Labels: HKube: Algorithm Queue

feat: streaming refactoring
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/bootstrap.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/storage/storage-v3.js
  core/worker/lib/streaming/adapters/adapters.js
  core/worker/lib/streaming/adapters/index.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/adapters/slave-adapter.js
  core/worker/lib/streaming/core/fixed-window.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/core/progress.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

use redis list
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
Labels: HKube: Algorithm Queue

feat: streaming refactoring
  core/worker/lib/consts/component-names.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/adapters/adapters.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/adapters/slave-adapter.js
  core/worker/lib/streaming/core/interval.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: progress, adapters
  core/worker/config/main/config.base.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/adapters/adapters.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/core/interval.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: Worker

change redis storage ignore BrokenCircuitError
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/pipeline-driver/bootstrap.js
Labels: HKube: Algorithm Queue, HKube: Pipeline Driver

feat: progress, adapters
  core/worker/config/main/config.test.js
  core/worker/lib/streaming/adapters/adapters.js
  core/worker/test/streaming.js
Labels: HKube: Worker

update python wrapper in builder to version 2.0.12
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

change log level catch exception
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/pipeline-driver/lib/state/state-manager.js
Labels: HKube: Algorithm Queue, HKube: Pipeline Driver

change log level
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/state/state-manager.js
Labels: HKube: Pipeline Driver

feat: progress, adapters
  core/pipeline-driver/lib/helpers/median.js
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/adapters/adapter.js
  core/worker/lib/streaming/adapters/adapters.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/adapters/slave-adapter.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

update etcd package
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/lib/queue.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/algorithm-queue/tests/test.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: progress, adapters
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/.eslintrc.js
  core/worker/lib/consts/component-names.js
  core/worker/lib/streaming/adapters/adapter.js
  core/worker/lib/streaming/adapters/adapters.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/adapters/slave-adapter.js
  core/worker/lib/streaming/core/index.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/progress.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/progress-collector.js
  core/worker/lib/streaming/services/scaler-service.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

Merge pull request #909 from kube-HPC/update_python_wrapper_to_2_0_12
  package-lock.json
  package.json
Labels: none

Merge pull request #909 from kube-HPC/update_python_wrapper_to_2_0_12
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

feat: locks and batch
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/storage/storage-v3.js
  core/worker/lib/streaming/adapters/adapters.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/services/election.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

improve redis store
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/algorithm-queue/tests/test.js
Labels: HKube: Algorithm Queue

add log.throttle
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/algorithm-queue/tests/test.js
Labels: HKube: Algorithm Queue

handle large queue size when persisting to redis (#907)
  .gitignore
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-queue/config/main/config.base.js
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/algorithm-queue/lib/queue.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/algorithm-queue/tests/test.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/bootstrap.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

handle large queue size when persisting to redis (#907)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

handle large queue size when persisting to redis (#907)
  package-lock.json
  package.json
Labels: none

fix result of subpipeline to algorithm
  core/worker/lib/code-api/subpipeline/subpipeline-v2.js
Labels: HKube: Worker

fix empty queue persistency store
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/algorithm-queue/tests/test.js
Labels: HKube: Algorithm Queue

fix result of subpipeline to algorithm (#914)
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/algorithm-queue/tests/test.js
  core/worker/lib/code-api/subpipeline/subpipeline-v2.js
Labels: HKube: Algorithm Queue, HKube: Worker

fix result of subpipeline to algorithm (#914)
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm Queue, HKube: Worker

fix result of subpipeline to algorithm (#914)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.13
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
