Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: data-sources
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/data-sources.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/api-validator.js
  core/api-server/lib/validation/data-sources.js
  core/api-server/lib/validation/index.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-datasource.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: API-Server, HKube: Pipeline Driver

added infrucsturecture
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/etcd.js
  core/datasources-service/lib/jobs-consumer.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/update.test.js
Labels: none

feat: data-sources
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/data-sources.js
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/etcd.js
  core/datasources-service/lib/jobs-consumer.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver

1.3.05
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

feat: improve exec pipeline with data source
  core/api-server/api/rest-api/swagger/definitions/dataSource-raw.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSource-snapshot.yaml
  core/api-server/lib/service/data-sources.js
  core/api-server/lib/validation/data-sources.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/tests/exec-datasource.js
Labels: HKube: API-Server

implemented mounting directory on job start
  core/algorithm-builder/environments/nodejs/wrapper/package-lock.json
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/Etcd.js
  core/datasources-service/lib/jobs-consumer.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/service/types.ts
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/scripts/startServices.sh
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
Labels: HKube: Algorithm Builder, HKube: Pipeline Driver

update python wrapper in builder to version 2.1.0.dev9
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: improve exec pipeline with data source
  core/api-server/lib/service/execution.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.1.0.dev9 (#1065)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev9 (#1065) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.1.0.dev9 (#1065) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

fixed failing tests and cleanups
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/update.test.js
Labels: none

pass STORAGE_RESULTS_THRESHOLD to pd
  core/task-executor/lib/templates/pipeline-driver.js
Labels: HKube: Task Executor

pass STORAGE_RESULTS_THRESHOLD to pd (#1066)
  core/task-executor/lib/templates/pipeline-driver.js
Labels: HKube: Task Executor

pass STORAGE_RESULTS_THRESHOLD to pd (#1066) .... bump version [skip ci]
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Task Executor

pass STORAGE_RESULTS_THRESHOLD to pd (#1066) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

fixed failing tests
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/tests/update.test.js
Labels: none

moved filterFiles to Repository and fixed storing result
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/Repository.js
Labels: none

implemented unmount directory on job done
  core/datasources-service/lib/Etcd.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/service/types.ts
Labels: none

added missing return
  core/datasources-service/lib/service/jobs-consumer.js
Labels: none

updated fetch dataSource and cleanups
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/jobs-consumer.js
Labels: none

updated fetch -> allowNotFound
  core/datasources-service/lib/service/jobs-consumer.js
Labels: none

java wrapper 1.3.05
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

feat: fix trigger and boards types
  core/api-server/lib/service/internal.js
  core/api-server/tests/internal.js
  core/pipeline-driver/lib/boards/boards.js
  core/pipeline-driver/lib/state/db.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/tests/producer.js
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
Labels: HKube: API-Server, HKube: Pipeline Driver

feat: fix trigger and boards types
  core/api-server/lib/service/internal.js
Labels: HKube: API-Server

feat: fix trigger and boards types
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

use settings.xml at build (#1057)
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

use settings.xml at build (#1057)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

use settings.xml at build (#1057)
  package-lock.json
  package.json
Labels: none

added defaults to mongo credentials
  core/datasources-service/config/main/config.base.js
Labels: none

updated timeouts
  core/datasources-service/package.json
Labels: none

fixed failing tests, added test file with spaces in it's name
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/dataSource.service.test.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/mocks/algorithm spaces.json
  core/datasources-service/tests/update.test.js
Labels: none

java wrapper 1.3.05 (#1059)
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/settings.xml
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

fix build to work on mac
  core/algorithm-builder/.dockerignore
  core/algorithm-builder/dockerfile/Dockerfile
  core/algorithm-builder/dockerfile/build.sh
  core/algorithm-builder/dockerfile/get-deps-nodejs.sh
Labels: HKube: Algorithm Builder

update java builds
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update java builds
  package-lock.json
  package.json
Labels: none

feat: fix trigger and boards types (#1068)
  core/api-server/lib/service/internal.js
  core/api-server/tests/internal.js
  core/pipeline-driver/lib/boards/boards.js
  core/pipeline-driver/lib/state/db.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/producer.js
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
Labels: HKube: API-Server, HKube: Pipeline Driver

feat: fix trigger and boards types (#1068)
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver

feat: fix trigger and boards types (#1068)
  package-lock.json
  package.json
Labels: none

fixed failing tests
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/utils/DvcClient.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/Shell.js
  core/datasources-service/lib/utils/dvcConfig.js
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/setup.js
Labels: none

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
