Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

upgrade nodejs wrapper (#1084) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

implemented download zip file
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions-internal/downloadId.yaml
  core/datasources-service/api/rest-api/swagger/definitions-internal/index.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DownloadId.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/index.yaml
  core/datasources-service/lib/consts/regex.js
  core/datasources-service/lib/consts/validationMessages.js
  core/datasources-service/lib/service/downloads.js
  core/datasources-service/lib/validation/custom-formats.js
  core/datasources-service/lib/validation/downloads.js
  core/datasources-service/tests/download.test.js
  core/datasources-service/tests/utils.js
Labels: none

feat: dataSource tests
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-datasource.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.1.0.dev12
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: improve worker logging-proxy
  core/worker/lib/algorithm-logging/logging-proxy.js
Labels: HKube: Worker

upgrade python wrapper
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

improved docs and tests
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceId.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceMeta.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceVersion.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DownloadId.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DownloadLink.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/ResolvedSnapshot.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.create.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.yaml
  core/datasources-service/api/rest-api/swagger/definitions/VersionDescription.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/definitions/update.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/update.yaml
  core/datasources-service/api/rest-api/swagger/paths/download.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/parameters.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshot.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshotByName.yaml
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/lib/validation/downloads.js
  core/datasources-service/lib/validation/snapshots.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/download.test.js
  core/datasources-service/tests/exec.test.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
Labels: none

fixed failing test
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/tests/update.test.js
Labels: none

update python wrapper in builder to version 2.1.0.dev12 (#1086)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev12 (#1086) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev12 (#1086) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

upgrade python wrapper (#1088)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update version
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

upgrade python wrapper (#1088) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: ds validation
  core/api-server/api/rest-api/swagger/definitions/dataSource-raw.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSource-snapshot.yaml
  core/api-server/lib/service/data-sources.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/worker.js
Labels: HKube: API-Server, HKube: Worker

feat: improve worker logging-proxy (#1087)
  core/worker/lib/algorithm-logging/logging-proxy.js
Labels: HKube: Worker

feat: improve worker logging-proxy (#1087) .... bump version [skip ci]
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

feat: improve worker logging-proxy (#1087) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: add worker dataSources support
  core/api-server/lib/service/data-sources.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/worker.js
Labels: HKube: API-Server, HKube: Worker

implemented validate datasource
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/SnapshotName.yaml
  core/datasources-service/api/rest-api/swagger/definitions/dataSourceExists.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/parameters.yaml
  core/datasources-service/api/rest-api/swagger/paths/validate.yaml
  core/datasources-service/bootstrap.js
  core/datasources-service/lib/service/validation.js
  core/datasources-service/lib/validation/index.js
  core/datasources-service/lib/validation/validation.js
  core/datasources-service/tests/setupDataSource.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/utils.js
  core/datasources-service/tests/validation.test.js
Labels: none

updated versionId to commitHash
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/validation.test.js
Labels: none

updated snapshots api and creation
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshotById.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshots/byDataSourceId.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshots/byDataSourceName.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshots/byName.yaml
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/setupDataSource.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/utils.js
Labels: none

feat: improve worker logs
  core/worker/lib/algorithm-logging/logging-proxy.js
  package-lock.json
  package.json
Labels: HKube: Worker

added preview endpoint cnad cleanups
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/ResolvedSnapshot.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.create.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/SnapshotQuery.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/definitions/snapshotPreview.request.yaml
  core/datasources-service/api/rest-api/swagger/paths/byName.yaml
  core/datasources-service/api/rest-api/swagger/paths/download.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/parameters.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshots/byDataSourceId.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshots/byDataSourceName.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshots/byName.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshots/preview.yaml
  core/datasources-service/api/rest-api/swagger/paths/validate.yaml
  core/datasources-service/api/rest-api/swagger/paths/versions.yaml
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/lib/validation/snapshots.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/utils.js
Labels: none

feat: improve worker logs
  core/worker/lib/algorithm-logging/logging-proxy.js
  package-lock.json
  package.json
Labels: HKube: Worker

updated validation api
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/dataSourceExists.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/parameters.yaml
  core/datasources-service/api/rest-api/swagger/paths/validate.yaml
  core/datasources-service/lib/service/validation.js
  core/datasources-service/lib/validation/validation.js
  core/datasources-service/tests/utils.js
  core/datasources-service/tests/validation.test.js
Labels: none

updated git storage dir, bugfixes
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/jobs-consumer.test.js
Labels: none

feat: improve pipeline node dataSource
  core/api-server/lib/service/data-sources.js
  core/api-server/tests/exec-datasource.js
  core/task-executor/lib/jobs/jobCreator.js
  core/worker/config/main/config.base.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/worker.js
Labels: HKube: API-Server, HKube: Task Executor, HKube: Worker

added ensure array utility
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/lib/utils/ensureArray.js
Labels: none

bugfix and cleanups
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/ensureArray.js
  core/datasources-service/tests/jobs-consumer.test.js
Labels: none

feat: improve pipeline node dataSource
  core/worker/lib/states/stateAdapter.js
Labels: HKube: Worker

use correct project for openshift build
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-operator/lib/templates/algorithm-builder.js
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder

fix: improve disallow changing algorithm type
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/exec-pipelines.js
Labels: HKube: API-Server

fix: stop algorithm on scale-down
  core/worker/lib/worker.js
Labels: HKube: Worker

use correct project for openshift build
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-operator/lib/templates/algorithm-builder.js
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder

fix build
  core/algorithm-operator/.dockerignore
  core/algorithm-operator/dockerfile/Dockerfile
Labels: HKube: Algorithm-Operator

feat: ds response
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/worker.js
Labels: HKube: Worker

fixed overwrite meta files
  core/datasources-service/lib/utils/Repository.js
Labels: none

update dev1 deploy chart [skip ci]
  .github/workflows/deploy.yml
  scripts/values-dev1-template.yml
Labels: none

fix: improve disallow changing algorithm type (#1094)
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/exec-pipelines.js
Labels: HKube: API-Server

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
