Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: re-install npm
  core/pipeline-driver/package-lock.json
Labels: HKube: Pipeline Driver

fix version to 2.0
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  scripts/test_local.sh
Labels: none

execute copy on docker
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

execute copy on docker
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

feat: resolve dependencies
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

fix deploy
  .github/workflows/deploy.yml
Labels: none

updated afterRequest middleware
  core/datasources-service/api/rest-api/app-server.js
  core/datasources-service/api/rest-api/middlewares/responseLogger.js
Labels: none

fixed failing tests
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/validation/validation.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
  core/datasources-service/tests/validation.test.js
Labels: none

dropped .only
  core/datasources-service/tests/validation.test.js
Labels: none

updated validate request, dropped versionId from all the routes
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/DataSource.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceVersion.yaml
  core/datasources-service/api/rest-api/swagger/definitions/dataSourceExists.yaml
  core/datasources-service/api/rest-api/swagger/paths/parameters.yaml
  core/datasources-service/lib/service/types.ts
  core/datasources-service/lib/service/validation.js
  core/datasources-service/lib/validation/validation.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/utils.js
  core/datasources-service/tests/validation.test.js
Labels: none

CR
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

CR
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

execute copy on docker (#1104)
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

execute copy on docker (#1103)
  .github/workflows/deploy.yml
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

execute copy on docker (#1103)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

execute copy on docker (#1103)
  package-lock.json
  package.json
Labels: none

fix: algorithm versions
  core/api-server/lib/service/data-sources.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/state/state-manager.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

openshift fixes .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder

version
  package.json
Labels: none

openshift fixes .... bump version [skip ci]
  package.json
Labels: none

feat: handle retry on streaming (#1102)
  core/api-server/lib/service/pipeline-creator.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/worker.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: handle retry on streaming (#1102)
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: handle retry on streaming (#1102)
  package-lock.json
  package.json
Labels: none

improved tests reliability
  core/datasources-service/api/rest-api/middlewares/responseLogger.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
Labels: none

dropped .only
  core/datasources-service/tests/update.test.js
Labels: none

updated test
  core/datasources-service/tests/setup.js
  core/datasources-service/tests/update.test.js
Labels: none

feat: resolve tests
  core/datasources-service/lib/utils/DvcClient.js
  core/datasources-service/package.json
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/update.test.js
Labels: none

fixed meta override
  core/datasources-service/lib/utils/DvcClient.js
  core/datasources-service/tests/update.test.js
Labels: none

feat: resolve tests
  core/pipeline-driver/tests/setup.js
Labels: HKube: Pipeline Driver

cleaned up the hash caching
  core/datasources-service/lib/utils/DvcClient.js
  core/datasources-service/lib/utils/Repository.js
Labels: none

update python wrapper in builder to version 2.1.0.dev14
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev14 (#1105)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev14 (#1105) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev14 (#1105) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: resolve tests
  core/worker/test/setup.js
  core/worker/test/streaming.js
Labels: HKube: Worker

fixed black list filtering
  core/datasources-service/api/rest-api/middlewares/responseLogger.js
Labels: none

enabled the creation of an empty datasource
  core/datasources-service/api/rest-api/swagger/definitions/Files.yaml
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/tests/create.test.js
Labels: none

improved error handling
  core/datasources-service/tests/waitFor.js
Labels: none

storage is now s3 only, improved filtering files on run
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/config/main/config.test.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/DvcClient.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/dvcConfig.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/jobs-consumer.test.js
Labels: none

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
