Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

update nodejs wrapper to 2.0.13
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

feat: reduce round-trips to Etcd and Redis
  core/algorithm-queue/lib/jobs/producer-singleton.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
Labels: HKube: Algorithm Queue

update nodejs wrapper to 2.0.13 (#874)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.13 (#874)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.13 (#874)
  package-lock.json
  package.json
Labels: none

feat: reduce round-trips to Etcd and Redis (#875)
  core/algorithm-queue/lib/jobs/producer-singleton.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
Labels: HKube: Algorithm Queue

feat: reduce round-trips to Etcd and Redis (#875)
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
Labels: HKube: Algorithm Queue

feat: reduce round-trips to Etcd and Redis (#875)
  package-lock.json
  package.json
Labels: none

use namespace in tensorboard service url
  core/algorithm-operator/lib/helpers/kubernetes.js
  core/algorithm-operator/lib/reconcile/tensorboard.js
Labels: HKube: Algorithm-Operator

typo
  .github/stale.yml
Labels: none

Temporarily get the wrapper.jar from maven on each algorithm build
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

Temporarily get the wrapper.jar from maven on each algorithm build .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

Temporarily get the wrapper.jar from maven on each algorithm build .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

invoke build
  core/worker/runSoloWorker.sh
Labels: HKube: Worker

Tensorboard namespace (#878)
  .github/stale.yml
  core/algorithm-operator/lib/helpers/kubernetes.js
  core/algorithm-operator/lib/reconcile/tensorboard.js
Labels: HKube: Algorithm-Operator

Tensorboard namespace (#878)
  package-lock.json
  package.json
Labels: none

Tensorboard namespace (#878)
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Worker

fix: remove uuid dependency, replace with @hkube/uid
  core/algorithm-builder/package-lock.json
  core/algorithm-operator/package-lock.json
  core/worker/package-lock.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Worker

fix: package-lock.json
  core/algorithm-builder/package-lock.json
  core/algorithm-operator/package-lock.json
  core/worker/package-lock.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Worker

fix: uid length: 8
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
Labels: HKube: Worker

feat
  core/api-server/package.json
Labels: HKube: API-Server

feat
  core/algorithm-builder/package-lock.json
  core/algorithm-operator/package-lock.json
  core/worker/package-lock.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Worker

fix: eslint
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/execution.js
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: API-Server, HKube: Task Executor

fix: node 14 and uuid
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/cron.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/builds.js
  core/api-server/tests/storage.js
  core/api-server/tests/versions.js
Labels: HKube: API-Server

update: package.json dependencies
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

update nodejs wrapper to 2.0.14
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

fix: remove uuid dependency, replace with @hkube/uid (#879)
  package-lock.json
  package.json
Labels: none

fix: remove uuid dependency, replace with @hkube/uid (#879)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

fix: remove uuid dependency, replace with @hkube/uid (#879)
  package-lock.json
  package.json
Labels: none

add debug prints
  scripts/runTestAndBuild.sh
Labels: none

Merge branch 'master' of github.com:kube-HPC/hkube .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

debug
  scripts/build.sh
Labels: none

cd
  scripts/build.sh
Labels: none

cd .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

use jaeger deployment when running on openshift
  core/task-executor/.eslintrc.js
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/reconcilerTests.js
  scripts/test.sh
Labels: HKube: Task Executor

support jaeger on openshift. update eslint
  core/algorithm-operator/.eslintrc.js
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/lib/consts/componentNames.js
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/lib/deployments/tensorboard.js
  core/algorithm-operator/lib/deployments/worker-debug.js
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/helpers/images.js
  core/algorithm-operator/lib/helpers/kubernetes.js
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/lib/reconcile/algorithm-debug.js
  core/algorithm-operator/lib/templates/algorithm-builder.js
  core/algorithm-operator/lib/templates/tensorboard.js
  core/algorithm-operator/lib/templates/worker-debug.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/worker-debug.js
Labels: HKube: Algorithm-Operator

support jaeger on openshift for algorithm-queue
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/lib/deployments/worker-debug.js
  core/algorithm-operator/lib/helpers/kubernetes-utils.js
  core/algorithm-operator/lib/templates/algorithm-queue.js
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-operator/tests/stub/deploymentTemplates.js
Labels: HKube: Algorithm-Operator

handle pipeline driver job
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/templates/pipeline-driver.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/jobCreatorPdTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

fix deepscan
  core/algorithm-operator/lib/helpers/kubernetes-utils.js
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: Algorithm-Operator, HKube: Task Executor

Jaeger openshift (#883)
  core/algorithm-operator/.eslintrc.js
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/lib/consts/componentNames.js
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/lib/deployments/tensorboard.js
  core/algorithm-operator/lib/deployments/worker-debug.js
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/helpers/images.js
  core/algorithm-operator/lib/helpers/kubernetes-utils.js
  core/algorithm-operator/lib/helpers/kubernetes.js
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/lib/reconcile/algorithm-debug.js
  core/algorithm-operator/lib/templates/algorithm-builder.js
  core/algorithm-operator/lib/templates/algorithm-queue.js
  core/algorithm-operator/lib/templates/tensorboard.js
  core/algorithm-operator/lib/templates/worker-debug.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-operator/tests/stub/deploymentTemplates.js
  core/algorithm-operator/tests/worker-debug.js
  core/task-executor/.eslintrc.js
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/templates/pipeline-driver.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/jobCreatorPdTests.js
  core/task-executor/tests/reconcilerTests.js
  scripts/test.sh
Labels: HKube: Algorithm-Operator, HKube: Task Executor

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
