Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

add pull secret for openshift builds .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

add pull secret for openshift builds .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: improve docs and code
  core/worker/lib/streaming/adapters/adapter.js
  core/worker/lib/streaming/core/fixed-window.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/scale-reasons.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: Worker

splitted fetchDataSource meta data only method, updated signatures
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

feat: improve docs and code
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/adapters/slave-adapter.js
  core/worker/lib/streaming/core/index.js
  core/worker/lib/streaming/core/scale-reasons.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: improve docs and code
  core/worker/lib/streaming/core/idle-marker.js
Labels: HKube: Worker

feat: improve docs and code
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: add python __init__.py
  core/algorithm-builder/environments/python/wrapper/algorithm_unique_folder/__init__.py
Labels: HKube: Algorithm Builder

1.3.02
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

get latest wrapper upon every build
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

updated versions of db and parser
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

fixed failing validation test
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/dataSource.js
  core/api-server/tests/exec- datasource.js
Labels: HKube: API-Server

extracted cleanTempFile utility
  core/api-server/api/rest-api/routes/v1/datasource.js
Labels: HKube: API-Server

2.0-SNAPSHOT (#1000)
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

2.0-SNAPSHOT (#1000)
  package-lock.json
  package.json
Labels: none

2.0-SNAPSHOT (#1000)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.30
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

fix: remove temp lib/db/new.js
  core/api-server/bootstrap.js
  core/api-server/lib/db/new.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.0.30 (#1007)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.30 (#1007) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.30 (#1007) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

add pullSecret for openshift builds (#1005)
  core/algorithm-builder/.dockerignore
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

cleanups
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

add pullSecret for openshift builds (#1005) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

add pullSecret for openshift builds (#1005) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: PR issues
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/lib/helpers/discovery.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/producer.js
  core/worker/config/main/config.base.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

V2 streaming (#892)
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

V2 streaming (#892)
  package-lock.json
  package.json
Labels: none

addedd test case extracted utils
  core/api-server/tests/exec- datasource.js
Labels: HKube: API-Server

improved coverege
  core/api-server/tests/exec- datasource.js
  core/api-server/tests/exec-pipelines.js
Labels: HKube: API-Server

feat: added ds meta test
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/exec- datasource.js
Labels: HKube: API-Server

updated @hkube/db
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: add support in cyclic graph, streaming custom flow
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/tests/exec-raw.js
  core/pipeline-driver/.eslintrc.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: remove dag logic from api-server
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/mocks/pipeline-in-pipeline.json
  core/api-server/tests/pipelines-store.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/services/auto-scaler.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: fix edges
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

feat: fix edges
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

feat: upgrade @hkube/dag
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: upgrade @hkube/dag
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: fix dag in streaming test
  core/worker/test/streaming.js
Labels: HKube: Worker

add support for cyclic graph, streaming custom flow (#1010)
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-raw.js
  core/api-server/tests/mocks/pipeline-in-pipeline.json
  core/api-server/tests/pipelines-store.js
  core/pipeline-driver/.eslintrc.js
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
