Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

add support for cyclic graph, streaming custom flow (#1010)
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

add support for cyclic graph, streaming custom flow (#1010)
  package-lock.json
  package.json
Labels: none

feat: trigger builds
  core/algorithm-builder/lib/builds/docker-builder.js
  core/api-server/api/rest-api/swagger/definitions/algorithmBuild.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmBuildGit.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/build.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/validation/builds.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: Algorithm Builder, HKube: API-Server

updated to match new db versioning
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger/definitions/dataSource.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceCreate.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceFile.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceFiles.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceUploadFile.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_name.yaml
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/validation/dataSource.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/exec- datasource.js
Labels: HKube: API-Server

feat: trigger builds
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/lib/consts/builds.js
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/build.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/versions.js
Labels: HKube: API-Server

feat: trigger builds
  core/api-server/api/rest-api/routes/v1/store.js
Labels: HKube: API-Server

feat: simple DAG fix
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

feat: simple DAG fix .... bump version [skip ci]
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

feat: simple DAG fix .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: add pipelineKind schema
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/api/rest-api/swagger/definitions/storedPipelineRequest.yaml
  core/api-server/tests/mocks/pipelines.json
Labels: HKube: API-Server

feat: add pipelineKind schema
  core/api-server/api/rest-api/swagger/definitions/pipelineKind.yaml
Labels: HKube: API-Server

feat: add pipelineKind schema .... bump version [skip ci]
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: add pipelineKind schema .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: improve algorithm builds
  core/api-server/api/rest-api/routes/v1/status.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/status/version.yaml
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/consts/builds.js
  core/api-server/lib/consts/componentNames.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/versions.js
Labels: HKube: API-Server

extracted datasource test utils
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/datasource.utils.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.1.0.dev1
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev1 (#1019)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev1 (#1019) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev1 (#1019) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

cleanups and added fetchMany method
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

updated execution to handle new parser format
  core/api-server/lib/service/execution.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/datasource.utils.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.1.0.dev2
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: add custom stream flow
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-raw.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

update python wrapper in builder to version 2.1.0.dev2 (#1020)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev2 (#1020) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev2 (#1020) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

updated docs
  core/api-server/api/rest-api/swagger/definitions/dataSourceMeta.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource.yaml
Labels: HKube: API-Server

feat: add custom stream flow
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: improve build triggers
  core/api-server/.travis.yml
  core/api-server/config/main/config.base.js
  core/api-server/lib/consts/builds.js
  core/api-server/lib/service/algorithms.js
  core/api-server/package.json
Labels: HKube: API-Server

feat: trigger build
  core/pipeline-driver/.travis.yml
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

feat: add test for force trigger build
  core/api-server/lib/consts/builds.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

feat: no version if build trigger
  core/api-server/lib/service/algorithms.js
Labels: HKube: API-Server

feat: trigger builds (#1015)
  core/algorithm-builder/lib/builds/docker-builder.js
  core/api-server/.travis.yml
  core/api-server/api/rest-api/routes/v1/status.js
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithmBuild.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmBuildGit.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/status/version.yaml
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/consts/builds.js
  core/api-server/lib/consts/componentNames.js
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/build.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/validation/builds.js
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/versions.js
Labels: HKube: Algorithm Builder, HKube: API-Server

feat: trigger builds (#1015)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server

feat: trigger builds (#1015)
  package-lock.json
  package.json
Labels: none

Streaming custom flow (#1021)
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-raw.js
  core/pipeline-driver/.travis.yml
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

implemented fail reverts
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

fix debug worker after batch
  core/worker/lib/storage/storage-v1.js
Labels: HKube: Worker

feat: improve scale up/down
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/.travis.yml
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/lib/worker.js
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

fix debug worker after batch (#1022)
  core/worker/lib/storage/storage-v1.js
Labels: HKube: Worker
