Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

fixed dvc config utility
  core/datasources-service/lib/utils/dvcConfig.js
Labels: none

implemented dataSource validation
  core/api-server/.eslintrc.js
  core/api-server/lib/service/data-sources.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

cleanups
  core/datasources-service/config/main/config.base.js
Labels: none

formatting
  core/datasources-service/api/rest-api/swagger/definitions-internal/dataSourceName.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSource.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceVersion.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceWithMeta.yaml
  core/datasources-service/api/rest-api/swagger/definitions/ResolvedSnapshot.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.create.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.yaml
  core/datasources-service/api/rest-api/swagger/definitions/create.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/delete.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/update.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/update.yaml
  core/datasources-service/api/rest-api/swagger/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/byName.yaml
  core/datasources-service/api/rest-api/swagger/paths/root.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshot.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshotById.yaml
  core/datasources-service/api/rest-api/swagger/paths/versions.yaml
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/validation/dataSources.js
Labels: none

update python wrapper in builder to version 2.1.0.dev10
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: update tasks data
  core/api-server/lib/service/execution.js
  core/datasources-service/lib/Etcd.js
  core/datasources-service/lib/service/jobs-consumer.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.1.0.dev10 (#1079)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev10 (#1079) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev10 (#1079) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

add dependencyInstallCmd option to algorithm add python support
  core/algorithm-builder/.dockerignore
  core/algorithm-builder/bootstrap.js
  core/algorithm-builder/dockerfile/Dockerfile
  core/algorithm-builder/dockerfile/build.sh
  core/algorithm-builder/environments/python/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/python/dockerfile/requirements.sh
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-builder/tests/mocks/nodejs/build.json
  core/algorithm-builder/tests/mocks/python/alg.tar.gz
  core/algorithm-builder/tests/mocks/python/build.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/lib/consts/builds.js
  core/api-server/lib/service/build.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/builds.js
Labels: HKube: Algorithm Builder, HKube: API-Server

add nodejs support
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/dockerfile/requirements.sh
  core/algorithm-builder/tests/mocks/java/build.json
  core/algorithm-builder/tests/mocks/nodejs/alg.tar.gz
  core/algorithm-builder/tests/mocks/nodejs/build.json
Labels: HKube: Algorithm Builder

python wrapper upgrade
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev11
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev11 (#1082)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev11 (#1082) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.1.0.dev11 (#1082) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

python wrapper 32
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

fix install deps script permission
  core/algorithm-builder/environments/nodejs/dockerfile/requirements.sh
  core/algorithm-builder/environments/python/dockerfile/requirements.sh
Labels: HKube: Algorithm Builder

declared nodejs version
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

1.3 fill subpipeline data for debug (#1070)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/pipeline-driver/lib/state/state-manager.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Algorithm Builder, HKube: Pipeline Driver, HKube: Worker

add test
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

algorithm-deps-install (#1081)
  core/algorithm-builder/.dockerignore
  core/algorithm-builder/bootstrap.js
  core/algorithm-builder/dockerfile/Dockerfile
  core/algorithm-builder/dockerfile/build.sh
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/dockerfile/requirements.sh
  core/algorithm-builder/environments/python/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/python/dockerfile/requirements.sh
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-builder/tests/mocks/java/build.json
  core/algorithm-builder/tests/mocks/nodejs/alg.tar.gz
  core/algorithm-builder/tests/mocks/nodejs/build.json
  core/algorithm-builder/tests/mocks/python/alg.tar.gz
  core/algorithm-builder/tests/mocks/python/build.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/lib/consts/builds.js
  core/api-server/lib/service/build.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/builds.js
Labels: HKube: Algorithm Builder, HKube: API-Server

algorithm-deps-install (#1081)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server

algorithm-deps-install (#1081)
  package-lock.json
  package.json
Labels: none

fix dockers
  core/algorithm-builder/dockerfile/Dockerfile
  core/pipeline-driver/.dockerignore
  core/pipeline-driver/dockerfile/Dockerfile
  core/worker/.dockerignore
  core/worker/dockerfile/Dockerfile
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Algorithm Builder, HKube: Pipeline Driver, HKube: Worker

fix dockers .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm Builder, HKube: Pipeline Driver, HKube: Worker

fix dockers .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

implemented caching snapshot results
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/snapshots.test.js
Labels: none

feat: add swagger utils
  core/api-server/api/rest-api/app-server.js
  core/api-server/api/rest-api/swagger-builder.js
  core/api-server/api/rest-api/swagger-loader.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/datasources-service/api/rest-api/app-server.js
  core/datasources-service/api/rest-api/swagger-builder.js
  core/datasources-service/api/rest-api/swagger-loader.js
  core/datasources-service/api/rest-api/swagger.json
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
Labels: HKube: API-Server

improved job-consumer test added mocking note on fse.remove
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/setup.js
Labels: none

upgrade nodejs wrapper
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

upgrade nodejs wrapper (#1084)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

upgrade nodejs wrppaer to 28
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

upgrade nodejs wrppaer to 28 (#1085)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

upgrade nodejs wrppaer to 28 (#1085) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

upgrade nodejs wrppaer to 28 (#1085) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

implemented create download link
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/download.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/files.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/db/index.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/downloads.js
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/validation/downloads.js
  core/datasources-service/lib/validation/index.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/download.test.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/utils.js
Labels: none

Improved a test
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/package-lock.json
  core/datasources-service/tests/download.test.js
Labels: none

dropped only
  core/datasources-service/tests/download.test.js
Labels: none

upgrade nodejs wrapper (#1084) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder
