Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

control pipeline-driver resources (#984)
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Task Executor

control pipeline-driver resources (#984)
  package-lock.json
  package.json
Labels: none

revert change in not used travis
  core/algorithm-builder/.travis.yml
Labels: HKube: Algorithm Builder

ignore debs
  core/algorithm-builder/.gitignore
Labels: HKube: Algorithm Builder

Merge pull request #975 from kube-HPC/support_libzmq-java_in_close_sys
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

Merge pull request #975 from kube-HPC/support_libzmq-java_in_close_sys
  package-lock.json
  package.json
Labels: none

feat: minor validation fix
  core/api-server/.eslintrc.js
  core/api-server/bootstrap.js
  core/api-server/lib/validation/inner-validator.js
Labels: HKube: API-Server

intall mvn from local file
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

apt-upadate before download
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

apt-upadate before download .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

apt-upadate before download .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

adding sudo
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

adding sudo .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

adding sudo .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

Allow java to work offine
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

removed by mistake
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

downloading debs by docker
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

Merge pull request #986 from kube-HPC/Support_offline_installation
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

Merge pull request #986 from kube-HPC/Support_offline_installation
  package-lock.json
  package.json
Labels: none

remove -it on docker get dependency
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

add java mock build build dockers (without push) in PR mode
  core/algorithm-builder/tests/mocks/java/alg.tar.gz
  core/algorithm-builder/tests/mocks/java/build.json
  scripts/build.sh
Labels: HKube: Algorithm Builder

fix build
  scripts/build.sh
Labels: none

fix build
  scripts/build.sh
Labels: none

fix zmq download error
  core/algorithm-builder/dockerfile/get-deps-java.sh
  scripts/build.sh
Labels: HKube: Algorithm Builder

Merge pull request #987 from kube-HPC/Support_offline_installation
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

Merge pull request #987 from kube-HPC/Support_offline_installation
  package-lock.json
  package.json
Labels: none

feat: add minRequisiteAmount
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
Labels: HKube: API-Server, HKube: Task Executor

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

copy to local repository
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
Labels: HKube: Task Executor

feat: add minRequisiteAmount
  core/task-executor/lib/reconcile/reconciler.js
Labels: HKube: Task Executor

revert mistake
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

Merge pull request #989 from kube-HPC/maven-rep
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

Merge pull request #989 from kube-HPC/maven-rep
  package-lock.json
  package.json
Labels: none

added startServices script
  core/api-server/package.json
  core/api-server/scripts/startServices.sh
Labels: HKube: API-Server

added dataSource swagger files
  core/api-server/api/rest-api/swagger/definitions/dataSource.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceFileExt.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSourceName.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_file.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_id.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
Labels: HKube: API-Server

2.0.0
  package-lock.json
  package.json
Labels: none

2.0.0 .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
