Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

update python wrapper in builder to version 2.0.21 (#939)
  package-lock.json
  package.json
Labels: none

add option to use _auth instead of _authToken in npmrc
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/dockerfile/requirements.sh
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

add option to use _auth instead of _authToken in npmrc (#940)
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/dockerfile/requirements.sh
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

add option to use _auth instead of _authToken in npmrc (#940) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

add option to use _auth instead of _authToken in npmrc (#940) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update etcd package
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/caching-service/tests/test.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

update python wrapper in builder to version 2.0.22
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.22 (#944)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.22 (#944)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.22 (#944)
  package-lock.json
  package.json
Labels: none

update etcd package (#943)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/caching-service/tests/test.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

update etcd package (#943) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

update etcd package (#943) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.23
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.23 (#946)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.23 (#946) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.23 (#946) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: add get custom data with metaData
  core/api-server/lib/service/storage.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/code-api/algorithm-execution/algorithm-execution-v1.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: update package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

feat: update package.json
  core/pipeline-driver/lib/state/state-manager.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution-v1.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: add get custom data with metadata (#947)
  core/api-server/lib/service/storage.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/code-api/algorithm-execution/algorithm-execution-v1.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

update nodejs wrapper to 2.0.18
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

feat: add get custom data with metadata (#947)
  package-lock.json
  package.json
Labels: none

feat: add get custom data with metadata (#947)
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

update nodejs wrapper to 2.0.18 (#948)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.18 (#948)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.18 (#948)
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.19
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.19 (#949)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.19 (#949) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.19 (#949) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.24
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.24 (#950)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.24 (#950)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.24 (#950)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.20
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.20 (#951)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.20 (#951) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.20 (#951) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.21
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder
