Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

dropped bootstrapping flag from the storage
  core/datasources-service/bootstrap.js
Labels: none

updated README.md
  core/datasources-service/README.md
Labels: none

fill missing data that was too large for debug algorithm
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Worker

fill the missing data before get result from storage ends.
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Worker

cr
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Worker

fill subpipeline data for debug
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Worker

fill missing data that was too large for debug algorithm (#1069)
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Worker

fill missing data that was too large for debug algorithm (#1069)
  package-lock.json
  package.json
Labels: none

fill missing data that was too large for debug algorithm (#1069)
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

feat: enable big data debug
  core/pipeline-driver/lib/state/state-manager.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: ignore statful scale down
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/services/service-discovery.js
Labels: HKube: Worker

feat: enable big data debug
  core/pipeline-driver/lib/state/state-manager.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: enable big data debug (#1071)
  core/pipeline-driver/lib/state/state-manager.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: enable big data debug (#1071) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: enable big data debug (#1071) .... bump version [skip ci]
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: Worker

updated error log
  core/datasources-service/lib/service/jobs-consumer.js
Labels: none

partial implemented snapshots
  core/datasources-service/api/rest-api/app-server.js
  core/datasources-service/api/rest-api/middlewares/dbErrors.js
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.create.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Snapshot.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/byName.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/parameters.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshot.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshotById.yaml
  core/datasources-service/bootstrap.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/lib/utils/Shell.js
  core/datasources-service/lib/validation/api-validator.js
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/lib/validation/index.js
  core/datasources-service/lib/validation/snapshots.js
  core/datasources-service/tests/request.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/utils.js
Labels: none

feat: add run pipeline tests
  core/datasources-service/config/main/config.base.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
Labels: none

fixed failing tests
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/tests/snapshots.test.js
Labels: none

feat: ignore statful scale down (#1073)
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/services/service-discovery.js
Labels: HKube: Worker

feat: ignore statful scale down (#1073) .... bump version [skip ci]
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

feat: ignore statful scale down (#1073) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

fix hkubectl download link [skip ci]
  README.md
Labels: none

implemented fetch and resolve snapshot
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/ResolvedSnapshot.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/parameters.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshot.yaml
  core/datasources-service/api/rest-api/swagger/paths/snapshotById.yaml
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/utils.js
Labels: none

fixed failing tests, cleanups and improved error handling
  core/datasources-service/api/rest-api/middlewares/dbErrors.js
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/update.test.js
Labels: none

dropped irrelevant ignore
  core/datasources-service/api/rest-api/routes/v1/datasource.js
Labels: none

feat: add run pipeline tests
  core/datasources-service/tests/jobs-consumer.test.js
Labels: none

added directory for download
  core/datasources-service/config/main/config.base.js
Labels: none

feat: add run pipeline tests
  core/datasources-service/tests/jobs-consumer.test.js
Labels: none

implemented running dataSource by snapshot name
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/service/types.ts
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/utils.js
Labels: none

fixed failing test
  core/datasources-service/tests/utils.js
Labels: none

feat: add delete ds
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/delete.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/byName.yaml
  core/datasources-service/lib/service/dataSource.js
Labels: none

improved error handling
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/tests/snapshots.test.js
Labels: none

feat: add delete ds by name
  core/datasources-service/api/rest-api/middlewares/after-request.js
  core/datasources-service/api/rest-api/middlewares/logger.js
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/paths/byName.yaml
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/consts/componentNames.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/utils.js
Labels: none

feat: improve error handling
  core/datasources-service/lib/service/dataSource.js
Labels: none

feat: enable keys with dots!
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: enable keys with dots! (#1077)
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: enable keys with dots! (#1077) .... bump version [skip ci]
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: enable keys with dots! (#1077) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

updated config
  core/datasources-service/config/main/config.base.js
Labels: none

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
