Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

use settings.xml at build
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

updated docs, re-activated validations
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions-internal/dataSourceName.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSource.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceMeta.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceName.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceVersion.yaml
  core/datasources-service/api/rest-api/swagger/definitions/DataSourceWithMeta.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Error.yaml
  core/datasources-service/api/rest-api/swagger/definitions/FileMeta.yaml
  core/datasources-service/api/rest-api/swagger/definitions/Files.yaml
  core/datasources-service/api/rest-api/swagger/definitions/create.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/dataSource.yaml
  core/datasources-service/api/rest-api/swagger/definitions/dataSourceCreate.yaml
  core/datasources-service/api/rest-api/swagger/definitions/dataSourceFileMeta.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/definitions/update.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/update.yaml
  core/datasources-service/api/rest-api/swagger/index.yaml
  core/datasources-service/api/rest-api/swagger/info/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/byName.yaml
  core/datasources-service/api/rest-api/swagger/paths/dataSource/dataSource_file.yaml
  core/datasources-service/api/rest-api/swagger/paths/dataSource/dataSource_name.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/parameters.yaml
  core/datasources-service/api/rest-api/swagger/paths/root.yaml
  core/datasources-service/api/rest-api/swagger/paths/versions.yaml
  core/datasources-service/api/rest-api/swagger/tags/index.yaml
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/validation/dataSource.js
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/exec.test.js
  core/datasources-service/tests/setup.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
Labels: none

cleanups
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/dataSource.service.test.js
  core/datasources-service/tests/update.test.js
Labels: none

feat: PR comments
  core/algorithm-operator/lib/reconcile/normalize.js
  core/pipeline-driver-queue/lib/persistency/persistence.js
Labels: HKube: Algorithm-Operator, HKube: Pipeline Driver Queue

feat: fix test failed
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: fix test failed .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: fix test failed .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

integreated with git
  core/datasources-service/api/rest-api/swagger/definitions/DataSource.yaml
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/package.json
  core/datasources-service/scripts/startServices.sh
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/setup.js
  core/datasources-service/tests/update.test.js
Labels: none

dropped irrelevant service
  core/api-server/bootstrap.js
Labels: HKube: API-Server

fixed moved files identification bug
  core/datasources-service/lib/service/dataSource.js
Labels: none

feat: make streaming sources unique
  core/worker/lib/streaming/adapters/adapter.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/test/streaming.js
Labels: HKube: Worker

remove m2 dir creation in java builder (#1049)
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

remove m2 dir creation in java builder (#1049) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

remove m2 dir creation in java builder (#1049) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: stop on scale down
  core/worker/lib/worker.js
Labels: HKube: Worker

improve scale up/down (#1054)
  core/worker/config/main/config.base.js
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/consts/worker-commands.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/adapters/adapter.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/lib/worker.js
  core/worker/test/streaming.js
Labels: HKube: Worker

improve scale up/down (#1054)
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

improve scale up/down (#1054)
  package-lock.json
  package.json
Labels: none

feat: add info about node input
  core/pipeline-driver/lib/datastore/graph-store.js
Labels: HKube: Pipeline Driver

feat: clean up
  core/api-server/.gitignore
  core/api-server/lib/db/index.js
  core/api-server/lib/errors/NotModified.js
  core/api-server/lib/errors/index.js
  core/api-server/lib/utils/dvc.js
  core/api-server/lib/utils/normalize.js
  core/api-server/lib/validation/custom-formats.js
  core/api-server/scripts/startServices.sh
  core/api-server/tests/mocks/dataSources/logo.svg
  core/api-server/tests/mocks/dataSources/logo.svg.meta
Labels: HKube: API-Server

feat: clean up
  core/api-server/bootstrap.js
  core/api-server/lib/consts/validationMessages.js
  core/api-server/lib/service/execution.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: clean up
  core/api-server/tests/exec-datasource.js
Labels: HKube: API-Server

feat: fix is array
  core/pipeline-driver/lib/datastore/graph-store.js
Labels: HKube: Pipeline Driver

fix ignoring debug algorithm
  core/task-executor/lib/reconcile/normalize.js
Labels: HKube: Task Executor

fix deep-scan
  core/task-executor/lib/reconcile/normalize.js
Labels: HKube: Task Executor

fix ignoring debug algorithm (#1061)
  core/task-executor/lib/reconcile/normalize.js
Labels: HKube: Task Executor

fix ignoring debug algorithm (#1061)
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Task Executor

fix ignoring debug algorithm (#1061)
  package-lock.json
  package.json
Labels: none

extracted Repository utility class from service, integreated with storage settings
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/dvc.js
  core/datasources-service/lib/utils/getFilePath.js
  core/datasources-service/lib/utils/types.d.ts
Labels: none

implemented .dvc files enrichment
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
Labels: none

cleanups
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/undefined/data/README-1.md
Labels: none

feat: add node kind
  core/api-server/api/rest-api/swagger/definitions/dataSource-raw.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSource-snapshot.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/pipelineNode.yaml
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/data-sources.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-datasource.js
  core/pipeline-driver/config/main/config.base.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Task Executor

feat: fix run node twice
  core/caching-service/lib/runner.js
Labels: HKube: Caching Service

feat: fix run node twice (#1062)
  core/caching-service/lib/runner.js
Labels: HKube: Caching Service

feat: fix run node twice (#1062) .... bump version [skip ci]
  core/caching-service/package-lock.json
  core/caching-service/package.json
Labels: HKube: Caching Service

feat: fix run node twice (#1062) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: add info about node input (#1060)
  core/pipeline-driver/lib/datastore/graph-store.js
Labels: HKube: Pipeline Driver

feat: add info about node input (#1060)
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

feat: add info about node input (#1060)
  package-lock.json
  package.json
Labels: none

fixed failing tests
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/dvc.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/undefined/data/README-1.md
Labels: none
