Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

fix: improve disallow changing algorithm type (#1094)
  package-lock.json
  package.json
Labels: none

fix: improve disallow changing algorithm type (#1094)
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: improve worker logs (#1090)
  core/worker/lib/algorithm-logging/logging-proxy.js
Labels: HKube: Worker

feat: improve worker logs (#1090)
  package-lock.json
  package.json
Labels: none

feat: improve worker logs (#1090)
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

adding stopping command
  core/worker/config/main/config.development.js
  core/worker/config/main/config.production.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/worker.js
Labels: HKube: Worker

updated docker file
  core/datasources-service/.dockerignore
  core/datasources-service/dockerfile/Dockerfile
Labels: none

updated hkube/db version
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
Labels: none

updated dockerfile
  core/datasources-service/dockerfile/Dockerfile
Labels: none

improved tests
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/setup.js
  core/datasources-service/tests/waitFor.js
Labels: none

converted directory ensure to async
  core/datasources-service/lib/service/dataSource.js
Labels: none

fixed deep scan issues
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/utils/DvcClient.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/Shell.js
  core/datasources-service/tests/waitFor.js
Labels: none

added gitea to beforeInstall script
  scripts/beforeInstall.sh
Labels: none

fixed linter issue
  core/datasources-service/lib/errors/MethodNotAllowed.js
Labels: none

update python wrapper in builder to version 2.1.0.dev13
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

CR
  core/worker/lib/states/stateManager.js
Labels: HKube: Worker

adding stopping command (#1097)
  core/worker/config/main/config.development.js
  core/worker/config/main/config.production.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/worker.js
Labels: HKube: Worker

update python wrapper in builder to version 2.1.0.dev13 (#1099)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

adding stopping command (#1097)
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

adding stopping command (#1097)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.1.0.dev13 (#1099) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm Builder, HKube: Worker

update python wrapper in builder to version 2.1.0.dev13 (#1099) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: handle retry on streaming
  core/api-server/lib/service/pipeline-creator.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/worker.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

feat: handle retry on streaming
  core/api-server/lib/service/pipeline-creator.js
Labels: HKube: API-Server

updated package.json
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

updated beforeInstall
  scripts/beforeInstall.sh
Labels: none

updated beforeInstall
  scripts/beforeInstall.sh
Labels: none

updated beforeInstall
  scripts/beforeInstall.sh
Labels: none

dropped git install
  scripts/beforeInstall.sh
Labels: none

feat: improve node data source definition
  core/api-server/api/rest-api/swagger/definitions/dataSource-id.yaml
  core/api-server/api/rest-api/swagger/definitions/dataSource-snapshot.yaml
  core/api-server/lib/service/data-sources.js
  core/api-server/tests/exec-datasource.js
Labels: HKube: API-Server

feat: add tests logs
  core/datasources-service/config/logger/config.test.js
Labels: none

added git user
  scripts/beforeInstall.sh
Labels: none

fix ci
  .github/workflows/pr.yaml
Labels: none

fix build .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder

fix build .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

use correct project for openshift build (#1092)
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-operator/lib/templates/algorithm-builder.js
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder

use correct project for openshift build (#1092) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

use correct project for openshift build (#1092) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Worker

updated snapshot handling on run
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/dataSourceExists.yaml
  core/datasources-service/api/rest-api/swagger/definitions/snapshotPreview.request.yaml
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/service/types.ts
  core/datasources-service/lib/service/validation.js
  core/datasources-service/tests/jobs-consumer.test.js
Labels: none

removed .only
  core/datasources-service/tests/jobs-consumer.test.js
Labels: none
