Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

clearing file after upload
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

dropped redundant status
  core/api-server/api/rest-api/routes/v1/datasource.js
Labels: HKube: API-Server

converted listing files to listWithStats
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger/definitions/dataSourceFileMeta.yaml
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

feat: fix rm file on apply, fix update algorithm
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

2.0-SNAPSHOT download wrapper during build
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

feat: change to param to quotaGuarantee, apply tests
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: API-Server, HKube: Task Executor

feat: change to param to quotaGuarantee, apply tests
  core/task-executor/lib/reconcile/reconciler.js
Labels: HKube: Task Executor

feat: algorithm guarantee quota (#988)
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: API-Server, HKube: Task Executor

feat: algorithm guarantee quota (#988)
  package-lock.json
  package.json
Labels: none

feat: algorithm guarantee quota (#988)
  core/api-server/package-lock.json
  core/api-server/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: API-Server, HKube: Task Executor

fix: PR issues
  core/api-server/lib/validation/inner-validator.js
  core/pipeline-driver/tests/progress.js
  core/worker/package-lock.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

updated @hkube/db version
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_file.yaml
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_name.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/lib/service/dataSource.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

fix: PR issues
  core/api-server/lib/service/versions.js
Labels: HKube: API-Server

cleanups and improved coverage
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

updated package.jon
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

converted put to post
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/api/rest-api/swagger/paths/dataSource/dataSource_name.yaml
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

fix ci
  core/api-server/README.md
  scripts/runTestAndBuild.sh
Labels: HKube: API-Server

fix ci .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

fix ci .... bump version [skip ci]
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

updated hkube/db version
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/config/main/config.base.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: add streaming throughput in nodes edges
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/throughput-collector.js
Labels: HKube: Pipeline Driver, HKube: Worker

java wrapper 1.3.01
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

java wrapper 1.3.01 .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

java wrapper 1.3.01 .... bump version [skip ci] .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: add streaming throughput in nodes edges
  core/pipeline-driver/lib/datastore/graph-store.js
Labels: HKube: Pipeline Driver

fix: bug with cache nodes
  core/pipeline-driver/lib/tasks/cache-pipeline.js
Labels: HKube: Pipeline Driver

fix: bug with cache nodes
  core/pipeline-driver/lib/tasks/cache-pipeline.js
Labels: HKube: Pipeline Driver

converted all the args to named args
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

feat: validate algorithm image exists on run pipeline
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/mocks/algorithms.json
Labels: HKube: API-Server

fix remove file on apply, fix update algorithm (#999)
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/mocks/algorithms.json
Labels: HKube: API-Server

fix remove file on apply, fix update algorithm (#999)
  package-lock.json
  package.json
Labels: none

fix remove file on apply, fix update algorithm (#999)
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

fix: bug with cache nodes (#1003)
  core/pipeline-driver/lib/tasks/cache-pipeline.js
Labels: HKube: Pipeline Driver

fix: bug with cache nodes (#1003)
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

fix: bug with cache nodes (#1003)
  package-lock.json
  package.json
Labels: none

feat: insert @hkube/stats
  core/pipeline-driver/lib/helpers/median.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: Worker

feat: add validations, tests
  core/api-server/lib/db/new.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/dataSource.js
  core/api-server/tests/exec- datasource.js
Labels: HKube: API-Server

feat: add validations, tests
  core/api-server/bootstrap.js
  core/api-server/lib/validation/dataSource.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver

add pullSecret for openshift builds
  core/algorithm-builder/.dockerignore
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

add pull secret for openshift builds
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder
