Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

update nodejs wrapper to 2.0.21 (#952)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.21 (#952) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.21 (#952) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.22
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.22 (#953)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.22 (#953) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.22 (#953) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: add memoryCache
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/lib/validation/custom-formats.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

add memoryCache in task-executor
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

update nodejs wrapper to 2.0.23
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.25
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: add memoryCache
  core/worker/lib/helpers/kubernetes.js
  core/worker/lib/worker.js
  core/worker/test/workerCommunicationTest.js
Labels: HKube: Worker

feat: add formatContainerMessage
  core/worker/lib/helpers/kubernetes.js
Labels: HKube: Worker

feat: add formatContainerMessage
  core/worker/.eslintrc.js
  core/worker/lib/helpers/kubernetes.js
Labels: HKube: Worker

feat: add formatContainerMessage
  core/worker/lib/helpers/kubernetes.js
  core/worker/lib/worker.js
  core/worker/test/workerCommunicationTest.js
Labels: HKube: Worker

update node and python wrappers
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: add formatContainerMessage
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/helpers/kubernetes.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/worker.js
  core/worker/test/workerCommunicationTest.js
Labels: HKube: Pipeline Driver, HKube: Worker

update python wrapper in builder to version 2.0.26
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: add memoryCache (#954)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/lib/validation/custom-formats.js
  core/api-server/tests/algorithms-store.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
  core/worker/.eslintrc.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/helpers/kubernetes.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/worker.js
  core/worker/test/workerCommunicationTest.js
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Pipeline Driver, HKube: Task Executor, HKube: Worker

feat: add memoryCache (#954)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Pipeline Driver, HKube: Task Executor, HKube: Worker

feat: add memoryCache (#954)
  package-lock.json
  package.json
Labels: none

feat: change to reservedMemory
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/tests/algorithms-store.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: API-Server, HKube: Task Executor

update python wrapper in builder to version 2.0.27
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.24
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

feat: upgrade wrappers version
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: change to reserved memory (#958)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/tests/algorithms-store.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Task Executor

feat: change to reserved memory (#958)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Task Executor

feat: change to reserved memory (#958)
  package-lock.json
  package.json
Labels: none

feat: update swagger
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
Labels: HKube: API-Server

feat: update swagger .... bump version [skip ci]
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

feat: update swagger .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

add ingress prefix to debug url
  core/api-server/config/main/config.base.js
Labels: HKube: API-Server

add ingress prefix to debug url (#962)
  core/api-server/config/main/config.base.js
Labels: HKube: API-Server

add ingress prefix to debug url (#962) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

add ingress prefix to debug url (#962) .... bump version [skip ci]
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

add algorithm memory as environment variable
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: Task Executor

update python wrapper in builder to version 2.0.28
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.28 (#964)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.28 (#964) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.28 (#964) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
