Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

feat: streaming refactoring
  core/api-server/lib/validation/inner-validator.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/.eslintrc.js
  core/worker/lib/code-api/subpipeline/subpipeline-v2.js
  core/worker/lib/code-api/subpipeline/subpipeline-v3.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/progress-collector.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

update python wrapper in builder to version 2.0.14
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.15
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.15 (#918)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.15 (#918)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.15 (#918)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

feat: streaming refactoring
  core/api-server/lib/validation/inner-validator.js
  core/worker/lib/streaming/adapters/adapters.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Worker

feat: locks and batch
  core/api-server/lib/validation/inner-validator.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/mocks/pipelines.json
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Worker

feat: add scale up/down reason with details
  core/worker/config/main/config.base.js
  core/worker/config/main/config.test.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: streaming refactoring
  core/algorithm-builder/environments/python/wrapper/algorithm_unique_folder/__init__.py
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/core/scale-reasons.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Algorithm Builder, HKube: Worker

feat: streaming refactoring
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/core/scale-reasons.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: handle algorithm serving state
  core/worker/config/main/config.base.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/worker.js
Labels: HKube: Worker

feat: resolve scale conflicts
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: add DISCOVERY_SERVING_REPORT_INTERVAL
  core/task-executor/lib/templates/worker.js
Labels: HKube: Task Executor

feat: PR issues
  core/worker/lib/worker.js
Labels: HKube: Worker

update python wrapper in builder to version 2.0.16
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: handle algorithm serving state (#923)
  core/task-executor/lib/templates/worker.js
  core/worker/config/main/config.base.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/worker.js
Labels: HKube: Task Executor, HKube: Worker

feat: handle algorithm serving state (#923)
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Task Executor, HKube: Worker

feat: handle algorithm serving state (#923)
  package-lock.json
  package.json
Labels: none

update python wrapper in builder to version 2.0.17
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.17 (#926)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.17 (#926) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.17 (#926) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: improve auto-scaler
  core/worker/config/main/config.test.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/core/scale-reasons.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: more tweaks and docs
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/config/main/config.base.js
  core/worker/config/main/config.test.js
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/adapters/slave-adapter.js
  core/worker/lib/streaming/core/index.js
  core/worker/lib/streaming/core/interval.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/core/progress.js
  core/worker/lib/streaming/core/throughput.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/progress-collector.js
  core/worker/lib/streaming/services/scaler-service.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/lib/streaming/services/throughput-collector.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: resolve conflicts
  core/worker/package-lock.json
Labels: HKube: Worker

feat: resolve conflicts
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: resolve conflicts
  core/worker/lib/algorithm-communication/workerCommunication.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/stream-service.js
Labels: HKube: Worker

feat: improve cache-pipeline
  core/caching-service/lib/create-graph.js
  core/caching-service/lib/input-parser.js
  core/caching-service/lib/runner.js
  core/caching-service/package.json
  core/pipeline-driver/lib/tasks/cache-pipeline.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Caching Service, HKube: Pipeline Driver

feat: improve cache-pipeline
  core/pipeline-driver/lib/tasks/cache-pipeline.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

feat: new api for downloading pipeline result as zip file
  core/api-server/api/rest-api/routes/v1/storage.js
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/storage/download_pipeline.yaml
  core/api-server/lib/service/storage.js
  core/api-server/lib/state/state-manager.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/storage.js
Labels: HKube: API-Server

feat: new api for downloading pipeline result as zip file
  core/api-server/lib/service/storage.js
Labels: HKube: API-Server

feat: new api for downloading pipeline result as zip file
  core/api-server/lib/state/state-manager.js
Labels: HKube: API-Server

feat: minor fix
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

feat: improve zip stream download
  core/api-server/api/rest-api/routes/v1/storage.js
  core/api-server/lib/service/storage.js
Labels: HKube: API-Server

feat: algorithm apply
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

feat: algorithm apply
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

feat: add print throttle for web-socket messages
  core/worker/lib/algorithm-communication/workerCommunication.js
Labels: HKube: Worker

change job name guid to 5 chars
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: Task Executor

change job name guid to 5 chars (#933)
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: Task Executor
