Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

update python wrapper in builder to version 2.0.8 (#895) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.8 (#895) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

fix run with random port [skip ci]
  core/worker/runWithRandoPort.sh
Labels: HKube: Worker

update etcd package
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

feat: discovery, metrics
  core/worker/bootstrap.js
  core/worker/config/main/config.base.js
  core/worker/config/main/config.test.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/setting.json
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: improve discovery and create jobs
  core/worker/lib/producer/producer.js
  core/worker/lib/storage/storage-v3.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/discovery.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Worker

update nodejs wrapper to 2.0.16
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.16 (#897)
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

update nodejs wrapper to 2.0.16 (#897) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.16 (#897) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm Builder, HKube: Worker

update etcd package (#896)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

update etcd package (#896) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

update etcd package (#896) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

feat: discovery, metrics
  core/pipeline-driver/lib/helpers/group-by.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/bootstrap.js
  core/worker/config/main/config.base.js
  core/worker/config/main/config.test.js
  core/worker/lib/consts/component-names.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/fixed-window.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/progress.js
  core/worker/lib/streaming/service-discovery.js
  core/worker/lib/streaming/setting.json
  core/worker/lib/streaming/statistics.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: improve progress, prepare for streaming
  core/pipeline-driver/lib/helpers/group-by.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

feat: fix tests
  core/pipeline-driver/lib/progress/nodes-progress.js
Labels: HKube: Pipeline Driver

feat: improve progress, prepare for streaming (#898)
  core/pipeline-driver/lib/helpers/group-by.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

feat: progress
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Pipeline Driver, HKube: Worker

feat: improve progress, prepare for streaming (#898)
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

feat: improve progress, prepare for streaming (#898)
  package-lock.json
  package.json
Labels: none

auto-scaler and tests
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/tests/progress.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/setting.json
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

revert change in run.sh
  core/worker/run.sh
Labels: HKube: Worker

auto-scaler and tests
  core/worker/config/main/config.base.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/metrics.js
  core/worker/lib/streaming/setting.json
  core/worker/run.sh
  core/worker/test/streaming.js
Labels: HKube: Worker

feat: add progress
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/progress.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: Worker

update nodejs wrapper to 2.0.17
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

Update createDeployment.yml
  .github/workflows/createDeployment.yml
Labels: none

update nodejs wrapper to 2.0.17 (#899)
  .github/workflows/createDeployment.yml
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

add onTaskComplete
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

update nodejs wrapper to 2.0.17 (#899)
  package-lock.json
  package.json
Labels: none

update nodejs wrapper to 2.0.17 (#899)
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

feat: add progress
  core/pipeline-driver/lib/helpers/median.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/lib/utils/formatters.js
  core/worker/lib/streaming/auto-scaler.js
  core/worker/lib/streaming/progress.js
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

write result also in done state
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Worker

add test
  core/pipeline-driver/tests/task-runner.js
Labels: HKube: Pipeline Driver

Pipeline-driver recovery (#900)
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/tests/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Pipeline Driver, HKube: Worker

Pipeline-driver recovery (#900)
  package-lock.json
  package.json
Labels: none

Pipeline-driver recovery (#900)
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: Worker

update python wrapper in builder to version 2.0.9
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.9 (#901)
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.9 (#901) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.0.9 (#901) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none
