Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

Merge pull request #1038 from kube-HPC/update_python_wrapper_to_2_1_0_dev7
  package-lock.json
  package.json
Labels: none

implemented uploading a new file version
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/mocks/updatedVersions/README-1.md
Labels: HKube: API-Server

fixed return value for not modified datasource
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

feat: continue to transfer etcd to mongo
  core/api-server/api/rest-api/routes/v1/readme.js
  core/api-server/api/rest-api/routes/v1/storage.js
  core/api-server/lib/examples/pipelines-updater.js
  core/api-server/lib/producer/jobs-producer.js
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/cron.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/experiment.js
  core/api-server/lib/service/githooks/git-webhook-listener.js
  core/api-server/lib/service/internal.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/service/pipelines-store.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/readme.js
  core/api-server/lib/service/storage.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/cron.js
  core/api-server/tests/mocks/worker.js
  core/api-server/tests/readme.js
  core/api-server/tests/storage.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

use internal artifactory at java build
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

use internal artifactory at java build
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

fix nodejs node_modules
  core/algorithm-builder/dockerfile/get-deps-nodejs.sh
Labels: HKube: Algorithm Builder

fix nodejs node_modules (#1041)
  core/algorithm-builder/dockerfile/get-deps-nodejs.sh
Labels: HKube: Algorithm Builder

fix nodejs node_modules (#1041) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

fix nodejs node_modules (#1041) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

try fix nodejs
  core/algorithm-builder/dockerfile/get-deps-nodejs.sh
Labels: HKube: Algorithm Builder

try fix nodejs .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

try fix nodejs .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

fix nodejs
  core/algorithm-builder/dockerfile/get-deps-nodejs.sh
Labels: HKube: Algorithm Builder

Merge branch 'master' of github.com:kube-HPC/hkube .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

Merge branch 'master' of github.com:kube-HPC/hkube .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder

change registry path
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

remove jars directory
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

feat: continue to transfer etcd to mongo
  core/api-server/config/main/config.base.js
  core/api-server/lib/consts/regex.js
  core/api-server/lib/producer/jobs-producer.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/cron.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/experiment.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/executions.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/cron.js
  core/api-server/tests/delete-experiment.js
  core/api-server/tests/exec-pause.js
  core/api-server/tests/exec-pipelines.js
  core/api-server/tests/internal.js
  core/api-server/tests/mocks/worker.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/pipelines.js
Labels: HKube: API-Server

ingress path update
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

fix deploy
  .github/workflows/deploy.yml
Labels: none

missed registry rename
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

added fetch by id methods
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/datasource.utils.js
Labels: HKube: API-Server

fixed dropping files
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

feat: issues
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/api/rest-api/swagger/definitions/storedPipelineRequest.yaml
  core/api-server/api/rest-api/swagger/paths/exec/stored.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/pipelines-store.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: API-Server, HKube: Worker

fix: failing test
  core/api-server/tests/pipelines-store.js
Labels: HKube: API-Server

feat: minor bugs (#1044)
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/api/rest-api/swagger/definitions/storedPipelineRequest.yaml
  core/api-server/api/rest-api/swagger/paths/exec/stored.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/pipelines-store.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: API-Server, HKube: Worker

feat: minor bugs (#1044)
  core/algorithm-builder/package-lock.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Worker

feat: minor bugs (#1044)
  package-lock.json
  package.json
Labels: none

fixed delete a file test
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

run npm ci inside docker
  core/worker/.dockerignore
  core/worker/dockerfile/Dockerfile
Labels: HKube: Worker

fix: db migration
  core/api-server/bootstrap.js
  core/api-server/lib/db/index.js
  core/api-server/lib/examples/pipelines-updater.js
  core/api-server/lib/producer/jobs-producer.js
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/cron.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/experiment.js
  core/api-server/lib/service/githooks/git-webhook-listener.js
  core/api-server/lib/service/internal.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/service/pipelines-store.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/readme.js
  core/api-server/lib/service/storage.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/service/webhooks.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/experiments.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/common.js
  core/api-server/tests/delete-experiment.js
  core/api-server/tests/exec-pause.js
  core/api-server/tests/exec-pipelines.js
  core/api-server/tests/mocks/worker.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/setup.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

run npm ci inside docker (#1046)
  core/worker/.dockerignore
  core/worker/dockerfile/Dockerfile
Labels: HKube: Worker

run npm ci inside docker (#1046) .... bump version [skip ci]
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

run npm ci inside docker (#1046) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

re-structured commit methods
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

cleanups
  core/api-server/lib/service/dataSource.js
Labels: HKube: API-Server

cleanups, added setup dvc utils
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/utils/dvc.js
  core/api-server/tests/dataSource.service.test.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.1.0.dev8
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

fix: db migration
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/cron.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/setup.js
  core/pipeline-driver-queue/config/main/config.base.js
  core/task-executor/lib/helpers/etcd.js
  core/trigger-service/.eslintrc.js
  core/trigger-service/lib/store/store-manager.js
  core/trigger-service/lib/triggers/cron-trigger.js
  core/trigger-service/lib/triggers/pipeline-trigger.js
  core/worker/config/main/config.base.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/algorithm-execution.js
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*
