Repository kube-HPC/hkube, changes with the labels that .github/labeler.yml gives for each.
All labels: HKube: Algorithm-Operator, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: API-Server, HKube: Caching Service, HKube: Pipeline Driver Queue, HKube: Pipeline Driver, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

.github/labeler.yml:

"HKube: Algorithm-Operator":
  - core/algorithm-operator/**/*
"HKube: Algorithm Builder":
  - core/algorithm-builder/**/*
"HKube: Algorithm Queue":
  - core/algorithm-queue/**/*
"HKube: API-Server":
  - core/api-server/**/*
"HKube: Caching Service":
  - core/caching-service/**/*
"HKube: Pipeline Driver Queue":
  - core/pipeline-driver-queue/**/*
"HKube: Pipeline Driver":
  - core/pipeline-driver/**/*
"HKube: Task Executor":
  - core/task-executor/**/*
"HKube: Trigger Service":
  - core/trigger-service/**/*
"HKube: Worker":
  - core/worker/**/*

ci - try test
  .github/workflows/pr.yaml
Labels: none

ci - add main flow
  .github/workflows/main.yaml
  scripts/build.sh
  scripts/createVersion.sh
  scripts/runTestAndBuild.sh
Labels: none

ci - improve bootstrap
  .github/workflows/main.yaml
  .github/workflows/pr.yaml
Labels: none

ci - try two repos
  core/pipeline-driver/README.md
Labels: HKube: Pipeline Driver

ci - fix bootstrap
  .github/workflows/main.yaml
  .github/workflows/pr.yaml
Labels: none

ci - fix env
  .github/workflows/main.yaml
Labels: none

ci - fix
  .github/workflows/main.yaml
  .github/workflows/pr.yaml
Labels: none

Github actions CI
  .github/workflows/automerge.yml
  .github/workflows/main.yaml
  core/api-server/README.md
  core/pipeline-driver/README.md
  scripts/build.sh
  scripts/createVersion.sh
  scripts/runTestAndBuild.sh
Labels: HKube: API-Server, HKube: Pipeline Driver

Github actions CI .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Pipeline Driver

Github actions CI .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

add [skip ci]
  .github/workflows/main.yaml
Labels: none

ci - try push to master
  .github/workflows/main.yaml
  scripts/createVersion.sh
Labels: none

ci - try push
  scripts/createVersion.sh
Labels: none

test
  README.md
Labels: none

try
  scripts/createVersion.sh
Labels: none

ci - try
  scripts/createVersion.sh
Labels: none

ci - try
  .github/workflows/main.yaml
  scripts/createVersion.sh
Labels: none

ci - try .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Pipeline Driver

ci - try .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

ci - build
  .github/workflows/main.yaml
  scripts/build.sh
Labels: none

ci - build .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

ci - build .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Algorithm Builder, HKube: API-Server, HKube: Pipeline Driver

ci -docker
  .github/workflows/main.yaml
  scripts/build.sh
Labels: none

ci-try
  core/pipeline-driver/README.md
Labels: HKube: Pipeline Driver

ci-try (#1033)
  core/pipeline-driver/README.md
Labels: HKube: Pipeline Driver

ci-try (#1033) .... bump version [skip ci]
  core/algorithm-builder/package-lock.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Algorithm Builder, HKube: Pipeline Driver

ci-try (#1033) .... bump version [skip ci]
  package-lock.json
  package.json
Labels: none

ci - try
  .github/workflows/main.yaml
  .github/workflows/pr.yaml
Labels: none

update python wrapper in builder to version 2.1.0.dev3
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev4
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

update python wrapper in builder to version 2.1.0.dev6
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

partially converted uploading files to dvc
  core/api-server/.gitignore
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/service/dataSource.js
  core/api-server/lib/validation/dataSource.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/dataSource.service.test.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/datasource.utils.js
Labels: HKube: API-Server

fixed some failing tests
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/datasource.utils.js
Labels: HKube: API-Server

feat: db
  core/api-server/.eslintignore
  core/api-server/api/rest-api/routes/v1/boards.js
  core/api-server/api/rest-api/routes/v1/experiment.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/db/index.js
  core/api-server/lib/examples/pipelines-updater.js
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/experiment.js
  core/api-server/lib/service/githooks/git-webhook-listener.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/readme.js
  core/api-server/lib/service/storage.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/service/webhooks.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/experiments.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/boards.js
  core/api-server/tests/builds.js
  core/api-server/tests/delete-experiment.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/setup.js
  core/api-server/tests/versions.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

update python wrapper in builder to version 2.1.0.dev7
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

feat: db migration
  core/api-server/api/rest-api/routes/v1/boards.js
  core/api-server/api/rest-api/routes/v1/experiment.js
  core/api-server/api/rest-api/routes/v1/storage.js
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/db/index.js
  core/api-server/lib/examples/pipelines-updater.js
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/experiment.js
  core/api-server/lib/service/githooks/git-webhook-listener.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/readme.js
  core/api-server/lib/service/storage.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/service/webhooks.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/experiments.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/boards.js
  core/api-server/tests/builds.js
  core/api-server/tests/delete-experiment.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/setup.js
  core/api-server/tests/versions.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

added support for moving and deleting files, added uploadedAt
  core/api-server/api/rest-api/routes/v1/datasource.js
  core/api-server/lib/errors/NotModified.js
  core/api-server/lib/errors/index.js
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
  core/api-server/tests/datasource.utils.js
Labels: HKube: API-Server

cleanups
  core/api-server/lib/service/dataSource.js
  core/api-server/tests/dataSource.test.js
Labels: HKube: API-Server

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

Merge pull request #1038 from kube-HPC/update_python_wrapper_to_2_1_0_dev7
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
Labels: HKube: Algorithm Builder
