Repository kube-HPC/hkube, pull requests merged in 2019-06, with the labels that each got.

#353 Update README.md
  README.md
Labels: marketing

#361 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: HKube: Github

#363 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: HKube: Github

#389 support kaniko builds
  core/algorithm-builder/bootstrap.js
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/lib/builds/build-algorithm-image-docker.sh
  core/algorithm-builder/lib/builds/build-algorithm-image-kaniko.sh
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-builder/package.json
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/lib/jobs/algorithm-builds.js
  core/algorithm-operator/lib/templates/algorithm-builder.js
  core/algorithm-operator/tests/jobsCreatorTests.js
Labels: HKube: Algorithm Builder, HKube: Algorithm-Operator
