Repository kube-HPC/hkube, pull requests merged in 2020-09, with the labels that each got.

#923 feat: handle algorithm serving state
  core/task-executor/lib/templates/worker.js
  core/worker/config/main/config.base.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/worker.js
Labels: HKube: Task Executor, HKube: Worker

#926 update python wrapper in builder to version 2.0.17
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#933 change job name guid to 5 chars
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: Task Executor

#934 update python wrapper in builder to version 2.0.18
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#929 feat: improve cache-pipeline
  core/caching-service/lib/create-graph.js
  core/caching-service/lib/input-parser.js
  core/caching-service/lib/runner.js
  core/caching-service/package.json
  core/pipeline-driver/lib/tasks/cache-pipeline.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Caching Service, HKube: Pipeline Driver

#935 update python wrapper in builder to version 2.0.19
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#930 Download pipeline and task results
  core/api-server/api/rest-api/routes/v1/storage.js
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/storage/download_pipeline.yaml
  core/api-server/lib/service/storage.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/storage.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: API-Server, HKube: Pipeline Driver

#931 feat: algorithm apply
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

#936 update python wrapper in builder to version 2.0.20
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#937 feat: improve apply function
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

#938 add imagePullSecret
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/lib/deployments/tensorboard.js
  core/algorithm-operator/lib/deployments/worker-debug.js
  core/algorithm-operator/lib/jobs/algorithm-builds.js
  core/algorithm-operator/lib/reconcile/algorithm-builds.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-operator/tests/jobsCreatorTests.js
  core/algorithm-operator/tests/worker-debug.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/jobCreatorPdTests.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Algorithm Builder, HKube: Algorithm-Operator, HKube: Task Executor

#939 update python wrapper in builder to version 2.0.21
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#940 add option to use _auth instead of _authToken in npmrc
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/dockerfile/requirements.sh
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#944 update python wrapper in builder to version 2.0.22
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#943 update etcd package
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/caching-service/tests/test.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: Algorithm-Operator, HKube: Caching Service, HKube: Pipeline Driver, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

#946 update python wrapper in builder to version 2.0.23
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#947 feat: add get custom data with metadata
  core/api-server/lib/service/storage.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/code-api/algorithm-execution/algorithm-execution-v1.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

#948 update nodejs wrapper to 2.0.18
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#949 update nodejs wrapper to 2.0.19
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#950 update python wrapper in builder to version 2.0.24
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#951 update nodejs wrapper to 2.0.20
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#952 update nodejs wrapper to 2.0.21
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#953 update nodejs wrapper to 2.0.22
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder
