Repository kube-HPC/hkube, pull requests merged in 2020-10, with the labels that each got.

#954 feat: add memoryCache
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/lib/validation/custom-formats.js
  core/api-server/tests/algorithms-store.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
  core/worker/.eslintrc.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/helpers/kubernetes.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/worker.js
  core/worker/test/workerCommunicationTest.js
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Pipeline Driver, HKube: Task Executor, HKube: Worker

#958 feat: change to reserved memory
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/tests/algorithms-store.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Task Executor

#964 update python wrapper in builder to version 2.0.28
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#967 add warning for algorithm-queue not created
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/test.js
Labels: HKube: Algorithm-Operator

#963 add algorithm memory as environment variable
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/runJava.sh
  core/task-executor/lib/consts/envs.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Algorithm Builder, HKube: Task Executor

#971 fix: caching flowInput
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-raw.js
  core/caching-service/lib/runner.js
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Caching Service

#978 add ALGORITHM_DISCONNECTED_TIMEOUT_MS to template
  core/task-executor/lib/templates/worker.js
Labels: HKube: Task Executor

#980 change default algorithms resources
  core/api-server/lib/examples/algorithms.json
Labels: HKube: API-Server

#984 control pipeline-driver resources
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorPdTests.js
Labels: HKube: Task Executor

#975 bring debs for dockerfile install
  core/algorithm-builder/.gitignore
  core/algorithm-builder/.travis.yml
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

#986 Support offline installation
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#987 remove -it on docker get dependency
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/tests/mocks/java/alg.tar.gz
  core/algorithm-builder/tests/mocks/java/build.json
  scripts/build.sh
Labels: HKube: Algorithm Builder

#989 copy to local repository
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

#994 fix wrong validation of algorithmEnv
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

#995 support install enclosed enve
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/cpy-settings
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

#988 feat: algorithm guarantee quota
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: API-Server, HKube: Task Executor
