Repository kube-HPC/hkube, pull requests merged in 2020-12, with the labels that each got.

#1033 ci-try
  core/pipeline-driver/README.md
Labels: HKube: Pipeline Driver

#1038 update python wrapper in builder to version 2.1.0.dev7
  .github/workflows/deploy.yml
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1041 fix nodejs node_modules
  core/algorithm-builder/dockerfile/get-deps-nodejs.sh
Labels: HKube: Algorithm Builder

#1044 feat: minor bugs
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/api/rest-api/swagger/definitions/storedPipelineRequest.yaml
  core/api-server/api/rest-api/swagger/paths/exec/stored.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/pipelines-store.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: API-Server, HKube: Worker

#1046 run npm ci inside docker
  core/worker/.dockerignore
  core/worker/dockerfile/Dockerfile
Labels: HKube: Worker

#1047 update python wrapper in builder to version 2.1.0.dev8
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1040 use internal artifactory at java build
  .github/workflows/deploy.yml
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

#1048 user internal artifactory in java builder
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

#1050 ignore .pyc files
  core/algorithm-builder/environments/common/docker-entrypoint.sh
Labels: HKube: Algorithm Builder

#1049 remove m2 dir creation in java builder
  core/algorithm-builder/dockerfile/get-deps-java.sh
Labels: HKube: Algorithm Builder

#1054 improve scale up/down
  core/worker/config/main/config.base.js
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/consts/worker-commands.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/adapters/adapter.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/lib/worker.js
  core/worker/test/streaming.js
Labels: HKube: Worker

#1061 fix ignoring debug algorithm
  core/task-executor/lib/reconcile/normalize.js
Labels: HKube: Task Executor

#1062 feat: fix run node twice
  core/caching-service/lib/runner.js
Labels: HKube: Caching Service

#1060 feat: add info about node input
  core/pipeline-driver/lib/datastore/graph-store.js
Labels: HKube: Pipeline Driver

#1065 update python wrapper in builder to version 2.1.0.dev9
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1066 pass STORAGE_RESULTS_THRESHOLD to pd
  core/task-executor/lib/templates/pipeline-driver.js
Labels: HKube: Task Executor

#1057 use settings.xml at build
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

#1059 use setting xml rlease 1.3
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/settings.xml
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#1068 feat: fix trigger and boards types
  core/api-server/lib/service/internal.js
  core/api-server/tests/internal.js
  core/pipeline-driver/lib/boards/boards.js
  core/pipeline-driver/lib/state/db.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/producer.js
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
Labels: HKube: API-Server, HKube: Pipeline Driver

#1069 fill missing data that was too large for debug algorithm
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Worker

#1071 feat: enable big data debug
  core/pipeline-driver/lib/state/state-manager.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Pipeline Driver, HKube: Worker

#1073 feat: ignore stateful scale down
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/services/service-discovery.js
Labels: HKube: Worker
