Repository kube-HPC/hkube, pull requests merged in 2020-11, with the labels that each got.

#999 fix remove file on apply, fix update algorithm
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/mocks/algorithms.json
Labels: HKube: API-Server

#1003 fix: bug with cache nodes
  core/pipeline-driver/lib/tasks/cache-pipeline.js
Labels: HKube: Pipeline Driver

#1000 2.0-SNAPSHOT
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#1007 update python wrapper in builder to version 2.0.30
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1005 add pullSecret for openshift builds
  core/algorithm-builder/.dockerignore
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#1010 add support for cyclic graph, streaming custom flow
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-raw.js
  core/api-server/tests/mocks/pipeline-in-pipeline.json
  core/api-server/tests/pipelines-store.js
  core/pipeline-driver/.eslintrc.js
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

#1019 update python wrapper in builder to version 2.1.0.dev1
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1020 update python wrapper in builder to version 2.1.0.dev2
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1015 feat: trigger builds
  core/algorithm-builder/lib/builds/docker-builder.js
  core/api-server/.travis.yml
  core/api-server/api/rest-api/routes/v1/status.js
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithmBuild.yaml
  core/api-server/api/rest-api/swagger/definitions/algorithmBuildGit.yaml
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/api/rest-api/swagger/paths/status/version.yaml
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/consts/builds.js
  core/api-server/lib/consts/componentNames.js
  core/api-server/lib/service/algorithms-store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/build.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/validation/builds.js
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/versions.js
Labels: HKube: API-Server, HKube: Algorithm Builder

#1021 Streaming custom flow
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-raw.js
  core/pipeline-driver/.travis.yml
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/producer/producer.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

#1022 fix debug worker after batch
  core/worker/lib/storage/storage-v1.js
Labels: HKube: Worker

#1023 add stream flow, improve scale up/down
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/mocks/pipelines.json
  core/api-server/tests/pipelines-store.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/.travis.yml
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/producer/producer.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

#1026 update nodejs wrapper to 2.0.25
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1028 fix: : Cannot set property 'error' of null, remove custom stream child
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

#1029 feat: add buildId to version after successful build
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/versions.js
Labels: HKube: API-Server
