Repository kube-HPC/hkube, pull requests merged in 2020-08, with the labels that each got.

#895 update python wrapper in builder to version 2.0.8
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#897 update nodejs wrapper to 2.0.16
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#896 update etcd package
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: Algorithm-Operator, HKube: Caching Service, HKube: Pipeline Driver, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Trigger Service, HKube: Worker, automerge

#898 feat: improve progress, prepare for streaming
  core/pipeline-driver/lib/helpers/group-by.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

#899 update nodejs wrapper to 2.0.17
  .github/workflows/createDeployment.yml
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#900 Pipeline-driver recovery
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/tests/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Pipeline Driver, HKube: Worker

#901 update python wrapper in builder to version 2.0.9
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#907 handle large queue size when persisting to redis
  .gitignore
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-queue/config/main/config.base.js
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/algorithm-queue/lib/queue.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/algorithm-queue/tests/test.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/bootstrap.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: Algorithm-Operator, HKube: Caching Service, HKube: Pipeline Driver, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Trigger Service

#914 fix result of subpipeline to algorithm
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/algorithm-queue/tests/test.js
  core/worker/lib/code-api/subpipeline/subpipeline-v2.js
Labels: HKube: Algorithm Queue, HKube: Worker

#918 update python wrapper in builder to version 2.0.15
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder
