Repository kube-HPC/hkube, pull requests merged in 2020-07, with the labels that each got.

#874 update nodejs wrapper to 2.0.13
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#875 feat: reduce round-trips to Etcd and Redis
  core/algorithm-queue/lib/jobs/producer-singleton.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
Labels: HKube: Algorithm Queue

#878 Tensorboard namespace
  .github/stale.yml
  core/algorithm-operator/lib/helpers/kubernetes.js
  core/algorithm-operator/lib/reconcile/tensorboard.js
Labels: HKube: Algorithm-Operator

#879 fix: remove uuid dependency, replace with @hkube/uid
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-builder/tests/test.js
  core/algorithm-operator/package-lock.json
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/algorithm-queue/tests/stub/stub.js
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/cron.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/utils/index.js
  core/api-server/lib/utils/uuid.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/builds.js
  core/api-server/tests/internal.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/storage.js
  core/api-server/tests/versions.js
  core/caching-service/package-lock.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver-queue/tests/stub/stub.js
  core/pipeline-driver-queue/tests/test.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/test.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/trigger-service/tests/mocks/api-server.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution-v1.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
  core/worker/lib/helpers/api-server-client.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/algorithm-execution.js
  core/worker/test/consumerTestsAndStorage.js
  core/worker/test/dataExtractorTest.js
  core/worker/test/mocks/api-server-mock.js
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: Algorithm-Operator, HKube: Caching Service, HKube: Pipeline Driver, HKube: Pipeline Driver Queue

#883 Jaeger openshift
  core/algorithm-operator/.eslintrc.js
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/lib/consts/componentNames.js
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/lib/deployments/tensorboard.js
  core/algorithm-operator/lib/deployments/worker-debug.js
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/helpers/images.js
  core/algorithm-operator/lib/helpers/kubernetes-utils.js
  core/algorithm-operator/lib/helpers/kubernetes.js
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/lib/reconcile/algorithm-debug.js
  core/algorithm-operator/lib/templates/algorithm-builder.js
  core/algorithm-operator/lib/templates/algorithm-queue.js
  core/algorithm-operator/lib/templates/tensorboard.js
  core/algorithm-operator/lib/templates/worker-debug.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-operator/tests/stub/deploymentTemplates.js
  core/algorithm-operator/tests/worker-debug.js
  core/task-executor/.eslintrc.js
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/templates/pipeline-driver.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/jobCreatorPdTests.js
  core/task-executor/tests/reconcilerTests.js
  scripts/test.sh
Labels: HKube: Algorithm-Operator, HKube: Task Executor

#884 feat: seperate api validator to files
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/builds.js
  core/api-server/lib/service/cron.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/experiment.js
  core/api-server/lib/service/graph.js
  core/api-server/lib/service/internal.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/readme.js
  core/api-server/lib/service/storage.js
  core/api-server/lib/service/versions.js
  core/api-server/lib/service/webhooks.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/lib/validation/api-validator.js
  core/api-server/lib/validation/boards.js
  core/api-server/lib/validation/builds.js
  core/api-server/lib/validation/cron.js
  core/api-server/lib/validation/custom-formats.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/experiments.js
  core/api-server/lib/validation/graphs.js
  core/api-server/lib/validation/index.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/lib/validation/internal.js
  core/api-server/lib/validation/jobs.js
  core/api-server/lib/validation/lists.js
  core/api-server/lib/validation/pipelines.js
Labels: HKube: API-Server

#882 update nodejs wrapper to 2.0.14
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#888 feat: split test files in PD, for simpler V2 merging in the future
  core/pipeline-driver/tests/consumer.js
  core/pipeline-driver/tests/mocks/pipelines.json
  core/pipeline-driver/tests/producer.js
  core/pipeline-driver/tests/progress.js
  core/pipeline-driver/tests/setup.js
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
  core/pipeline-driver/tests/test.js
  core/pipeline-driver/tests/utils.js
Labels: HKube: Pipeline Driver, automerge

#891 update nodejs wrapper to 2.0.15
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder
