Repository kube-HPC/hkube, pull requests merged in 2021-03, with the labels that each got.

#1160 java wrapper version 1.3.06
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#1164 update python wrapper in builder to version 2.1.0.dev30
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1170 Auto scaler
  core/worker/config/main/config.base.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/services/auto-scaler.js
Labels: HKube: Worker

#1169 added config.template
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/dvcConfigTemplates/s3.txt
  core/datasources-service/tests/create.test.js
Labels: HKube: Datasources

#1179 update python wrapper in builder to version 2.1.0.dev31
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1178 fix: enhance scaler
  core/worker/config/main/config.base.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/worker.js
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Worker

#1180 update python wrapper in builder to version 2.1.0.dev32
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1175 get results in webhook handler
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithmApplyOptions.yaml
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

#1182 fix: streaming listener
  core/worker/lib/streaming/adapters/master-adapter.js
Labels: HKube: Worker

#1185 fixed using external github repository
  core/datasources-service/lib/utils/GitRemoteClient/Github.js
  core/datasources-service/lib/utils/Repository.js
Labels: HKube: Datasources

#1187 Streaming metrics
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package.json
  core/worker/config/main/config.base.js
  core/worker/config/main/config.development.js
  core/worker/config/main/config.production.js
  core/worker/config/main/config.test.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/metrics-collector.js
  core/worker/lib/worker.js
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: Worker

#1189 update python wrapper in builder to version 2.1.0.dev33
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1192 added support for updating credentials
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/Credentials.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/definitions/updateCredentials.yaml
  core/datasources-service/api/rest-api/swagger/paths/credentials.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/api.js
  core/datasources-service/tests/updateCredentials.test.js
Labels: HKube: Datasources

#1193 support storageInput for code-api
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
Labels: HKube: Worker

#1194 update python wrapper in builder to version 2.1.0.dev34
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1196 use reservedMemory for allocation
  core/task-executor/lib/helpers/etcd.js
  core/task-executor/tests/stub/discoveryStub.js
  core/task-executor/tests/test.js
Labels: HKube: Task Executor

#1197 feat: add reservedMemory
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

#1198 use new graph store
  core/api-server/lib/examples/pipelines-updater.js
  core/api-server/lib/service/boards.js
  core/api-server/lib/service/graph.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/common.js
  core/pipeline-driver/config/main/config.test.js
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  scripts/values-dev1-template.yml
Labels: HKube: API-Server, HKube: Pipeline Driver

#1203 ignore-undefined
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/builds.js
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/datasources-service/lib/utils/GitRemoteClient/Github.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: Algorithm-Operator, HKube: Caching Service, HKube: Datasources, HKube: Pipeline Driver, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

#1200 increase list from api to 100000
  core/api-server/api/rest-api/swagger/definitions-internal/list.yaml
Labels: HKube: API-Server

#1195 feat: change scaler config
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package.json
Labels: HKube: Worker

#1135 use workerImage if available
  core/task-executor/lib/reconcile/createOptions.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor
