Repository kube-HPC/hkube, pull requests merged in 2021-04, with the labels that each got.

#1205 feat: add logger
  core/algorithm-builder/environments/nodejs/wrapper/app.js
  core/algorithm-builder/environments/nodejs/wrapper/package-lock.json
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1207 update-db
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/.dockerignore
  core/api-server/dockerfile/Dockerfile
  core/api-server/dockerfile/build.sh
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: Algorithm-Operator, HKube: Caching Service, HKube: Datasources, HKube: Pipeline Driver, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

#1208 feat: add total queue size
  core/worker/lib/streaming/services/auto-scaler.js
Labels: HKube: Worker

#1209 feat: logger version
  core/algorithm-builder/environments/nodejs/wrapper/package-lock.json
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1211 update python wrapper in builder to version 2.1.0.dev37
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1212 Bugfix subdirs
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/uploadGrouped.js
  core/datasources-service/tests/utils.js
Labels: HKube: Datasources

#1214 datasource-files-path
  core/worker/lib/states/stateAdapter.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/datasourcesTests.js
  core/worker/test/setup.js
Labels: HKube: Worker

#1213 feat: node wrapper version
  core/algorithm-builder/environments/nodejs/wrapper/package-lock.json
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/worker/lib/algorithm-communication/workerCommunication.js
Labels: HKube: Algorithm Builder, HKube: Worker

#1216 Fix running snapshot
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/worker/lib/states/stateAdapter.js
Labels: HKube: Datasources, HKube: Worker

#1217 fix input display in ui for batch results
  core/pipeline-driver/lib/datastore/graph-store.js
Labels: HKube: Pipeline Driver

#1219 handle no data on webhook
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

#1220 added dvcignore content on create datasource
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/dvcConfigTemplates/.dvcignore
Labels: HKube: Datasources

#1222 update nodejs wrapper to 2.0.38
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1223 update nodejs wrapper to 2.0.39
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1224 Convert to absolute paths
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/dockerfile/Dockerfile
  core/datasources-service/dockerfile/build.sh
  core/datasources-service/dockerfile/gitconfig
  core/datasources-service/tests/dataSource.test.js
Labels: HKube: Datasources

#1225 updated dependencies
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
Labels: HKube: Datasources

#1226 update nodejs wrapper to 2.0.40
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1227 added validation for uploaded meta without data file
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/tests/create.test.js
Labels: HKube: Datasources

#1229 fix no git user
  core/datasources-service/dockerfile/Dockerfile
Labels: HKube: Datasources

#1230 update python wrapper in builder to version 2.1.0
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1232 java wrapper version 2.0.00
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#1235 Fix error message
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
Labels: HKube: Datasources

#1237 updated hkube/db version on all services
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: Algorithm-Operator, HKube: Caching Service, HKube: Datasources, HKube: Pipeline Driver, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Trigger Service, HKube: Worker

#1239 healthchecks-v1.3
  .github/workflows/pr.yaml
  core/api-server/bootstrap.js
  core/api-server/config/logger/config.base.js
  core/api-server/config/main/config.base.js
  core/api-server/config/main/config.test.js
  core/api-server/dockerfile/build.sh
  core/api-server/lib/consts/componentNames.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/webhook/States.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

#1240 converted tmp root dir to absolute path
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/config/main/config.base.js
Labels: HKube: Datasources

#1242 remove zip file after download complete
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/tests/download.test.js
Labels: HKube: Datasources

#1244 fix: pipeline-driver-queue concurrent pipelines
  core/pipeline-driver-queue/.dockerignore
  core/pipeline-driver-queue/dockerfile/Dockerfile
  core/pipeline-driver-queue/dockerfile/build.sh
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/lib/jobs/producer.js
Labels: HKube: Pipeline Driver Queue

#1245 fix dependency_install_cmd openshift
  core/algorithm-builder/lib/builds/build-utils.sh
Labels: HKube: Algorithm Builder
