Repository kube-HPC/hkube, pull requests merged in 2021-01, with the labels that each got.

#1077 feat: enable keys with dots!
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

#1079 update python wrapper in builder to version 2.1.0.dev10
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1082 update python wrapper in builder to version 2.1.0.dev11
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1070 1.3 fill subpipeline data for debug
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/pipeline-driver/lib/state/state-manager.js
  core/worker/lib/code-api/subpipeline/subpipeline-v1.js
Labels: HKube: Algorithm Builder, HKube: Pipeline Driver, HKube: Worker

#1081 algorithm-deps-install
  core/algorithm-builder/.dockerignore
  core/algorithm-builder/bootstrap.js
  core/algorithm-builder/dockerfile/Dockerfile
  core/algorithm-builder/dockerfile/build.sh
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/dockerfile/requirements.sh
  core/algorithm-builder/environments/python/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/python/dockerfile/requirements.sh
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-builder/tests/mocks/java/build.json
  core/algorithm-builder/tests/mocks/nodejs/alg.tar.gz
  core/algorithm-builder/tests/mocks/nodejs/build.json
  core/algorithm-builder/tests/mocks/python/alg.tar.gz
  core/algorithm-builder/tests/mocks/python/build.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/lib/consts/builds.js
  core/api-server/lib/service/build.js
  core/api-server/lib/service/builds.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/builds.js
Labels: HKube: API-Server, HKube: Algorithm Builder

#1084 upgrade nodejs wrapper
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1086 update python wrapper in builder to version 2.1.0.dev12
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1088 upgrade python wrapper
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1087 feat: improve worker logging-proxy
  core/worker/lib/algorithm-logging/logging-proxy.js
Labels: HKube: Worker

#1094 fix: improve disallow changing algorithm type
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/exec-pipelines.js
Labels: HKube: API-Server

#1090 feat: improve worker logs
  core/worker/lib/algorithm-logging/logging-proxy.js
Labels: HKube: Worker

#1097 adding stopping command
  core/worker/config/main/config.development.js
  core/worker/config/main/config.production.js
  core/worker/lib/algorithm-communication/messages.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/worker.js
Labels: HKube: Worker

#1099 update python wrapper in builder to version 2.1.0.dev13
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1092 use correct project for openshift build
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-operator/lib/templates/algorithm-builder.js
Labels: HKube: Algorithm Builder, HKube: Algorithm-Operator

#1104 execute copy on docker
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

#1103 execute copy on docker
  .github/workflows/deploy.yml
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

#1102 feat: handle retry on streaming
  core/api-server/lib/service/pipeline-creator.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/worker.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

#1105 update python wrapper in builder to version 2.1.0.dev14
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1107 feat: streaming retry
  core/api-server/lib/service/pipeline-creator.js
Labels: HKube: API-Server

#1111 add stop to isDiscovery
  core/worker/lib/streaming/services/service-discovery.js
Labels: HKube: Worker

#1113 update python wrapper in builder to version 2.1.0.dev16
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1116 fix component
  .github/labeler.yml
  core/datasources-service/bootstrap.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/tests/setup.js
Labels: HKube: Datasources

#1117 update python wrapper in builder to version 2.1.0.dev17
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder
