Repository kube-HPC/hkube, pull requests merged in 2021-05, with the labels that each got.

#1247 Concurrent pipelines
  core/api-server/lib/producer/jobs-producer.js
  core/api-server/lib/service/execution.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue

#1248 Concurrent pipelines
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/lib/queue.js
Labels: HKube: Pipeline Driver Queue

#1249 Concurrent pipelines
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: Pipeline Driver Queue

#1250 Concurrent pipelines
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: Pipeline Driver Queue

#1257 update kubernetes client package to fix k3s issue
  core/task-executor/package-lock.json
  core/task-executor/package.json
Labels: HKube: Task Executor

#1251 Algorithm queue balancer
  core/algorithm-operator/.eslintrc.js
  core/algorithm-operator/bootstrap.js
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/config/main/config.development.js
  core/algorithm-operator/lib/consts/componentNames.js
  core/algorithm-operator/lib/consts/queue-actions.js
  core/algorithm-operator/lib/deployments/algorithm-queue.js
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/helpers/kubernetes.js
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/lib/reconcile/algorithm-debug.js
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
  core/algorithm-operator/lib/reconcile/normalize.js
  core/algorithm-operator/lib/templates/algorithm-queue.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/deploymentCreatorTests.js
  core/algorithm-queue/.eslintrc.js
  core/algorithm-queue/app.js
  core/algorithm-queue/bootstrap.js
  core/algorithm-queue/config/main/config.base.js
  core/algorithm-queue/config/main/config.development.js
  core/algorithm-queue/config/main/config.test.js
  core/algorithm-queue/lib/enrichment-runner.js
  core/algorithm-queue/lib/heuristic-runner.js
  core/algorithm-queue/lib/heuristic/current-batch-place.js
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/jobs/producer-singleton.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/lib/metrics/aggregation-metrics-factory.js
  core/algorithm-queue/lib/persistency/etcd.js
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/redis-storage-adapter.js
  core/algorithm-queue/lib/queue-runner.js
  core/algorithm-queue/lib/queue.js
  core/algorithm-queue/lib/queues-manager.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/algorithm-queue/tests/stub/metrics-check.js
  core/algorithm-queue/tests/stub/stub.js
  core/algorithm-queue/tests/test.js
Labels: HKube: Algorithm Queue, HKube: Algorithm-Operator

#1263 add healthcheks
  .github/labeler.yml
  core/resource-manager/bootstrap.js
  core/resource-manager/config/main/config.base.js
  core/resource-manager/lib/runner/runner.js
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
Labels: HKube: Resource Manager

#1261 feat: dataSource -> spec
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/pipelineNode.yaml
  core/api-server/lib/validation/data-sources.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/tests/exec-datasource.js
  core/pipeline-driver/lib/producer/jobs-producer.js
Labels: HKube: API-Server, HKube: Pipeline Driver

#1265 feat: reservedMemory parse int
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Task Executor

#1270 feat: add close method
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/lib/queue.js
  core/algorithm-queue/lib/queues-manager.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
Labels: HKube: Algorithm Queue

#1262 feat: adjust helm envs
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/config/main/config.development.js
  core/algorithm-operator/lib/templates/algorithm-queue.js
  core/algorithm-queue/config/main/config.base.js
  core/algorithm-queue/config/main/config.development.js
  core/task-executor/lib/templates/pipeline-driver.js
Labels: HKube: Algorithm Queue, HKube: Algorithm-Operator, HKube: Task Executor

#1268 feat: delete algorithm nullable properties
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/algorithm.yaml
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

#1272 feat: resolve edges
  core/caching-service/lib/runner.js
  core/pipeline-driver/lib/consts/componentNames.js
  core/pipeline-driver/lib/metrics/pipeline-metrics.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Caching Service, HKube: Pipeline Driver

#1273 feat: resolve createIndices
  core/api-server/lib/state/state-manager.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

#1275 feat: check algorithm container status
  core/worker/config/main/config.base.js
  core/worker/lib/algorithm-communication/ws.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
  core/worker/lib/code-api/subpipeline/subpipeline.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/consumer/job-provider.js
  core/worker/lib/helpers/kubernetes.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/storage/storage.js
  core/worker/lib/worker.js
  core/worker/test/consumerTestsAndStorage.js
Labels: HKube: Worker

#1278 update nodejs wrapper to 2.0.41
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1279 feat: worker bugs
  core/worker/bootstrap.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/worker.js
Labels: HKube: Worker

#1280 feat: driver tests
  core/pipeline-driver/tests/task-runner.js
Labels: HKube: Pipeline Driver
