Repository kube-HPC/hkube, pull requests merged in 2021-06, with the labels that each got.

#1277 feat: jobs search
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/searchJobs.yaml
  core/api-server/api/rest-api/swagger/definitions/searchJobsResponse.yaml
  core/api-server/api/rest-api/swagger/paths/exec/search.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/state/state-manager.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

#1283 feat: ceil drivers amount
  core/algorithm-operator/lib/reconcile/drivers-reconciler.js
  core/algorithm-operator/lib/reconcile/normalize.js
Labels: HKube: Algorithm-Operator

#1284 feat: move caching-service to api-server
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/caching.js
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/mocks/http-response.json
  core/caching-service/.eslintignore
  core/caching-service/.eslintrc.js
  core/caching-service/.gitignore
  core/caching-service/app.js
  core/caching-service/bootstrap.js
  core/caching-service/config/logger/config.base.js
  core/caching-service/config/logger/config.development.js
  core/caching-service/config/logger/config.production.js
  core/caching-service/config/logger/config.test.js
  core/caching-service/config/main/config.base.js
  core/caching-service/config/main/config.development.js
  core/caching-service/config/main/config.production.js
  core/caching-service/config/main/config.test.js
  core/caching-service/dockerfile/Dockerfile
  core/caching-service/dockerfile/build.sh
  core/caching-service/lib/api/rest.js
  core/caching-service/lib/api/route.js
  core/caching-service/lib/consts/component-name.js
  core/caching-service/lib/consts/index.js
  core/caching-service/lib/runner.js
  core/caching-service/lib/utils/formatters.js
  core/caching-service/mocks/graph.js
  core/caching-service/mocks/result_graph.js
  core/caching-service/package-lock.json
  core/caching-service/package.json
  core/caching-service/tests/test.js
Labels: HKube: API-Server, HKube: Caching Service

#1288 add bodySizeLimit
  core/api-server/api/rest-api/app-server.js
  core/api-server/config/main/config.base.js
Labels: HKube: API-Server

#1290 feat: improve job stop/pause/result
  core/api-server/lib/service/execution.js
  core/api-server/lib/state/state-manager.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-pause.js
  core/api-server/tests/pipelines-store.js
  core/gc-service/api/rest-api/app-server.js
  core/gc-service/lib/core/base-cleaner.js
Labels: HKube: API-Server, HKube: GC-Service

#1292 fix empty docker creds on openshift 3.11
  core/algorithm-builder/lib/builds/build-utils.sh
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#1302 pin dvc version
  core/datasources-service/dockerfile/Dockerfile
  core/datasources-service/tests/update.test.js
  scripts/beforeInstall.sh
Labels: HKube: Datasources

#1301 pipeline-driver-queue latency issue
  core/pipeline-driver-queue/lib/consts/queue-events.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/lib/persistency/persistence.js
  core/pipeline-driver-queue/lib/queue-runner.js
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver-queue/tests/test.js
  core/pipeline-driver/lib/consumer/jobs-consumer.js
Labels: HKube: Pipeline Driver, HKube: Pipeline Driver Queue

#1306 feat: streaming flow validation
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/delete-experiment.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/exec-streaming.js
  core/api-server/tests/graph.js
  core/api-server/tests/mocks/pipelines.json
  core/api-server/tests/pipeline-in-pipeline.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/setup.js
  core/api-server/tests/storage.js
  core/api-server/tests/versions.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

#1309 exec algorithm as debug
  core/api-server/api/rest-api/swagger/definitions/execAlgorithmRequest.yaml
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-algorithm.js
  core/resource-manager/package-lock.json
Labels: HKube: API-Server, HKube: Resource Manager

#1313 add pipeline type for caching debug
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-raw.js
Labels: HKube: API-Server

#1317 trigger consumer job when reconnected
  core/worker/lib/worker.js
Labels: HKube: Worker
