Repository kube-HPC/hkube, pull requests merged in 2021-12, with the labels that each got.

#1462 updates to v2.1
  core/algorithm-builder/environments/python/wrapper/requirements.txt
  core/algorithm-builder/tests/test.js
  core/algorithm-operator/lib/jobs/jobCreator.js
  core/algorithm-operator/tests/pipeline-drivers.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Task Executor, HKube: Algorithm-Operator, HKube: Algorithm Builder

#1479 update java wrapper to v2.1.8-SNAPSHOT
  core/algorithm-builder/environments/java/wrapper/version.txt
Labels: HKube: Algorithm Builder

#1478 handle error from debugged algorithm
  core/algorithm-debug/lib/algorithm-communication/ws.js
  core/algorithm-debug/lib/index.js
  core/algorithm-debug/tests/debug.js
Labels: HKube: Algorithm-Debug

#1480 prevent error message if unable to find snapshot
  core/algorithm-queue/lib/persistency/persistence.js
  core/algorithm-queue/lib/persistency/snapshot.js
  core/algorithm-queue/lib/queue.js
Labels: HKube: Algorithm Queue

#1484 Active-ttl
  core/api-server/api/rest-api/swagger/definitions/options.yaml
  core/api-server/tests/mocks/pipelines.json
  core/api-server/tests/pipelines-store.js
  core/pipeline-driver/.eslintrc.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Worker

#1487 fix loading order
  core/pipeline-driver-queue/tests/setup.js
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: Pipeline Driver Queue

#1457 use getAll on clean etcd
  core/gc-service/lib/cleaners/etcd/index.js
  core/gc-service/lib/helpers/etcd.js
  core/gc-service/tests/etcd/mocks/etcd-store.js
  core/gc-service/tests/etcd/test.js
Labels: HKube: GC-Service

#1488 Retry-limit
  core/pipeline-driver/lib/consumer/jobs-consumer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/task-runner.js
Labels: HKube: Pipeline Driver

#1470 feat: graceful-shutdown
  core/algorithm-operator/bootstrap.js
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-queue/bootstrap.js
  core/algorithm-queue/lib/consts/component-name.js
  core/algorithm-queue/lib/graceful-shutdown.js
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/lib/queue-runner.js
  core/algorithm-queue/lib/queue.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver-queue/bootstrap.js
  core/pipeline-driver-queue/config/main/config.base.js
  core/pipeline-driver-queue/config/main/config.test.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/lib/persistency/persistence.js
  core/pipeline-driver-queue/lib/queue-runner.js
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver-queue/tests/mock/pipelines.json
  core/pipeline-driver-queue/tests/stub/metrics-checker.js
  core/pipeline-driver-queue/tests/test.js
  core/pipeline-driver/.eslintrc.js
  core/pipeline-driver/bootstrap.js
  core/pipeline-driver/lib/consumer/jobs-consumer.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/task-runner.js
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Algorithm Queue, HKube: Pipeline Driver Queue, HKube: Algorithm-Operator
