Repository kube-HPC/hkube, pull requests merged in 2021-07, with the labels that each got.

#1318 feat: algorithm-queue scale
  core/algorithm-operator/bootstrap.js
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/lib/helpers/jobs-message-queue.js
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/config/main/config.base.js
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/queue-runner.js
  core/algorithm-queue/lib/queue.js
  core/algorithm-queue/lib/queues-manager.js
Labels: HKube: Algorithm Queue, HKube: Algorithm-Operator

#1319 feat: algorithm-queue scaled
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
Labels: HKube: Algorithm-Operator

#1320 feat: algorithm-queue scaled
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
Labels: HKube: Algorithm-Operator

#1322 add maxWorkers to algorithm spec
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/debug.js
  core/api-server/lib/service/gateway.js
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/exec-raw.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithm.yaml
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/normalizeTests.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: API-Server, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec, HKube: Task Executor

#1321 add debugOverride
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/debug.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/pipelines-store.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/gc-service/config/main/config.base.js
  core/gc-service/lib/core/kind-cleaner.js
  core/gc-service/lib/helpers/store-manager.js
  core/gc-service/tests/debug/mocks/algorithms.js
  core/gc-service/tests/gateway/mocks/algorithms.js
  core/gc-service/tests/pipelines/mocks/executions.js
  core/openapi-spec/package.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/pipelines/options.yaml
Labels: HKube: API-Server, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec, HKube: Task Executor

#1326 handle raw run of cached
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-raw.js
Labels: HKube: API-Server

#1330 update units-converter to allow byte values
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/resource-manager/lib/adapters/resources/k8s.js
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/resource-manager/tests/mocks/data/k8s-pods.json
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/stub/resources.js
Labels: HKube: API-Server, HKube: Resource Manager, HKube: Task Executor

#1332 update python wrapper in builder to version 2.2.0.dev3
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1331 feat: add rerun
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/executions.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-rerun.js
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/exec/rerun.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/paths/exec/rerun.yaml
  core/openapi-spec/swagger/paths/index.yaml
Labels: HKube: API-Server, HKube: OpenAPI-Spec

#1333 fix algorithm container status is undefined message
  core/worker/lib/worker.js
Labels: HKube: Worker

#1316 debug hkube api
  core/algorithm-debug/lib/algorithm-communication/ws.js
  core/algorithm-debug/lib/consts/messages.js
  core/algorithm-debug/lib/index.js
  core/algorithm-debug/package-lock.json
  core/algorithm-debug/package.json
  core/algorithm-debug/tests/debug.js
  core/api-server/lib/service/debug.js
Labels: HKube: API-Server, HKube: Algorithm-Debug

#1345 update nodejs wrapper to 2.0.45
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder
