Repository kube-HPC/hkube, pull requests merged in 2021-02, with the labels that each got.

#1123 throw if no hkube configmap
  core/task-executor/lib/helpers/kubernetes.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/kubernetesApiTests.js
  core/task-executor/tests/setup.js
Labels: HKube: Task Executor

#1127 fix configmap algorithm operator
  core/algorithm-operator/lib/helpers/kubernetes.js
Labels: HKube: Algorithm-Operator

#1128 Stored pipeline merge
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-stored.js
  core/api-server/tests/mocks/pipelines.json
Labels: HKube: API-Server

#1121 Cli endpoint
  core/datasources-service/.eslintrc.js
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/api/rest-api/swagger/definitions/sync.request.yaml
  core/datasources-service/api/rest-api/swagger/paths/index.yaml
  core/datasources-service/api/rest-api/swagger/paths/sync.yaml
  core/datasources-service/jsconfig.json
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/downloads.js
  core/datasources-service/lib/utils/DvcClient.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/Shell.js
  core/datasources-service/lib/utils/ensureArray.js
  core/datasources-service/lib/utils/getFilePath.js
  core/datasources-service/lib/utils/types.d.ts
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/api.js
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/download.test.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/request.js
  core/datasources-service/tests/setup.js
  core/datasources-service/tests/setupDataSource.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/sync.test.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
  core/datasources-service/tests/validation.test.js
  core/datasources-service/tests/waitFor.js
Labels: HKube: Datasources

#1131 clean stopped jobs
  core/algorithm-queue/.eslintrc.js
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/lib/utils/pipelineStatuses.js
Labels: HKube: Algorithm Queue

#1126 add optional api-server prefix
  core/api-server/config/main/config.base.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/configTest.js
Labels: HKube: API-Server

#1134 Support datasource external storage
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/definitions/create.request.yaml
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/jsconfig.json
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/downloads.js
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/utils/GitRemoteClient/Base.js
  core/datasources-service/lib/utils/GitRemoteClient/Github.js
  core/datasources-service/lib/utils/GitRemoteClient/Gitlab.js
  core/datasources-service/lib/utils/GitRemoteClient/index.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/dvcConfig.js
  core/datasources-service/lib/utils/types.d.ts
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/lib/validation/validation.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/api.js
  core/datasources-service/tests/clearGitlab.js
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/gitToken.js
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/request.js
  core/datasources-service/tests/setup.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/utils.js
  core/datasources-service/tests/validation.test.js
  scripts/beforeInstall.sh
Labels: HKube: Datasources

#1115 implemented delete from git and storage
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/lib/DedicatedStorage.js
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/utils/GitRemoteClient/Github.js
  core/datasources-service/lib/utils/GitRemoteClient/Gitlab.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/setup.js
Labels: HKube: Datasources

#1137 Datasource mounted cleanup
  core/api-server/lib/service/data-sources.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/data-sources.js
  core/api-server/tests/exec-datasource.js
  core/datasources-service/api/rest-api/routes/v1/datasource.js
  core/datasources-service/api/rest-api/swagger/index.yaml
  core/datasources-service/lib/service/jobs-consumer.js
  core/datasources-service/lib/service/types.ts
  core/datasources-service/lib/utils/glob.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/jobs-consumer.test.js
  core/datasources-service/tests/validation.test.js
Labels: HKube: API-Server, HKube: Datasources

#1138 update python wrapper in builder to version 2.1.0.dev18
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1139 add datasource envs and mounts to debug worker
  core/algorithm-operator/lib/deployments/worker-debug.js
  core/algorithm-operator/lib/templates/worker-debug.js
  core/algorithm-operator/tests/worker-debug.js
Labels: HKube: Algorithm-Operator

#1140 Bugfix datasources
  core/datasources-service/api/rest-api/swagger/definitions/create.request.yaml
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/utils/GitRemoteClient/Github.js
  core/datasources-service/lib/utils/GitRemoteClient/Gitlab.js
  core/datasources-service/lib/utils/Repository.js
Labels: HKube: Datasources

#1130 Streaming auto scaler
  core/algorithm-queue/lib/jobs/producer.js
  core/pipeline-driver/lib/progress/nodes-progress.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package.json
  core/worker/config/main/config.base.js
  core/worker/config/main/config.test.js
  core/worker/lib/consts/streaming-events.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/streaming/adapters/adapter.js
  core/worker/lib/streaming/adapters/adapters-proxy.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/adapters/slave-adapter.js
  core/worker/lib/streaming/core/fixed-window.js
  core/worker/lib/streaming/core/idle-marker.js
  core/worker/lib/streaming/core/index.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/core/scale-reasons.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/core/throughput.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/metrics-collector.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/lib/streaming/services/throughput-collector.js
  core/worker/lib/worker.js
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Algorithm Builder, HKube: Algorithm Queue, HKube: Pipeline Driver, HKube: Worker

#1142 update python wrapper in builder to version 2.1.0.dev19
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1141 Datasource failure cleanup
  core/datasources-service/api/rest-api/swagger/definitions/URL.yaml
  core/datasources-service/api/rest-api/swagger/definitions/create.request.yaml
  core/datasources-service/api/rest-api/swagger/definitions/index.yaml
  core/datasources-service/lib/consts/validationMessages.js
  core/datasources-service/lib/utils/GitRemoteClient/Github.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/validation/custom-formats.js
  core/datasources-service/tests/api.js
  core/datasources-service/tests/create.test.js
Labels: HKube: Datasources

#1146 update python wrapper in builder to version 2.1.0.dev21
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1147 update python wrapper in builder to version 2.1.0.dev22
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1151 update python wrapper in builder to version 2.1.0.dev24
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1152 feat: DAG
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

#1153 update python wrapper in builder to version 2.1.0.dev25
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1145 accurate scale
  core/api-server/lib/service/pipeline-creator.js
  core/pipeline-driver/package.json
  core/worker/config/main/config.base.js
  core/worker/config/main/config.test.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/streaming/adapters/master-adapter.js
  core/worker/lib/streaming/core/fixed-window.js
  core/worker/lib/streaming/core/idle-marker.js
  core/worker/lib/streaming/core/index.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/pending-scale.js
  core/worker/lib/streaming/core/scale-reasons.js
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/core/time-marker.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/metrics-collector.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/streaming/services/stream-service.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Pipeline Driver, HKube: Worker

#1154 feat: improve durations scaling
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package.json
  core/worker/test/streaming.js
Labels: HKube: Worker

#1155 feat: improve scaling metrics
  core/worker/lib/streaming/core/fixed-window.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
Labels: HKube: Worker

#1156 fix-settings
  core/algorithm-operator/lib/helpers/settings.js
  core/algorithm-operator/tests/settingsTest.js
  core/task-executor/lib/helpers/settings.js
  core/task-executor/tests/settingsTest.js
Labels: HKube: Algorithm-Operator, HKube: Task Executor

#1148 Support internal kind
  core/datasources-service/.prettierrc.js
  core/datasources-service/api/rest-api/swagger/definitions/create.request.yaml
  core/datasources-service/bootstrap.js
  core/datasources-service/config/main/config.base.js
  core/datasources-service/dockerfile/Dockerfile
  core/datasources-service/lib/service/dataSource.js
  core/datasources-service/lib/service/gitToken.js
  core/datasources-service/lib/service/snapshots.js
  core/datasources-service/lib/service/validation.js
  core/datasources-service/lib/utils/GitRemoteClient/Github.js
  core/datasources-service/lib/utils/GitRemoteClient/Gitlab.js
  core/datasources-service/lib/utils/Repository.js
  core/datasources-service/lib/utils/dvcConfig.js
  core/datasources-service/lib/utils/ensureArray.js
  core/datasources-service/lib/utils/normalize.js
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/datasources-service/tests/api.js
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/dataSource.test.js
  core/datasources-service/tests/download.test.js
  core/datasources-service/tests/gitToken.js
  core/datasources-service/tests/snapshots.test.js
  core/datasources-service/tests/sync.test.js
  core/datasources-service/tests/update.test.js
  core/datasources-service/tests/validation.test.js
  core/datasources-service/tests/waitFor.js
Labels: HKube: Datasources

#1157 update python wrapper in builder to version 2.1.0.dev26
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1158 feat: add streaming_roundtrip_metric
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/services/auto-scaler.js
Labels: HKube: Worker

#1159 update python wrapper in builder to version 2.1.0.dev27
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1161 update python wrapper in builder to version 2.1.0.dev28
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder
