Repository kube-HPC/hkube, pull requests merged in 2021-11, with the labels that each got.

#1442 update python wrapper to hkube-python-wrapper==2.3.0.dev1
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1424 algorithm kind
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/examples/pipelines.json
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/gateway.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/validation/executions.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-stored.js
  core/api-server/tests/exec-streaming.js
  core/api-server/tests/mocks/algorithms.json
  core/api-server/tests/mocks/pipelines.json
  core/api-server/tests/pipelines-store.js
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithm.yaml
  core/openapi-spec/swagger/definitions/algorithms/algorithmKind.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/definitions/pipelines/pipelineNode.yaml
Labels: HKube: API-Server, HKube: OpenAPI-Spec

#1434 feat: improve delete algorithm
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

#1437 feat: exit on redis disconnection
  core/algorithm-queue/bootstrap.js
  core/pipeline-driver-queue/bootstrap.js
  core/pipeline-driver/bootstrap.js
  core/worker/bootstrap.js
Labels: HKube: Pipeline Driver, HKube: Worker, HKube: Algorithm Queue, HKube: Pipeline Driver Queue

#1450 setting.xml plugin repository points to artifacts-registry
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/settings.xml
Labels: HKube: Algorithm Builder

#1441 fix negative free gpu resouces
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/resources.js
Labels: HKube: Task Executor

#1458 apply resources to pipeline driver
  core/algorithm-operator/lib/jobs/jobCreator.js
  core/algorithm-operator/tests/pipeline-drivers.js
Labels: HKube: Algorithm-Operator

#1456 disable datasources mount if service is disabled
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Task Executor

#1464 fix: webhooks levels
  core/api-server/lib/webhook/webhooks-handler.js
Labels: HKube: API-Server
