Repository kube-HPC/hkube, pull requests merged in 2021-09, with the labels that each got.

#1414 feat: fix rebuild issue
  core/algorithm-builder/bootstrap.js
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-builder/lib/state/state-manager.js
  core/algorithm-builder/package.json
  core/algorithm-builder/tests/builds.js
  core/algorithm-builder/tests/mocks/java/build.json
  core/algorithm-builder/tests/mocks/nodejs/build.json
  core/algorithm-builder/tests/mocks/python/build.json
  core/algorithm-builder/tests/test.js
Labels: HKube: Algorithm Builder

#1415 fix algorithm_queue_scale
  core/algorithm-operator/.eslintrc.js
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
  core/algorithm-operator/tests/algorithm-queue.js
Labels: HKube: Algorithm-Operator

#1416 disable enableCheckStalledJobs in worker
  core/worker/lib/producer/producer.js
Labels: HKube: Worker

#1417 feat: add errors log info
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/services/election.js
  core/worker/lib/streaming/services/metrics-collector.js
  core/worker/lib/streaming/services/scaler-service.js
  core/worker/lib/streaming/services/service-discovery.js
  core/worker/lib/worker.js
Labels: HKube: Worker

#1364 add extra registries
  .github/workflows/deploy.yml
  .github/workflows/main.yaml
  core/algorithm-builder/dockerfile/build.sh
  core/algorithm-debug/dockerfile/build.sh
  core/algorithm-gateway/dockerfile/build.sh
  core/algorithm-operator/dockerfile/build.sh
  core/algorithm-queue/dockerfile/build.sh
  core/api-server/dockerfile/build.sh
  core/datasources-service/dockerfile/build.sh
  core/gc-service/dockerfile/build.sh
  core/pipeline-driver-queue/dockerfile/build.sh
  core/pipeline-driver/dockerfile/build.sh
  core/resource-manager/dockerfile/build.sh
  core/task-executor/dockerfile/build.sh
  core/trigger-service/dockerfile/build.sh
  core/worker/dockerfile/build.sh
  scripts/build.sh
  scripts/docker-login.sh
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Worker, HKube: Algorithm Queue, HKube: Resource Manager, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Algorithm-Operator, HKube: Trigger Service, HKube: Algorithm Builder, HKube: Datasources, Hkube: Algorithm-Gateway, HKube: GC-Service, HKube: Algorithm-Debug

#1418 feat: add builds clean
  core/gc-service/api/rest-api/swagger.json
  core/gc-service/config/main/config.base.js
  core/gc-service/lib/cleaners/storage/builds-cleaner.js
  core/gc-service/lib/cleaners/storage/index.js
  core/gc-service/tests/storage/mocks/alg.tar.gz
  core/gc-service/tests/storage/test.js
Labels: HKube: GC-Service
