Repository kube-HPC/hkube, pull requests merged in 2021-08, with the labels that each got.

#1346 update python wrapper in builder to version 2.2.0.dev5
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1342 support log message from debug algorithm
  core/algorithm-debug/lib/index.js
  core/algorithm-debug/package-lock.json
  core/algorithm-debug/package.json
Labels: HKube: Algorithm-Debug

#1351 2.0 snapshot
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/wrapper/version.txt
  core/algorithm-builder/lib/builds/docker-builder.js
Labels: HKube: Algorithm Builder

#1356 feat: add search limit
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/executions.js
  core/api-server/tests/exec-caching.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-search.js
  core/openapi-spec/swagger-builder.js
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/exec/searchJobs.yaml
  core/openapi-spec/swagger/index.yaml
Labels: HKube: API-Server, HKube: OpenAPI-Spec

#1353 feat: add queue active by timestamp
  core/algorithm-operator/config/main/config.base.js
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
Labels: HKube: Algorithm-Operator

#1360 fix: reconciler
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
  core/api-server/lib/validation/executions.js
Labels: HKube: API-Server, HKube: Algorithm-Operator

#1363 fix ingress
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-operator/tests/algorithm-debug.js
Labels: HKube: Algorithm-Operator

#1361 add more logs
  core/algorithm-queue/config/main/config.base.js
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/jobs/producer.js
  core/pipeline-driver/config/main/config.base.js
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/test/algorithm-execution.js
Labels: HKube: Pipeline Driver, HKube: Worker, HKube: Algorithm Queue

#1372 update java wrapper to v1.0.20-SNAPSHOT
  core/algorithm-builder/environments/java/wrapper/version.txt
Labels: HKube: Algorithm Builder

#1373 don't retry for algorithm execution code api
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
Labels: HKube: Worker

#1378 update parser to handle batch on object with flowInput
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

#1380 Support range java
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/java/dockerfile/wrapper-download/.gitignore
  core/algorithm-builder/environments/java/dockerfile/wrapper-download/pom.xml
Labels: HKube: Algorithm Builder

#1389 update java wrapper to v2.1.7-SNAPSHOT
  core/algorithm-builder/environments/java/wrapper/version.txt
Labels: HKube: Algorithm Builder

#1379 add emptyDir and configMap mounts
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithmMount.yaml
  core/task-executor/lib/consts/index.js
  core/task-executor/lib/consts/volumes.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: API-Server, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1393 update python wrapper to hkube-python-wrapper==2.2.0.dev7
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1394 update python wrapper to hkube-python-wrapper==2.2.0.dev9
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1395 feat: improve drivers scale
  core/algorithm-operator/lib/reconcile/drivers-reconciler.js
  core/algorithm-operator/lib/reconcile/normalize.js
  core/algorithm-operator/tests/pipeline-drivers.js
Labels: HKube: Algorithm-Operator

#1408 Pipeline status bug
  core/pipeline-driver/lib/state/db.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/state-manager.js
Labels: HKube: Pipeline Driver

#1409 update nodejs wrapper to 2.0.50
  core/algorithm-builder/environments/nodejs/wrapper/package.json
Labels: HKube: Algorithm Builder

#1411 stuck-preschedule
  core/algorithm-queue/.eslintrc.js
  core/algorithm-queue/config/main/config.base.js
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/pipeline-driver/config/main/config.base.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/worker/lib/code-api/algorithm-execution/algorithm-execution.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: Worker, HKube: Algorithm Queue

#1405 algorithm-queue scale improvement
  core/algorithm-operator/config/main/config.test.js
  core/algorithm-operator/lib/helpers/etcd.js
  core/algorithm-operator/lib/operator.js
  core/algorithm-operator/lib/reconcile/algorithm-queue.js
  core/algorithm-operator/tests/algorithm-queue.js
  core/algorithm-operator/tests/mocks/kubernetes.mock.js
  core/algorithm-operator/tests/stub/algorithm-queue-deployments.json
  core/algorithm-operator/tests/stub/algorithm-queue-discovery.json
  core/algorithm-operator/tests/stub/algorithm-queue-map.json
  core/algorithm-operator/tests/stub/algorithms.js
  core/algorithm-operator/tests/stub/templateStore.js
Labels: HKube: Algorithm-Operator

#1413 Streaming gateway
  core/algorithm-gateway/config/logger/config.base.js
  core/algorithm-gateway/config/logger/config.development.js
  core/algorithm-gateway/config/logger/config.production.js
  core/algorithm-gateway/config/logger/config.test.js
  core/algorithm-gateway/config/main/config.base.js
  core/algorithm-gateway/lib/index.js
  core/algorithm-gateway/package-lock.json
  core/algorithm-gateway/package.json
  core/algorithm-gateway/tests/streaming.js
  core/algorithm-operator/lib/templates/algorithm-gateway.js
Labels: HKube: Algorithm-Operator, Hkube: Algorithm-Gateway
