Repository kube-HPC/hkube, pull requests merged in 2022-03, with the labels that each got.

#1543 update java wrapper to v2.2.1-SNAPSHOT
  core/algorithm-builder/environments/java/wrapper/version.txt
Labels: HKube: Algorithm Builder

#1528 add exec jobs api
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/execution.js
  core/api-server/lib/state/state-manager.js
  core/api-server/tests/exec-jobs.js
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/common/queryList.yaml
  core/openapi-spec/swagger/definitions/exec/jobListItem.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/paths/exec/jobs.yaml
  core/openapi-spec/swagger/paths/index.yaml
Labels: HKube: API-Server, HKube: OpenAPI-Spec

#1537 restart on error
  core/pipeline-driver/bootstrap.js
  core/pipeline-driver/lib/consts/componentNames.js
  core/pipeline-driver/lib/consumer/jobs-consumer.js
  core/pipeline-driver/lib/state/db.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver, HKube: Algorithm Queue

#1538 concurrency updates
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/config/main/config.test.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/mocks/worker.js
  core/api-server/tests/webhooks.js
  core/pipeline-driver-queue/.eslintrc.js
  core/pipeline-driver-queue/config/main/config.base.js
  core/pipeline-driver-queue/lib/graceful-shutdown.js
  core/pipeline-driver-queue/lib/jobs/concurrencyHandler.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/lib/persistency/data-store.js
  core/pipeline-driver-queue/lib/queue-runner.js
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver-queue/tests/concurrencyTests.js
  core/pipeline-driver-queue/tests/mock/pipelines.json
  core/pipeline-driver-queue/tests/queueTests.js
  core/pipeline-driver-queue/tests/setup.js
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue

#1544 add pipeline name to discovery
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

#1545 order bootstrap init
  core/pipeline-driver/bootstrap.js
Labels: HKube: Pipeline Driver

#1546 fix consumer initialization order
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Worker

#1548 fix status if not set correctly py pipeline driver
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server

#1549 Pdq-fixes
  core/algorithm-queue/lib/jobs/consumer.js
  core/algorithm-queue/lib/jobs/producer.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/pipeline-driver-queue/config/logger/config.test.js
  core/pipeline-driver-queue/lib/consts/metrics-types.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/lib/metrics/aggregation-metrics-factory.js
  core/pipeline-driver-queue/lib/queue-runner.js
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/worker/lib/consts/component-names.js
  core/worker/lib/producer/producer.js
Labels: HKube: Worker, HKube: Algorithm Queue, HKube: Pipeline Driver Queue

#1550 fix job invalid status
  core/gc-service/config/logger/config.test.js
  core/gc-service/config/main/config.base.js
  core/gc-service/lib/cleaners/status/index.js
  core/gc-service/lib/helpers/kubernetes.js
  core/gc-service/lib/helpers/store-manager.js
  core/gc-service/tests/status/mocks/jobs.json
  core/gc-service/tests/status/test.js
Labels: HKube: GC-Service

#1552 add pipeline name to exec/jobs
  core/api-server/lib/state/state-manager.js
  core/api-server/tests/exec-jobs.js
Labels: HKube: API-Server

#1553 add queue count
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/definitions/queue/queueCountResponse.yaml
  core/openapi-spec/swagger/paths/index.yaml
  core/openapi-spec/swagger/paths/queue/count.yaml
  core/pipeline-driver-queue/api/rest-api/app-server.js
  core/pipeline-driver-queue/api/rest-api/root.js
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/pipeline-driver-queue/lib/service/managed.js
  core/pipeline-driver-queue/lib/service/pagingBase.js
  core/pipeline-driver-queue/lib/service/preferred-jobs.js
  core/pipeline-driver-queue/tests/test-preferred-managed.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1554 support filtering managed with no tag
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/managed/list.yaml
  core/openapi-spec/swagger/paths/preferred/preferred.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/pipeline-driver-queue/lib/service/managed.js
  core/pipeline-driver-queue/lib/service/pagingBase.js
  core/pipeline-driver-queue/lib/service/preferred-jobs.js
  core/pipeline-driver-queue/tests/test-preferred-managed.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1560 exit on etcd watch error
  core/algorithm-queue/bootstrap.js
  core/algorithm-queue/lib/consts/component-name.js
  core/algorithm-queue/lib/persistency/etcd.js
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/lib/state/state-manager.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/datasources-service/lib/Etcd.js
  core/datasources-service/lib/consts/componentNames.js
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/trigger-service/lib/store/store-manager.js
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
Labels: HKube: API-Server, HKube: Algorithm Queue, HKube: Trigger Service, HKube: Datasources

#1561 add force flag to kaniko to fix cgroups v2 issue
  core/algorithm-builder/lib/builds/build-utils.sh
Labels: HKube: Algorithm Builder

#1563 validate gateway node type if set or set it to stateful
  core/api-server/lib/service/gateway.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/validation/gateways.js
  core/api-server/tests/exec-streaming.js
  core/api-server/tests/pipelines-store.js
Labels: HKube: API-Server

#1569 log by last task details
  core/algorithm-debug/config/logger/config.base.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Worker, HKube: Algorithm-Debug
