Repository kube-HPC/hkube, pull requests merged in 2022-05, with the labels that each got.

#1584 fix log redirect command
  core/algorithm-builder/environments/java/runJava.sh
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/python/dockerfile/DockerfileTemplate
Labels: HKube: Algorithm Builder

#1579 fix parentspan
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/internal.js
  core/api-server/tests/exec-pipelines.js
Labels: HKube: API-Server

#1587 add information from task
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/cache-pipeline.js
Labels: HKube: Pipeline Driver

#1591 Add graph api for pipeline
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/utils/graph-builder.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/index.yaml
  core/openapi-spec/swagger/paths/store/pipeline_graph.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1588 Upgrade node to 18
  .github/workflows/deploy.yml
  .github/workflows/frozen.yml
  .github/workflows/main.yaml
  .github/workflows/pr.yaml
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/dockerfile/Dockerfile
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/wrapper/package-lock.json
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-debug/dockerfile/Dockerfile
  core/algorithm-debug/package-lock.json
  core/algorithm-debug/package.json
  core/algorithm-gateway/dockerfile/Dockerfile
  core/algorithm-gateway/package-lock.json
  core/algorithm-gateway/package.json
  core/algorithm-hyperparams-tuner/package-lock.json
  core/algorithm-operator/.dockerignore
  core/algorithm-operator/dockerfile/Dockerfile
  core/algorithm-operator/package-lock.json
  core/algorithm-output/dockerfile/Dockerfile
  core/algorithm-output/package-lock.json
  core/algorithm-output/package.json
  core/algorithm-queue/.dockerignore
  core/algorithm-queue/dockerfile/Dockerfile
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/dockerfile/Dockerfile
  core/api-server/package-lock.json
  core/api-server/package.json
  core/datasources-service/dockerfile/Dockerfile
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/gc-service/.dockerignore
  core/gc-service/dockerfile/Dockerfile
  core/gc-service/package-lock.json
  core/gc-service/package.json
  core/openapi-spec/package-lock.json
  core/pipeline-driver-queue/dockerfile/Dockerfile
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/.dockerignore
  core/pipeline-driver/dockerfile/Dockerfile
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/.dockerignore
  core/resource-manager/dockerfile/Dockerfile
  core/resource-manager/package-lock.json
  core/task-executor/.dockerignore
  core/task-executor/dockerfile/Dockerfile
  core/task-executor/package-lock.json
  core/trigger-service/.dockerignore
  core/trigger-service/dockerfile/Dockerfile
  core/trigger-service/package-lock.json
  core/worker/bootstrap.js
  core/worker/dockerfile/Dockerfile
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Worker, HKube: Algorithm Queue, HKube: Resource Manager, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Algorithm-Operator, HKube: Trigger Service, HKube: Algorithm Builder, HKube: Datasources, Hkube: Algorithm-Gateway, HKube: GC-Service, HKube: Algorithm-Debug, HKube: OpenAPI-Spec
