Repository kube-HPC/hkube, pull requests merged in 2022-01, with the labels that each got.

#1490 fix redis error log transport
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Worker, HKube: Algorithm Queue, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Algorithm-Operator

#1491 Fix concurrent jobs
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/pipeline.yaml
  core/api-server/lib/producer/jobs-producer.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/validation/executions.js
  core/pipeline-driver-queue/lib/consts/queue-events.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/lib/queue-runner.js
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue

#1492 Retry-limit-pdq
  core/pipeline-driver-queue/.eslintrc.js
  core/pipeline-driver-queue/config/main/config.base.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/lib/queue-runner.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: Pipeline Driver Queue

#1494 feat: start handle errors in driver
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/task-executor/lib/reconcile/drivers-reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Pipeline Driver, HKube: Task Executor

#1497 Active-jobs-api
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/rest-api/swagger/definitions/index.yaml
  core/api-server/api/rest-api/swagger/definitions/jobListItem.yaml
  core/api-server/api/rest-api/swagger/paths/exec/jobs.yaml
  core/api-server/api/rest-api/swagger/paths/index.yaml
  core/api-server/lib/service/execution.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/executions.js
  core/api-server/tests/exec-jobs.js
  core/pipeline-driver-queue/lib/persistency/persistence.js
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue

#1498 Add pipeline-driver jobs logs
  core/pipeline-driver/lib/producer/jobs-producer.js
Labels: HKube: Pipeline Driver

#1500 ability to stop pipeline if there is no result
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-stop.js
  core/api-server/tests/pipelines-store.js
Labels: HKube: API-Server

#1501 update java wrapper to v2.1.9-SNAPSHOT
  core/algorithm-builder/environments/java/wrapper/version.txt
Labels: HKube: Algorithm Builder

#1502 update java wrapper to v2.1.10-SNAPSHOT
  core/algorithm-builder/environments/java/wrapper/version.txt
Labels: HKube: Algorithm Builder

#1396 remove get dependency python and nodejs
  core/algorithm-builder/dockerfile/build.sh
  core/algorithm-builder/dockerfile/get-deps-java.sh
  core/algorithm-builder/environments/java/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/nodejs/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/python/dockerfile/DockerfileTemplate
  core/algorithm-builder/environments/python/dockerfile/requirements.sh
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1503 Count active when producing jobs
  core/pipeline-driver-queue/lib/consts/component-name.js
  core/pipeline-driver-queue/lib/jobs/concurrencyHandler.js
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver-queue/tests/concurrencyTests.js
  core/pipeline-driver-queue/tests/queueTests.js
  core/pipeline-driver-queue/tests/setup.js
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: Pipeline Driver Queue

#1508 update nodejs wrapper to 2.0.61
  core/algorithm-builder/environments/nodejs/wrapper/package.json
  core/algorithm-debug/package-lock.json
  core/algorithm-debug/package.json
  core/algorithm-gateway/package-lock.json
  core/algorithm-gateway/package.json
  core/algorithm-output/package-lock.json
  core/algorithm-output/package.json
Labels: HKube: Algorithm Builder, Hkube: Algorithm-Gateway, HKube: Algorithm-Debug

#1509 allow self signed s3
  core/algorithm-builder/environments/java/runJava.sh
Labels: HKube: Algorithm Builder

#1510 Preferred adjustment
  .github/workflows/pr.yaml
  core/pipeline-driver-queue/lib/graceful-shutdown.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/lib/persistency/data-store.js
  core/pipeline-driver-queue/lib/persistency/persistency.js
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/lib/service/preferred-jobs.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver-queue/tests/preffered.js
  core/pipeline-driver-queue/tests/setup.js
  core/pipeline-driver-queue/tests/stub/stub.js
  core/pipeline-driver-queue/tests/test-preferred-managed.js
  core/pipeline-driver-queue/tests/test.js
Labels: HKube: Pipeline Driver Queue

#1511 Fix-concurrency-2
  core/pipeline-driver-queue/.dockerignore
  core/pipeline-driver-queue/dockerfile/Dockerfile
  core/pipeline-driver-queue/dockerfile/build.sh
  core/pipeline-driver-queue/lib/jobs/concurrencyHandler.js
  core/pipeline-driver-queue/lib/jobs/producer.js
  core/pipeline-driver-queue/lib/queue.js
  core/pipeline-driver-queue/tests/concurrencyTests.js
  core/pipeline-driver-queue/tests/test.js
  core/pipeline-driver/lib/consts/metricsNames.js
  core/pipeline-driver/lib/metrics/pipeline-metrics.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver, HKube: Pipeline Driver Queue

#1486 add active ttl
  core/api-server/api/rest-api/swagger.json
  core/api-server/tests/mocks/pipelines.json
  core/api-server/tests/pipelines-store.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/gc-service/lib/cleaners/pipelines/index.js
  core/gc-service/lib/cleaners/storage/index.js
  core/gc-service/lib/helpers/store-manager.js
  core/gc-service/tests/pipelines/mocks/executions.js
  core/gc-service/tests/pipelines/test.js
  core/gc-service/tests/storage/test.js
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/pipelines/options.yaml
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/state-manager.js
  core/pipeline-driver/tests/task-runner.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Worker, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec
