Repository kube-HPC/hkube, pull requests merged in 2022-10, with the labels that each got.

#1620 flowInput to Object in graphql and expose flowInput in Rest
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/api/graphql/schemas/pipeline-schema.js
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/execution.js
  core/api-server/tests/graphql/jobs.test.js
  core/api-server/tests/graphql/pipelines.test.js
  core/api-server/tests/graphql/queries/aggregated-job-query.js
  core/api-server/tests/graphql/queries/job-by-name-query.js
  core/api-server/tests/graphql/queries/pipeline-query.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/exec/flowInput.yaml
  core/openapi-spec/swagger/paths/index.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1621 update python wrapper to hkube-python-wrapper==2.4.0
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1619 fix builds list
  core/api-server/api/graphql/resolvers.js
Labels: HKube: API-Server

#1622 Revert "update versions"
  core/algorithm-builder/package-lock.json
  core/algorithm-builder/package.json
  core/algorithm-debug/package-lock.json
  core/algorithm-debug/package.json
  core/algorithm-gateway/package-lock.json
  core/algorithm-gateway/package.json
  core/algorithm-hyperparams-tuner/package-lock.json
  core/algorithm-hyperparams-tuner/package.json
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/algorithm-output/package-lock.json
  core/algorithm-output/package.json
  core/algorithm-queue/package-lock.json
  core/algorithm-queue/package.json
  core/api-server/package-lock.json
  core/api-server/package.json
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/gc-service/package-lock.json
  core/gc-service/package.json
  core/openapi-spec/package-lock.json
  core/openapi-spec/package.json
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/resource-manager/package-lock.json
  core/resource-manager/package.json
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/trigger-service/package-lock.json
  core/trigger-service/package.json
  core/worker/package-lock.json
  core/worker/package.json
  package-lock.json
  package.json
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Worker, HKube: Algorithm Queue, HKube: Resource Manager, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Algorithm-Operator, HKube: Trigger Service, HKube: Algorithm Builder, HKube: Datasources, Hkube: Algorithm-Gateway, HKube: GC-Service, HKube: Algorithm-Debug, HKube: OpenAPI-Spec
