Repository kube-HPC/hkube, pull requests merged in 2022-02, with the labels that each got.

#1514 queue incoming jobs to prevent stress on etcd
  core/pipeline-driver-queue/config/main/config.base.js
  core/pipeline-driver-queue/lib/jobs/consumer.js
  core/pipeline-driver-queue/package-lock.json
  core/pipeline-driver-queue/package.json
Labels: HKube: Pipeline Driver Queue

#1516 add buildConfig resources
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/lib/builds/docker-builder.js
  core/algorithm-builder/lib/utils/formatters.js
  core/algorithm-builder/tests/test.js
  core/algorithm-operator/config/logger/config.test.js
  core/algorithm-operator/lib/templates/algorithm-builder.js
  scripts/values-dev1-template.yml
Labels: HKube: Algorithm-Operator, HKube: Algorithm Builder

#1517 add counter metrics
  core/pipeline-driver/lib/consts/metricsNames.js
  core/pipeline-driver/lib/metrics/pipeline-metrics.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

#1513 count instead of jobs list and expose filter by pipeline and tag
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/managed/list.yaml
  core/openapi-spec/swagger/paths/preferred/list.yaml
  core/openapi-spec/swagger/paths/preferred/preferred.yaml
  core/pipeline-driver-queue/api/rest-api/routes/managed.js
  core/pipeline-driver-queue/api/rest-api/routes/preferred.js
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/pipeline-driver-queue/lib/service/pagingBase.js
  core/pipeline-driver-queue/lib/service/preferred-jobs.js
  core/pipeline-driver-queue/tests/setup.js
  core/pipeline-driver-queue/tests/test-preferred-managed.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1519 paging to the end of the list, and returning count next prev
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/managed/list.yaml
  core/openapi-spec/swagger/paths/preferred/preferred.yaml
  core/pipeline-driver-queue/api/rest-api/routes/managed.js
  core/pipeline-driver-queue/api/rest-api/routes/preferred.js
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/pipeline-driver-queue/config/main/config.test.js
  core/pipeline-driver-queue/lib/service/pagingBase.js
  core/pipeline-driver-queue/tests/test-preferred-managed.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1523 fix python build on slim
  core/algorithm-builder/environments/python/dockerfile/requirements.sh
Labels: HKube: Algorithm Builder

#1520 algorithm operator version
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
Labels: HKube: Algorithm-Operator

#1526 return no tags in managed tag aggregation
  core/pipeline-driver-queue/lib/service/managed.js
  core/pipeline-driver-queue/tests/test-preferred-managed.js
Labels: HKube: Pipeline Driver Queue

#1525 upgrade dvc
  core/datasources-service/config/main/config.base.js
  core/datasources-service/dockerfile/Dockerfile
  core/datasources-service/lib/utils/dvcConfig.js
  core/datasources-service/lib/validation/dataSources.js
  core/datasources-service/tests/create.test.js
  core/datasources-service/tests/update.test.js
  scripts/beforeInstall.sh
Labels: HKube: Datasources

#1530 handle pipeline-driver scale
  core/resource-manager/lib/adapters/drivers/queue.js
  core/resource-manager/tests/mocks/data/drivers-queue.json
  core/resource-manager/tests/test.js
Labels: HKube: Resource Manager

#1533 allow multiple pipelines with output
  core/api-server/lib/service/output.js
  core/api-server/lib/webhook/webhooks-handler.js
  core/api-server/tests/exec-raw.js
  core/gc-service/config/main/config.base.js
  core/gc-service/lib/cleaners/output/index.js
  core/gc-service/package-lock.json
  core/gc-service/package.json
  core/gc-service/tests/output/mocks/algorithms.js
  core/gc-service/tests/output/test.js
  core/gc-service/tests/pipelines/mocks/executions.js
Labels: HKube: API-Server, HKube: GC-Service

#1536 update python wrapper to hkube-python-wrapper==2.3.0.dev3
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1535 update etcd package to prevent watch and get race condition
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

#1539 update python wrapper version
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder
