Repository kube-HPC/hkube, pull requests merged in 2022-04, with the labels that each got.

#1575 Update instead of create
  core/algorithm-queue/package-lock.json
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/setup.js
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Pipeline Driver, HKube: Worker, HKube: Algorithm Queue

#1572 use debugOverride to run caching with debug
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/tests/exec-caching.js
  core/api-server/tests/exec-stored.js
Labels: HKube: API-Server

#1580 update python wrapper to hkube-python-wrapper==2.4.0.dev1
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1571 improve debugger already connected handling
  core/algorithm-debug/bootstrap.js
  core/algorithm-debug/lib/algorithm-communication/consts/index.js
  core/algorithm-debug/lib/algorithm-communication/ws.js
  core/algorithm-debug/lib/consts/component-names.js
  core/algorithm-debug/lib/consts/index.js
  core/algorithm-debug/lib/consts/messages.js
  core/algorithm-debug/tests/debug.js
Labels: HKube: Algorithm-Debug
