Repository kube-HPC/hkube, pull requests merged in 2023-01, with the labels that each got.

#1647 test get pod
  core/api-server/api/graphql/resolvers.js
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/api/graphql/schemas/log-schema.js
  core/api-server/api/task-logs/consts.js
  core/api-server/api/task-logs/kubernetes.js
  core/api-server/api/task-logs/logs.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server, HKube: Worker

#1652 add filter time and word name in get logs
  core/api-server/api/graphql/resolvers.js
  core/api-server/api/graphql/schemas/log-schema.js
  core/api-server/api/task-logs/es.js
  core/api-server/api/task-logs/logs.js
Labels: HKube: API-Server

#1656 test get pod (#1647)
  core/api-server/api/graphql/resolvers.js
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/api/task-logs/consts.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

#1654 add jobid in worker
  core/api-server/api/graphql/schemas/discovery-schema.js
Labels: HKube: API-Server

#1664 Task execution problems, not fail right away
  core/task-executor/lib/reconcile/reconciler.js
  core/worker/lib/worker.js
Labels: HKube: Worker, HKube: Task Executor

#1666 fix log orderBy to desc
  core/api-server/api/task-logs/logs.js
Labels: HKube: API-Server

#1667 no create new version if error build
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/versions.js
Labels: HKube: API-Server
