Repository kube-HPC/hkube, pull requests merged in 2023-09, with the labels that each got.

#1786 nodeSelector array of values
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithm.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/resources.js
  core/task-executor/tests/stub/templateStore.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1793 Api server update stop api call
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/execution.js
  core/api-server/tests/exec-stop.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/exec/stopRequest.yaml
  core/openapi-spec/swagger/paths/exec/stop.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1798 update python wrapper to hkube-python-wrapper==2.5.0.dev6
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1799 Store algorithms update - api call + insert algo
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/pipelines.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/exec-stop.js
Labels: HKube: API-Server
