Repository kube-HPC/hkube, pull requests merged in 2023-06, with the labels that each got.

#1734 Added error or warning facilitation for unscheduled algs.
  core/pipeline-driver/lib/consumer/jobs-consumer.js
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/tests/task-runner.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Pipeline Driver, HKube: Task Executor

#1735 Add versions to example algs with no version
  core/api-server/lib/examples/pipelines-updater.js
Labels: HKube: API-Server

#1736 streaming metrics for prometheus
  core/pipeline-driver/lib/consts/metricsNames.js
  core/pipeline-driver/lib/metrics/pipeline-metrics.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

#1742 grafana trendline fix
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

#1747 remove nodeselector warning summary
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

#1746 up date hkube db to 2.0.13
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

#1752 redirect output to stdout.log
  core/algorithm-debug/dockerfile/Dockerfile
Labels: HKube: Algorithm-Debug
