Repository kube-HPC/hkube, pull requests merged in 2023-02, with the labels that each got.

#1670 allow creating a pipeline with no ttl
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/gc-service/lib/cleaners/pipelines/index.js
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/pipelines/options.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1671 fix get all data from algo and pipeline
  core/api-server/api/graphql/schemas/algorithm-schema.js
  core/api-server/api/graphql/schemas/pipeline-schema.js
Labels: HKube: API-Server

#1673 Convert graphql objects in algo pipeline
  core/api-server/tests/graphql/pipelines.test.js
  core/api-server/tests/graphql/queries/algorithm-by-name-query.js
Labels: HKube: API-Server

#1674 update python wrapper to hkube-python-wrapper==2.5.0.dev3
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1675 no change
  core/api-server/LICENSE
Labels: HKube: API-Server

#1688 Node version algorithem
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

#1691 get pods output log path as environment variable
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor

#1692 get pods output log path as environment variable (#1691)
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/templates/worker.js
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Task Executor
