Repository kube-HPC/hkube, pull requests merged in 2023-12, with the labels that each got.

#1839 Tasts attachment to node
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver, HKube: Worker

#1849 update python wrapper to hkube-python-wrapper==2.6.0.dev2
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1804 Store pipelines update
  core/api-server/tests/pipelines-store.js
Labels: HKube: API-Server
