Repository kube-HPC/hkube, pull requests merged in 2023-11, with the labels that each got.

#1822 fix scaledown override for minStatelessCount
  core/api-server/lib/validation/pipelines.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package-lock.json
Labels: HKube: API-Server, HKube: Worker

#1803 get Streaming Flow Graph
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/task-logs/searchComponents.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/service/pipelines.js
  core/api-server/tests/graphql/queries/aggregated-job-query.js
  core/api-server/tests/graphql/queries/job-by-name-query.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/graph/graphPreview.yaml
  core/openapi-spec/swagger/definitions/graph/graphPreviewResponse.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/paths/index.yaml
  core/openapi-spec/swagger/paths/store/pipeline_graph_object.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1823 get Streaming Flow Graph (#1803)
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/task-logs/searchComponents.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/lib/service/pipelines.js
  core/api-server/tests/graphql/queries/aggregated-job-query.js
  core/api-server/tests/graphql/queries/job-by-name-query.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/graph/graphPreview.yaml
  core/openapi-spec/swagger/definitions/graph/graphPreviewResponse.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/paths/index.yaml
  core/openapi-spec/swagger/paths/store/pipeline_graph_object.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1828 Changing order of calls to services
  core/api-server/bootstrap.js
Labels: HKube: API-Server

#1830 scaledown race condition
  core/worker/lib/streaming/core/scaler.js
  core/worker/package-lock.json
  core/worker/package.json
Labels: HKube: Worker

#1836 add reason to stop,and filter by pause
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/lib/service/execution.js
Labels: HKube: API-Server

#1833 statelessCount scaling optimization
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: Worker

#1838 Rls2 6 p3
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/bootstrap.js
  core/api-server/lib/service/execution.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/streaming.js
  package-lock.json
  package.json
Labels: HKube: API-Server, HKube: Worker
