Repository kube-HPC/hkube, pull requests merged in 2023-08, with the labels that each got.

#1772 Stateless nodes scale
  core/api-server/api/rest-api/swagger.json
  core/api-server/package-lock.json
  core/api-server/tests/exec-datasource.js
  core/api-server/tests/exec-pipelines.js
  core/api-server/tests/exec-streaming.js
  core/api-server/tests/mocks/pipelines.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/pipelines/pipelineNode.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/pipeline-driver/lib/producer/jobs-producer.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/mocks/pipelines.json
  core/pipeline-driver/tests/task-runner.js
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1784 check image remove fileinfo
  core/api-server/lib/service/algorithms.js
Labels: HKube: API-Server

#1783 Autoscaler stateless count changes
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/tests/pipelines-store.js
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: API-Server, HKube: Worker
