Repository kube-HPC/hkube, pull requests merged in 2024-12, with the labels that each got.

#2036 add name node when debug
  core/api-server/lib/service/execution.js
Labels: HKube: API-Server

#2037 custom worker resources from algorith spec
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithm.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/templateStore.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2050 keycloak enable for microservices
  core/api-server/config/main/config.base.js
Labels: HKube: API-Server

#2033 Sidecar feature
  core/api-server/api/graphql/resolvers.js
  core/api-server/api/graphql/schemas/log-schema.js
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/task-logs/es.js
  core/api-server/api/task-logs/kubernetes.js
  core/api-server/api/task-logs/logs.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithm.yaml
  core/openapi-spec/swagger/definitions/algorithms/sideCars.yaml
  core/openapi-spec/swagger/definitions/algorithms/sidecarVolume.yaml
  core/openapi-spec/swagger/definitions/algorithms/sidecarVolumeMounts.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/task-executor/lib/helpers/kubernetes.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/kubernetesApiTests.js
  core/task-executor/tests/mocks/kubernetes-server.mock.js
  core/task-executor/tests/mocks/kubernetes.mock.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/resources.js
  core/task-executor/tests/stub/templateStore.js
  core/worker/lib/algorithm-logging/logging-proxy.js
  core/worker/lib/helpers/kubernetes.js
  core/worker/lib/worker.js
  core/worker/test/streaming.js
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Worker, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec
