Repository kube-HPC/hkube, pull requests merged in 2024-11, with the labels that each got.

#2026 add limit to log schema
  core/api-server/api/graphql/schemas/log-schema.js
Labels: HKube: API-Server

#2009 autoscaler interval log
  core/task-executor/lib/reconcile/reconciler.js
  core/worker/config/main/config.base.js
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/scaler.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/lib/streaming/services/auto-scaler.js
  core/worker/test/streaming.js
Labels: HKube: Worker, HKube: Task Executor

#2029 added new metrics for graphs
  core/pipeline-driver/lib/consts/metricsNames.js
  core/pipeline-driver/lib/metrics/pipeline-metrics.js
Labels: HKube: Pipeline Driver

#2028 Pipeline versioning tests
  core/api-server/lib/service/pipeline-versions.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/versioning.js
  core/api-server/tests/algorithms-versions.js
  core/api-server/tests/exec-streaming.js
  core/api-server/tests/pipelines-store.js
  core/api-server/tests/pipelines-versions.js
Labels: HKube: API-Server

#2032 New worker streaming tests
  core/worker/lib/streaming/core/metrics.js
  core/worker/lib/streaming/core/statistics.js
  core/worker/test/mocks/pipeline.json
  core/worker/test/streaming.js
Labels: HKube: Worker
