Repository kube-HPC/hkube, pull requests merged in 2024-02, with the labels that each got.

#1875 add a overwrite query api feature to storeAlgo
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/storage.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/store/algorithms.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1883 Catch update failure
  core/api-server/lib/service/algorithms.js
Labels: HKube: API-Server

#1884 Added overwrite to pipeline insert
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/pipelines.js
  core/api-server/tests/pipelines-store.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/store/pipelines.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1879 Enhance algorithm resource monitoring
  core/algorithm-queue/lib/metrics/aggregation-metrics-factory.js
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/metrics/metrics.js
Labels: HKube: Worker, HKube: Algorithm Queue

#1885 add externalid to job
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/state/state-manager.js
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

#1888 Added configurable dev mount path
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/tests/jobCreatorTests.js
Labels: HKube: Task Executor

#1891 update python wrapper to hkube-python-wrapper==2.6.0.dev7
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder
