Repository kube-HPC/hkube, pull requests merged in 2024-09, with the labels that each got.

#2001 update python wrapper to hkube-python-wrapper==2.6.0.dev25
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#2004 add devmode to query
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/api/graphql/schemas/pipeline-schema.js
  core/api-server/tests/graphql/queries/algorithm-query.js
Labels: HKube: API-Server

#2007 Updating upload artifact version
  .github/workflows/deploy.yml
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

#2003 update python wrapper to hkube-python-wrapper==2.6.0.dev26
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#2006 Updating parsers version
  .github/workflows/deploy.yml
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver

#2008 Swagger apply version option for algo change
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
Labels: HKube: API-Server
