Repository kube-HPC/hkube, pull requests merged in 2024-07, with the labels that each got.

#1948 Update producer consumer version
  core/algorithm-operator/lib/helpers/jobs-message-queue.js
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
Labels: HKube: Algorithm-Operator

#1956 add login rest api
  core/api-server/api/rest-api/routes/v1/auth.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/auth.js
  core/api-server/lib/validation/api-validator.js
  core/api-server/lib/validation/auth.js
  core/api-server/lib/validation/index.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/auth/loginRequest.yaml
  core/openapi-spec/swagger/definitions/auth/loginResponse.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/paths/auth/login.yaml
  core/openapi-spec/swagger/paths/index.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1960 Feature algorithms notify unfulfilled hot workers
  core/api-server/api/graphql/schemas/algorithm-schema.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/algorithms.js
Labels: HKube: API-Server

#1963 changed code for better complexity
  core/api-server/lib/state/state-manager.js
Labels: HKube: API-Server

#1968 Update packages producer consumer
  core/algorithm-operator/package-lock.json
  core/algorithm-operator/package.json
  core/api-server/api/graphql/schemas/job-schema.js
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/task-runner.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/reconcilerTests.js
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Task Executor, HKube: Algorithm-Operator
