Repository kube-HPC/hkube, pull requests merged in 2024-03, with the labels that each got.

#1898 change file permission in debug algorithm file system to align with o…
  core/algorithm-debug/dockerfile/Dockerfile
Labels: HKube: Algorithm-Debug

#1905 add status_delay to pipeline driver's template
  core/algorithm-operator/lib/templates/pipeline-driver.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver, HKube: Algorithm-Operator

#1906 adding try-catch block to prevent crashes
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

#1908 Pod delete api
  core/api-server/api/rest-api/routes/v1/kubernetes.js
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/task-logs/kubernetes.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/index.yaml
  core/openapi-spec/swagger/paths/kubernetes/algorithms_pods_algname.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#1912 gc not fail due to corrupted data
  core/gc-service/lib/core/kind-cleaner.js
Labels: HKube: GC-Service

#1911 Jobs delete api
  core/api-server/api/rest-api/routes/v1/kubernetes.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/task-logs/kubernetes.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/index.yaml
  core/openapi-spec/swagger/paths/kubernetes/algorithms_jobs_algname.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec
