Repository kube-HPC/hkube, pull requests merged in 2024-10, with the labels that each got.

#2015 Added new parameter for updating algorithm
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/store/algorithms.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2016 Pipeline versioning
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/routes/v1/versions.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/bootstrap.js
  core/api-server/lib/examples/pipelines-updater.js
  core/api-server/lib/service/algorithm-versions.js
  core/api-server/lib/service/algorithms.js
  core/api-server/lib/service/debug.js
  core/api-server/lib/service/pipeline-versions.js
  core/api-server/lib/service/pipelines.js
  core/api-server/lib/service/versioning.js
  core/api-server/lib/state/state-manager.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/pipelines-store.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/paths/index.yaml
  core/openapi-spec/swagger/paths/versions/algorithms/apply.yaml
  core/openapi-spec/swagger/paths/versions/algorithms/tag.yaml
  core/openapi-spec/swagger/paths/versions/algorithms/version.yaml
  core/openapi-spec/swagger/paths/versions/algorithms/version_id.yaml
  core/openapi-spec/swagger/paths/versions/pipelines/version.yaml
  core/openapi-spec/swagger/paths/versions/pipelines/version_id.yaml
  core/openapi-spec/swagger/tags/index.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2018 add devmode to graph
  core/api-server/api/graphql/schemas/job-schema.js
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver, HKube: API-Server

#2020 added spacing to error message
  core/api-server/lib/validation/algorithms.js
  core/api-server/tests/algorithms-store.js
Labels: HKube: API-Server

#2017 Status codes deprecated use update
  core/api-server/api/app-server.js
  core/api-server/api/rest-api/routes/v1/kubernetes.js
  core/api-server/api/rest-api/routes/v1/readme.js
  core/api-server/lib/errors/ActionNotAllowed.js
  core/api-server/lib/errors/InvalidDataError.js
  core/api-server/lib/errors/MethodNotAllowed.js
  core/api-server/lib/errors/ResourceExistsError.js
  core/api-server/lib/errors/ResourceNotFoundError.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/boards.js
  core/api-server/tests/builds.js
  core/api-server/tests/common.js
  core/api-server/tests/cron.js
  core/api-server/tests/delete-experiment.js
  core/api-server/tests/exec-algorithm.js
  core/api-server/tests/exec-caching.js
  core/api-server/tests/exec-pause.js
  core/api-server/tests/exec-pipelines.js
  core/api-server/tests/exec-raw.js
  core/api-server/tests/exec-results.js
  core/api-server/tests/exec-resume.js
  core/api-server/tests/exec-search.js
  core/api-server/tests/exec-status.js
  core/api-server/tests/exec-stop.js
  core/api-server/tests/exec-streaming.js
  core/api-server/tests/graph.js
  core/api-server/tests/internal.js
  core/api-server/tests/pipeline-in-pipeline.js
  core/api-server/tests/pipelines.js
  core/api-server/tests/readme.js
  core/api-server/tests/storage.js
  core/api-server/tests/versions.js
  core/api-server/tests/webhooks.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec
