Repository kube-HPC/hkube, pull requests merged in 2024-01, with the labels that each got.

#1855 update python wrapper to hkube-python-wrapper==2.6.0.dev3
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1832 Change node status after stopped pipeline
  core/pipeline-driver/config/main/config.base.js
  core/pipeline-driver/lib/state/db.js
  core/pipeline-driver/lib/state/state-manager.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/states/stateManager.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
  core/worker/package.json
  core/worker/test/stateMachineTests.js
Labels: HKube: Pipeline Driver, HKube: Worker

#1864 Fix overriden error status
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Worker

#1866 No db update in case of pause
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

#1853 Gc taskStatus cleaner
  core/gc-service/config/main/config.base.js
  core/gc-service/config/main/config.test.js
  core/gc-service/lib/cleaners/taskStatus/index.js
  core/gc-service/lib/helpers/store-manager.js
  core/gc-service/package-lock.json
  core/gc-service/package.json
  core/gc-service/tests/etcd/mocks/etcd-store.js
  core/gc-service/tests/pipelines/mocks/executions.js
  core/gc-service/tests/setup.js
  core/gc-service/tests/taskStatus/mocks/etcdStore.json
  core/gc-service/tests/taskStatus/test.js
  core/pipeline-driver/lib/datastore/graph-store.js
  core/pipeline-driver/lib/state/db.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/worker/bootstrap.js
Labels: HKube: Pipeline Driver, HKube: Worker, HKube: GC-Service

#1870 Parent scaledown
  core/worker/lib/streaming/services/stream-handler.js
  core/worker/lib/worker.js
  core/worker/test/streamingTests.js
Labels: HKube: Worker

#1872 Added res and req rates to metrics
  core/pipeline-driver/lib/consts/metricsNames.js
  core/pipeline-driver/lib/metrics/pipeline-metrics.js
  core/pipeline-driver/lib/tasks/task-runner.js
Labels: HKube: Pipeline Driver

#1876 metricsCleanup usage, new metrics package
  core/pipeline-driver/lib/metrics/pipeline-metrics.js
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
Labels: HKube: Pipeline Driver
