Repository kube-HPC/hkube, pull requests merged in 2024-04, with the labels that each got.

#1921 Configureable ratio pressure
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/consts/consts.js
Labels: HKube: Task Executor

#1922 finishJob logging upgrade
  core/worker/lib/consumer/JobConsumer.js
Labels: HKube: Worker

#1929 update python wrapper to hkube-python-wrapper==2.6.0.dev16
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#1928 concurrency anamoly for pipeline drivers
  core/pipeline-driver-queue/lib/persistency/scoring.js
  core/resource-manager/lib/adapters/drivers/queue.js
  core/resource-manager/tests/mocks/data/drivers-queue.json
  core/resource-manager/tests/test.js
Labels: HKube: Resource Manager, HKube: Pipeline Driver Queue
