Repository kube-HPC/hkube, pull requests merged in 2025-02, with the labels that each got.

#2076 keycloak ingress url per environment
  scripts/values-cicd-template.yml
  scripts/values-dev1-template.yml
  scripts/values-test-template.yml
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2063 keycloak middleware
  .github/workflows/deploy.yml
  core/api-server/api/app-server.js
  core/api-server/api/graphql/graphql-server.js
  core/api-server/api/rest-api/routes/v1/boards.js
  core/api-server/api/rest-api/routes/v1/builds.js
  core/api-server/api/rest-api/routes/v1/cron.js
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/routes/v1/experiment.js
  core/api-server/api/rest-api/routes/v1/gateway.js
  core/api-server/api/rest-api/routes/v1/graph.js
  core/api-server/api/rest-api/routes/v1/jaeger.js
  core/api-server/api/rest-api/routes/v1/kubernetes.js
  core/api-server/api/rest-api/routes/v1/pipelines.js
  core/api-server/api/rest-api/routes/v1/readme.js
  core/api-server/api/rest-api/routes/v1/resources.js
  core/api-server/api/rest-api/routes/v1/status.js
  core/api-server/api/rest-api/routes/v1/storage.js
  core/api-server/api/rest-api/routes/v1/store.js
  core/api-server/api/rest-api/routes/v1/versions.js
  core/api-server/api/rest-api/routes/v1/webhooks.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/keycloak.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/security/keycloak-scheme.yaml
  core/openapi-spec/swagger/index.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2081 No support for 3.7
  core/algorithm-builder/config/main/config.base.js
  core/algorithm-builder/dockerfile/get-deps-python.sh
Labels: HKube: Algorithm Builder

#2083 send start on reconnect
  core/algorithm-debug/lib/index.js
  core/algorithm-debug/tests/debug.js
Labels: HKube: Algorithm-Debug

#2092 allow running disconnected node in streaming
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/tests/exec-streaming.js
Labels: HKube: API-Server
