Repository kube-HPC/hkube, pull requests merged in 2025-03, with the labels that each got.

#2094 Logs failed createdjob
  core/api-server/api/rest-api/swagger.json
  core/api-server/api/task-logs/es.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/resources/resourceResponse.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/pipeline-driver/lib/tasks/task-runner.js
  core/pipeline-driver/package-lock.json
  core/pipeline-driver/package.json
  core/pipeline-driver/tests/task-runner.js
  core/task-executor/lib/helpers/kubernetes.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/lib/utils/warningCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/mocks/kubernetes.mock.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/templateStore.js
Labels: HKube: Pipeline Driver, HKube: API-Server, HKube: Algorithm Queue, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2093 Pipeline versioning apply delete
  core/api-server/api/graphql/schemas/pipeline-schema.js
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/routes/v1/versions.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/algorithm-versions.js
  core/api-server/lib/service/pipeline-versions.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/validation/inner-validator.js
  core/api-server/lib/validation/pipelines.js
  core/api-server/tests/algorithms-versions.js
  core/api-server/tests/pipelines-versions.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/definitions/pipelines/applyPipelineVersion.yaml
  core/openapi-spec/swagger/definitions/pipelines/pipeline.yaml
  core/openapi-spec/swagger/definitions/pipelines/pipelineVersionId.yaml
  core/openapi-spec/swagger/paths/index.yaml
  core/openapi-spec/swagger/paths/versions/pipelines/apply.yaml
  core/openapi-spec/swagger/paths/versions/pipelines/version_id.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2099 Sidecar default and custom resources
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/templateStore.js
  core/worker/lib/worker.js
  core/worker/test/streaming.js
Labels: HKube: Worker, HKube: Task Executor

#2107 fixed bug
  core/task-executor/lib/helpers/kubernetes.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/mocks/kubernetes.mock.js
Labels: HKube: Task Executor

#2080 update python wrapper to hkube-python-wrapper==2.6.0.dev27
  core/algorithm-builder/environments/python/wrapper/requirements.txt
Labels: HKube: Algorithm Builder

#2111 Auditing feature
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/api/rest-api/routes/v1/exec.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/execution.js
  core/api-server/lib/service/keycloak.js
  core/api-server/lib/state/state-manager.js
  core/api-server/lib/utils/auditing.js
  core/api-server/package-lock.json
  core/api-server/package.json
  core/api-server/tests/exec-auditTrail.js
  core/api-server/tests/graphql/jobs.test.js
  core/api-server/tests/graphql/queries/aggregated-job-with-audit.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/exec/auditTrail.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/openapi-spec/swagger/paths/exec/auditTrail.yaml
  core/openapi-spec/swagger/paths/index.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2100 Keycloak auth graphql
  core/api-server/api/app-server.js
  core/api-server/api/graphql/graphql-schema.js
  core/api-server/api/graphql/graphql-server.js
  core/api-server/api/graphql/queries/database-querier.js
  core/api-server/api/graphql/queries/statistics-querier.js
  core/api-server/api/graphql/resolvers.js
  core/api-server/lib/consts/componentNames.js
  core/api-server/lib/errors/AuthenticationError.js
  core/api-server/lib/errors/index.js
  core/api-server/lib/service/keycloak.js
Labels: HKube: API-Server
