Repository kube-HPC/hkube, pull requests merged in 2025-01, with the labels that each got.

#2053 Bug fix - logging proxy more than one tail for algorunner
  core/worker/lib/algorithm-logging/logging-proxy.js
  core/worker/test/streaming.js
Labels: HKube: Worker

#2055 fixed bug when volumes is not defined
  core/task-executor/lib/reconcile/resources.js
Labels: HKube: Task Executor

#2056 Added print to sidecar logs
  core/worker/lib/worker.js
Labels: HKube: Worker

#2057 Get init logs
  core/api-server/api/task-logs/es.js
  core/api-server/api/task-logs/kubernetes.js
  core/worker/lib/algorithm-logging/logging-proxy.js
Labels: HKube: API-Server, HKube: Worker

#2061 Configureable ratio pressure (#1921)
  core/task-executor/config/main/config.base.js
  core/task-executor/lib/consts/consts.js
Labels: HKube: Task Executor

#2066 Duplicate container name fix
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/algorithms.js
  core/api-server/tests/algorithms-store.js
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/sideCars.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/task-executor/lib/jobs/jobCreator.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec
