Repository kube-HPC/hkube, pull requests merged in 2025-07, with the labels that each got.

#2170 Internal route block
  .github/workflows/deploy.yml
  core/api-server/api/app-server.js
  core/api-server/api/rest-api/middlewares/interceptors.js
  core/api-server/bootstrap.js
  core/api-server/config/main/config.base.js
Labels: HKube: API-Server, HKube: Trigger Service

#2176 Configure run ai gpu
  core/pipeline-driver/lib/tasks/task-runner.js
  core/task-executor/lib/consts/index.js
  core/task-executor/lib/consts/kai-values.js
  core/task-executor/lib/helpers/kubernetes.js
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/lib/utils/warningCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/kubernetesApiTests.js
  core/task-executor/tests/mocks/kubernetes-server.mock.js
  core/task-executor/tests/mocks/kubernetes.mock.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/resourcesTests.js
  core/task-executor/tests/stub/resources.js
  core/task-executor/tests/stub/templateStore.js
Labels: HKube: Pipeline Driver, HKube: Task Executor

#2177 Fix default algorithms versions
  core/api-server/lib/examples/pipelines-updater.js
Labels: HKube: API-Server

#2174 Self signed certificate for keycloak with minikube
  core/api-server/api/graphql/graphql-server.js
  core/api-server/config/main/config.base.js
  core/api-server/lib/service/keycloak.js
  core/api-server/tests/keycloak.js
Labels: HKube: API-Server
