Repository kube-HPC/hkube, pull requests merged in 2025-08, with the labels that each got.

#2198 Algorithm kinds streaming no cut stateful
  core/api-server/api/graphql/schemas/algorithm-schema.js
  core/api-server/api/rest-api/swagger.json
  core/api-server/lib/service/gateway.js
  core/api-server/lib/service/pipeline-creator.js
  core/api-server/tests/algorithms-store.js
  core/api-server/tests/mocks/algorithms.json
  core/datasources-service/api/rest-api/swagger.json
  core/datasources-service/package-lock.json
  core/datasources-service/package.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithm.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/tests/normalizeTests.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/templateStore.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2202 stop processing changes
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/worker.js
Labels: HKube: Worker

#2206 stop processing changes (#2202)
  .github/workflows/main.yaml
  .github/workflows/pr.yaml
  core/worker/lib/consumer/JobConsumer.js
  core/worker/lib/storage/storage-v1.js
  core/worker/lib/worker.js
  core/worker/package-lock.json
Labels: HKube: Worker

#2210 Boot order change (#2209)
  core/worker/bootstrap.js
  core/worker/lib/states/stateAdapter.js
  core/worker/lib/states/stateManager.js
Labels: HKube: Worker

#2207 Refactor task executor
  core/api-server/lib/state/state-manager.js
  core/task-executor/lib/consts/components.js
  core/task-executor/lib/reconcile/createOptions.js
  core/task-executor/lib/reconcile/managers/index.js
  core/task-executor/lib/reconcile/managers/jobs.js
  core/task-executor/lib/reconcile/managers/requests.js
  core/task-executor/lib/reconcile/managers/workers.js
  core/task-executor/lib/reconcile/normalize.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/lib/utils/warningCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/kubernetesApiTests.js
  core/task-executor/tests/managers.js
  core/task-executor/tests/mocks/kubernetes-server.mock.js
  core/task-executor/tests/mocks/kubernetes.mock.js
  core/task-executor/tests/normalizeTests.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/setup.js
  core/task-executor/tests/stub/clusterOptions.js
  core/task-executor/tests/stub/index.js
  core/task-executor/tests/stub/jobTemplates.js
  core/task-executor/tests/stub/jobsRaw.js
  core/task-executor/tests/stub/jobsRawTwoCompleted.js
  core/task-executor/tests/stub/jobsRawTwoCompleted.json
  core/task-executor/tests/stub/normalizedResources.js
  core/task-executor/tests/stub/podsRaw.js
  core/task-executor/tests/stub/templateStore.js
  core/task-executor/tests/stub/versions.js
  core/task-executor/tests/stub/workersRaw.js
  core/task-executor/tests/test.js
Labels: HKube: API-Server, HKube: Task Executor
