Repository kube-HPC/hkube, pull requests merged in 2025-04, with the labels that each got.

#2116 db version that enables job invoker query via graph ql
  core/api-server/package-lock.json
  core/api-server/package.json
Labels: HKube: API-Server

#2121 audit query + schema fix
  core/api-server/api/graphql/schemas/job-schema.js
  core/api-server/tests/graphql/jobs.test.js
  core/api-server/tests/graphql/queries/aggregated-job-with-audit.js
Labels: HKube: API-Server

#2122 send user and action in query
  core/api-server/api/graphql/queries/database-querier.js
Labels: HKube: API-Server

#2114 Algorunner and sidecar volumes
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithm.yaml
  core/openapi-spec/swagger/definitions/algorithms/sideCars.yaml
  core/openapi-spec/swagger/definitions/algorithms/volumeMounts.yaml
  core/openapi-spec/swagger/definitions/algorithms/volumes.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/lib/utils/warningCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/templateStore.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec

#2125 add protect to exec serach endpoint
  core/api-server/api/rest-api/routes/v1/exec.js
Labels: HKube: API-Server

#2134 now getting all pvc using namespace, and not cluster wide.
  core/task-executor/lib/helpers/kubernetes.js
  core/task-executor/tests/mocks/kubernetes-server.mock.js
Labels: HKube: Task Executor

#2137 Patch release v2.8 volumes
  core/api-server/api/rest-api/swagger.json
  core/datasources-service/api/rest-api/swagger.json
  core/gc-service/api/rest-api/swagger.json
  core/openapi-spec/swagger.json
  core/openapi-spec/swagger/definitions/algorithms/algorithm.yaml
  core/openapi-spec/swagger/definitions/algorithms/sideCars.yaml
  core/openapi-spec/swagger/definitions/algorithms/volumeMounts.yaml
  core/openapi-spec/swagger/definitions/algorithms/volumes.yaml
  core/openapi-spec/swagger/definitions/index.yaml
  core/pipeline-driver-queue/api/rest-api/swagger.json
  core/task-executor/lib/jobs/jobCreator.js
  core/task-executor/lib/reconcile/reconciler.js
  core/task-executor/lib/reconcile/resources.js
  core/task-executor/lib/utils/warningCreator.js
  core/task-executor/package-lock.json
  core/task-executor/package.json
  core/task-executor/tests/jobCreatorTests.js
  core/task-executor/tests/reconcilerTests.js
  core/task-executor/tests/stub/templateStore.js
Labels: HKube: API-Server, HKube: Pipeline Driver Queue, HKube: Task Executor, HKube: Datasources, HKube: GC-Service, HKube: OpenAPI-Spec
